[2017-11-21 08:49] Ocramius commented on #6836
Seems like a typical hydration issue. See https://ocramius.github.io/blog/doctrine-orm-optimization-hydration/

[2017-11-21 09:49] jorygeerts opened #6837 "The orm:generate-repositories command still uses psr-0"
If you run `orm:generate-repositories src/`, repositories are generated in `src/Vendor/Package/`, psr-0 style.
Given the fact that psr-0 has been deprecated for over two years, I feel it would be a good step add support for psr-4.

The most straight forward way to do this would be an extra option to `orm:generate-repositories` called `psr4-prefix` or something in that spirit. `EntityRepositoryGene

[2017-11-21 10:13] Ocramius commented on #6837
Not gonna happen: Doctrine voted against the abbreviated PSR-4 directory prefixing approach ages ago, and still stands against it.

It is needless complexity that isn't needed.

In addition to that, code generators are likely targeted for removal in 3.x.

[2017-11-21 10:13] #6837 closed

[2017-11-21 10:46] jorygeerts commented on #6837
I wasn't aware of that and a search of the issues didn't bring up anything; sorry for bringing it up again. :)
Thanks for the quick response.

[2017-11-21 10:46] julienb-allopneus commented on #6776
Hi guys @lcobucci & @akomm ,

I have written a test in the following PR https://github.com/doctrine/doctrine2/pull/6838 , please have a look and tell me what's next :-)
FYI, I have no experience in doctrine contribution and doctrine internals .

Thanks,

Julien.

cc @nio-hevea @Myloth

[2017-11-22 02:57] SerafimArts opened #6839 "Embedded + DiscriminatorMap"
It does not turn out to befriending Embedded and DiscriminatorMap and I did not find it in the documentation.

An example of a code (The code is simplified):

Table:
[code]

Main Entity:
[code]

Embedded:
[code]

In my cozy inner world, the following should happen like this (example):
[code]

But... Errors emerge, such as:
[code]

or:
[code]

...and the like.

I tried all the combinations of Embed

[2017-11-22 09:05] acelaya opened #6840 "Allow Class Table Inheritance to be used in relationships"
Hello.
The title is not very specific, so I'm going to expose the case.

I have a table structure like this:

[code]

The product table contains all generic data about banking products, and the other tables contain data which is specific for them.
The other 4 tables have a one to one relationship with product, propagating the product id as a foreign key to all of them.

The product table has a "ty

[2017-11-22 09:21] Ocramius commented on #6840
Why not simply create associations to child entities, rather than to the root of the inheritance? Filtering by type can be done via DQL and the `INSTANCE OF` expression.

[2017-11-22 09:34] acelaya commented on #6840
I'm not sure if I follow you.

The entities `Card`, `Account` and such do not inherit from Product. We didn't design it that way because we usually work with mixed collections. Lists of products usually containe cards, accounts, loans...

What you are suggesting is making those entitis inherit from `Product`?

[2017-11-22 10:08] Ocramius commented on #6840
Ah, I see what is going on. No, this is a JTI (joined table inheritance) in doctrine (HASA structure in EER if I remember correctly). In doctrine, you would model it as an inheritance.

[2017-11-22 11:59] acelaya commented on #6840
I could make them extend from `Product`, and that would give me access to the product general information when I have a `Card` or `Account` object. However, that can still be done using a regular OneToOne relationship and colling getProduct().

The thing is that the application usually works with `Product` objects only. A collection of products is always composed by many `Product` objects, each on

[2017-11-22 12:24] Ocramius commented on #6840
The inheritance mapping solves that at the cost of performance:

[code]

[2017-11-22 12:32] acelaya commented on #6840
Ok, now I get it.

That might solve the problem for me. Thank you very much for your time, Marco :-)

Im' closing this for now.

[2017-11-22 12:32] #6840 closed

[2017-11-22 13:51] plfort commented on #6819
The current behavior produces horrible performances when a lot of subselect are performed in the select clause.

[2017-11-22 14:25] axelcho opened #6841 "EntityManager::find return type is just object in the lexer."
I would like to force strict class check on find return. It is theoretically possible to return anything as a result of EntityManger::find

Also, on EntityManager::persist($entity), there is no type hint on $entity, and theoretically I can pass any object to the entity.

[2017-11-22 14:34] mvrhov commented on #6819
AFAIK the double sort was kept because the PHP would die with core dump. At least this was the case with both 5.3 and 5.4 versions at that time.

[2017-11-22 14:40] coudenysj commented on #6841
A good solution is to use Repositories (http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/working-with-objects.html#custom-repositories) for that.

You can implement a "find" method there (which is basically the same as doing it in the EM).

As for the persist type hint, you could add a "save" method to the Repository with a type hint.

[2017-11-22 14:42] Ocramius commented on #6841
@axelcho this is because the ORM actually accepts any object, and will fail only when the given object is not mapped.

This is by design, as PHP has no better type system to work with.

Closing as `invalid`

[2017-11-22 14:42] #6841 closed

[2017-11-22 14:44] plfort commented on #6819
@mvrhov Sorry but I don't get the point, can you be more specific ?

[2017-11-22 21:56] mvrhov commented on #6819
I just wanted to tell you, that there is the reason that this was kept.

[2017-11-23 08:18] plfort commented on #6819
Ok but what do you mean with "postgresql requires this ...".

[2017-11-23 08:46] clementtalleu opened #6842 "Mapping types does not work with database url"
In the doctrine configuration, the property `database_url` seems not work correctly with the `mapping_types` config node.

I have to write each nodes host/port/dbname/user/password to use the mapping_types configuration

[2017-11-23 08:51] mvrhov commented on #6819
That you should run the same query on whatever database you are using and the postgresql.
Most complaints here are from ppl. using MySQL which is not SQL standard conformant.

[2017-11-23 09:21] ossinkine commented on #6835
Guys, you are guru of DDD and of other cool things, give me an advice.
I want to keep separately my Doctrine entities and Domain models according to persistence ignorance practice.
My business logiс should work with models and domain managers (which can create and update models), and domain managers should work with entities or documents or something else.
What is your opinion, is it a good way?
I

[2017-11-23 12:04] dkarlovi commented on #4632
What would be an actual solution here?

Doctrine is using the __toString version to bind to a query, but here there's actually a database version and a "human readable" version, much like the types stuff. Binding anything that comes out of __toString seems wrong, it should use the type system. Am I missing something?

[2017-11-23 17:14] octaharon opened #6845 "DDL generated repeatedly on schema:update with same Schema, if "default" value is missing"
That seems quite a minor bug but still can cause some problems, esp. when using Migrations bundle

So if an entity has a field described like that
`@ORM\Column(name="field", type="integer", length=8, options={"default"})`

it doesn't cause any errors both on schema:update or schema:validate, but they repeatedly report a difference in that field, and "update" tries to perform the following query
`A

[2017-11-24 02:00] #6699 closed

[2017-11-24 08:44] avg0043 opened #6846 "Native SQL: set types of multiple query parameters"
I'm using NativeSQL and I need set an **undefined** number of parameters. My code:

[code]

I need to set the type of every query parameters but setParameters() function doesn't allow pass this types.

I see that setParameter() function of AbstractQuery (Doctrine class) allow pass this types, but I would like to use setParamaters() function because I have to pass an undefined number of paramaters.

[2017-11-24 09:54] lcobucci commented on #6839
@SerafimArts embeddables are not entities but value objects, which means that we don't support that. In order to achieve the result you want you should use a 1-to-1 or many-to-1 association (or not use inheritance at all).

Embedded objects are going to suffer a major redesign on `v3.0` but for that these are the options we have.

[2017-11-24 09:54] lcobucci commented on #6839
I'll close the issue, please reopen if you have further questions 👍

[2017-11-24 09:54] #6839 closed

[2017-11-24 10:00] lcobucci commented on #6845
@octaharon this is a DBAL issue, and it looks like it's related to https://github.com/doctrine/dbal/pull/2850 and https://github.com/doctrine/dbal/pull/2825. Could you please check if these PRs fixes your problem (and maybe move this discussion to DBAL instead)?

[2017-11-24 10:37] lcobucci commented on #6445
@benito103e @Tykzz the schema is compared using DBAL, which version of `doctrine/dbal` do you have installed?

Could you try to send a failing functional test on DBAL so that we can investigate what's happening (or at least create the an issue there)?

[2017-11-24 10:40] lcobucci commented on #6835
@ossinkine if you're using a service bus to encapsulate the execution of handlers (what you're calling a "domain manager") you can use a middleware that would start the transaction and call the `flush()` after things were processed (if you don't have an exception, sure).

With that your handlers should simple use the repositories to fetch/append/remove objects and modify the object state to update

[2017-11-24 10:41] lcobucci commented on #6835
I'll be closing this issue since it has already been answered by @Ocramius =)

[2017-11-24 10:41] #6835 closed

[2017-11-24 10:45] lcobucci commented on #6842
@clementtalleu I'm not sure of what exactly you're talking about. Is this about the configuration of the ORM using the module or bundle? If so, you should open the issue on https://github.com/doctrine/DoctrineBundle or https://github.com/doctrine/DoctrineORMModule

[2017-11-24 10:46] lcobucci commented on #6842
I'll close this issue as invalid since I think it doesn't belong here, feel free to reopen if this is not accurate.

[2017-11-24 10:46] #6842 closed

[2017-11-24 10:50] lcobucci commented on #6795
@sazzabi I tend to agree with @Ocramius here. If you still want to proceed with this approach and think that more people can benefit from that, I suggest you to create a library out of these classes and make it available on packagist 👍

[2017-11-24 10:50] lcobucci commented on #6795
I'll close this as `won't fix` based on this conclusion.

[2017-11-24 10:50] #6795 closed

[2017-11-24 10:52] lcobucci commented on #6628
@Narcotic should we close this?

[2017-11-24 11:50] clementtalleu commented on #6842
Sorry I just saw that I open this issue on the bad repository.
My bad. ;)

[2017-11-24 12:52] Narcotic commented on #6628
Yes!

[2017-11-24 12:55] lcobucci commented on #6628
Closing as `invalid` since it's not an ORM issue.

[2017-11-24 12:55] #6628 closed

[2017-11-24 12:56] lcobucci commented on #6842
@clementtalleu no worries!

[2017-11-25 16:17] vpArth opened #6847 "Any way to detect entity was removed?"
[code]

As far as I can to understand, `refresh` does renew for retrieved data only, so `$model` entity is not changed at all.

I also tried:
[code]
And `$model` still contains all data.

[2017-11-25 16:48] vpArth commented on #6847
Hm, I'm sorry, this issue relates to transactions flow, not to Doctrine directly.

[2017-11-25 16:48] #6847 closed

[2017-11-25 18:38] lcobucci commented on #4161
This issue seems to be a wrong usage of the database itself and has nothing to do with the ORM, since although it's not really valid it's being sent to the platform the way the user expected. So I'll close it as invalid but we can reopen it if I'm terribly wrong.

[2017-11-25 18:38] #4161 closed

[2017-11-25 18:45] lcobucci commented on #6726
@greg0ire isn't this solved by using the "unique" attribute on the join-column?

[2017-11-25 21:45] greg0ire commented on #6726
It's a composite key, so there are several join non unique columns, and there should be a unique index on those

[2017-11-26 09:00] lcobucci commented on #6726
@greg0ire got it, I've missed that detail. It's indeed not supported AFAIK but, since the mapping is being completely refactored on v3 by @guilhermeblanco I think it makes sense to add this as a feature request for that version...

[2017-11-26 10:18] dewos commented on #5929
Hi @Ocramius, sorry for coming back to this after so long, but I need to understand.

With a "plain" doctrine configuration/driver it is safe to assume that the uow is still valid with not-db related exceptions?

Most of the time in transactional() the exception is thrown before the commit/flush for other reasons, also. Thank you for your time.

[2017-11-26 13:41] lcobucci commented on #6761
As explained on #6775 this is a DBAL issue and so I'll be closing this ticket as `invalid`. We should move the test and find a fix for it on https://github.com/doctrine/dbal instead.

[2017-11-26 13:41] #6761 closed

[2017-11-26 14:52] lcobucci commented on #6757
@peter-gribanov we have to consider that `COUNT(*)`, `COUNT(id)`, and `COUNT(1)` have different behaviour (specially if you have nullable fields) and since the ORM cannot infer which behaviour the user wants when having composite fields it expects the user to provide the correct field(s). So unfortunately this is something we won't otherwise it might break things.

It's also important to state tha

[2017-11-26 14:52] lcobucci commented on #6757
I'll close this issue as `Can't Fix` due to given explanation.

[2017-11-26 14:52] #6757 closed

[2017-11-26 15:12] lcobucci commented on #6117
@mittahru the problem is happening because your mapping is incorrect... since `$parent` is a nullable field the join columns should also be nullable (and they should not use the same columns of the entity itself), like:

[code]

With mapping above the test bellow passes with no issues:

[code]

[2017-11-26 15:13] lcobucci commented on #6117
I'll close this ticket as `Invalid` due to the given explanation.

[2017-11-26 15:13] #6117 closed

[2017-11-26 15:16] lcobucci commented on #6729
I'll close this issue since @Ocramius already provided an explanation. Feel free to reopen if you think it's needed.

[2017-11-26 15:16] #6729 closed

[2017-11-26 15:22] lcobucci commented on #6753
@manfredjb I'm sorry but I think that the ORM shouldn't handle platform-specific things. To be honest I'd say that we could use the DBAL connection directly because you don't even need the ORM stuff to build this query (your desired result set contains only one column and not the entity).

[2017-11-26 15:25] lcobucci commented on #6753
I'll close this as `Won't fix` due to given explanation, please re-open if you feel the need of discussing it further.

[2017-11-26 15:25] #6753 closed

[2017-11-26 16:07] #6682 closed

[2017-11-26 16:47] lcobucci commented on #5929
@dewos it's not safe to assume that the UoW will be valid even having non-db related exceptions, because one might have already added some items to be persisted before of throwing any exception. Since the ORM doesn't have control over users' actions it cannot assume anything.

Also, `EntityManager#transactional()` is essentially a generic helper, if your use case is different than that you shouldn

[2017-11-26 17:18] lcobucci commented on #4846
@binarious it should be, but we don't have a stable release for `v2.6.0` so you'll have to use `v2.6.x-dev` to use this feature for now.

[2017-11-26 17:19] lcobucci commented on #4846
I'll close this issue since it was handled via #6143, please reopen if you feel it's needed.

[2017-11-26 17:19] #4846 closed

[2017-11-26 17:21] lcobucci commented on #5631
@BuzzLeitinho could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-11-26 17:54] #6029 closed

[2017-11-26 19:55] #6703 closed

[2017-11-26 19:58] lcobucci commented on #6703
@lcp0578 handled in #6849. It will be available on `v2.6.x` only.

[2017-11-26 20:05] lcobucci commented on #6712
@t11n comparing `DateTime` objects is actually fine, but maybe we should be using the space ship operator instead of `($aValue > $bValue) ? 1 : -1`. But regardless of that, could you send a PR with a failing functional test? That would be really helpful!

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional

[2017-11-26 20:10] lcobucci commented on #6716
Closing as `Won't Fix` due to @Ocramius comments.

[2017-11-26 20:10] #6716 closed

[2017-11-26 20:11] lcobucci commented on #6744
Closing as per @Ocramius' comment.

[2017-11-26 20:11] #6744 closed

[2017-11-26 20:26] lcobucci commented on #6741
Closing as `Won't Fix` as per @Ocramius' comments

[2017-11-26 20:26] #6741 closed

[2017-11-26 20:30] lcobucci commented on #6718
@alissonschneiderr could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-11-26 20:36] lcobucci commented on #5692
@caudurieauelma could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-11-26 20:41] lcobucci commented on #6752
@greg0ire this seems to be related to https://github.com/doctrine/dbal/pull/2850, apart from the JSON stuff which is probably related to https://github.com/doctrine/dbal/pull/2855.

But regardless of anything is a DBAL issue, can you please close it here and create a new issue there (if it's still happening on the latest DBAL release, sure).

[2017-11-26 20:45] lcobucci commented on #6754
@zerocrates `Setup::createConfiguration()` is a generic way to create an ORM configuration and (IMO) should be used only for setting things up quickly, if you want to define the configuration properly you should create it by yourself (which quite simple to be honest).

If you want to use it you can still specify which cache driver you want to use, so that's already flexible enough IMO.

[2017-11-26 20:46] lcobucci commented on #6754
Closing as `Won't Fix` as per my comment.

[2017-11-26 20:46] #6754 closed

[2017-11-26 20:47] lcobucci commented on #5699
@iskyd @whatda @flack could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-11-26 20:49] flack commented on #5699
@lcobucci I can make a unittest if you want, but it's really very simple. The code to reproduce is right there in the ticket description

[2017-11-26 20:51] lcobucci commented on #6763
@zbyyna there are differences between a `FUNCTION` and a `PROCEDURE`, procedures can't return values.

[2017-11-26 20:53] lcobucci commented on #6763
But maybe you're looking for a `VIEW` instead?

[2017-11-26 20:53] lcobucci commented on #6763
Closing as `Invalid` since it's not an ORM issue.

[2017-11-26 20:53] #6763 closed

[2017-11-26 20:55] lcobucci commented on #5801
@mkruk-u2 could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-11-26 20:57] lcobucci commented on #6804
I'll close this issue since it has been answered by @Ocramius. Please re-open it if you feel the need of discussing it further.

[2017-11-26 20:57] #6804 closed

[2017-11-26 21:01] lcobucci commented on #5699
@flack so, please, send us PR 👍

[2017-11-26 21:04] lcobucci commented on #6822
@hq9000 things here are a bit confusing, could you send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-11-26 21:05] lcobucci commented on #6822
@hq9000 also, why do you want to couple this to the ORM event system? Using your own events should be simpler (but please don't call `flush()` more than once on a single operation).

[2017-11-26 21:08] lcobucci commented on #6745
This seems to be related to https://github.com/doctrine/doctrine2/pull/6701 (and duplicates #6531 and #6043).

@va5ja you can use a pre-generated value as ID in order to solve this for now (UUID, for example).

[2017-11-26 21:10] lcobucci commented on #6492
@andrconstruction it would be 100% easier for us to help you if you could send us a failing test case that reproduces that behaviour, can you please do that?

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-11-26 21:48] lcobucci commented on #6809
@bizmate I kind of have mixed feelings about this... I'm not sure if it should be up for the ORM to handle orphan removals for that type of associations.

TBH I believe that is related to a design smell. For example, the "ingredient in a recipe" use case you provided should be seen (and mapped) differently IMO. I believe that there's a missing association between a `Recipe` and an `Ingredient`, wh

[2017-11-26 21:51] lcobucci commented on #6790
Closing as `Invalid` since it's DBAL issue and should be already fixed when using `v2.7.x-dev` version of `doctrine/dbal`.

[2017-11-26 21:51] #6790 closed

[2017-11-26 22:31] #6752 closed

[2017-11-26 22:31] greg0ire commented on #6752
I'll try to remember to test tomorrow at work :P

[2017-11-27 00:46] lcp0578 commented on #6703
@lcobucci thx

[2017-11-27 06:48] lcobucci commented on #6814
@toby-griffiths as @davoc said, you can only create a unique index for a column with known length (for string columns, sure).

[2017-11-27 06:49] lcobucci commented on #6814
I'll close the issue since the answer has been provided.

[2017-11-27 06:49] #6814 closed

[2017-11-27 06:55] lcobucci commented on #6824
@dmytroboiko have you tried to use the type that the documentation recommends (text)? http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/types.html#character-string-types

[2017-11-27 06:57] lcobucci commented on #6816
@carnage could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-11-27 07:02] lcobucci commented on #6823
@NathanBaulch could you please send us a failing test case that reproduces that behaviour (maybe even the fix)? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-11-27 07:58] mittahru commented on #6117
@lcobucci thanks a lot!

[2017-11-27 08:27] dmytroboiko commented on #6824
@lcobucci, Yes I tried. But if I setted type: `text` and length: `1.5E6`. Command `php bin/console doctrine:schema:update --dump-sql` create field `description` with type TEXT independently of the length settings

[2017-11-27 08:29] lcobucci commented on #6824
@dmytroboiko this sounds like a DBAL issue then, can you please send us a PR over there with a failing test case?

[2017-11-27 08:30] benito103e commented on #6445
I use "doctrine/dbal" v2.5.12 and use SQLITE.

Let's see how it goes with any entities that have a oneToMany relation :
[code]

And the result :
[code]

I can force an update, the result stay the same.

[2017-11-27 08:31] lcobucci commented on #6824
I'll also close this issue since it doesn't seem to be related to the ORM, don't forget to add a link to it on the DBAL PR.

[2017-11-27 08:31] #6824 closed

[2017-11-27 08:36] lcobucci commented on #6445
DBAL 2.5.x is not actively maintained (only security issues gets backported), so try to upgrade to 2.6. If you don't manage to solve it please send the failing functional test on DBAL.

[2017-11-27 08:37] lcobucci commented on #6445
You can use these tests as example: https://github.com/doctrine/dbal/blob/954ce2e82c5892dfbd51c4bf5bd154c85fc3ecf8/tests/Doctrine/Tests/DBAL/Functional/Schema/SchemaManagerFunctionalTestCase.php#L1206-L1336

[2017-11-27 08:38] lcobucci commented on #6445
I'll close this issue because it seems to be related to DBAL rather than the ORM. Please reopen it if you feel the need of further discussion.

[2017-11-27 08:38] #6445 closed

[2017-11-27 09:08] benito103e commented on #6445
@lcobucci thanks, dbal 2.6 is only for PHP 7.1 so i won't update.

[2017-11-27 10:16] greg0ire commented on #6752
Ok so I still have an issue, but it is different. See https://github.com/doctrine/dbal/issues/2926

[2017-11-27 10:24] dtdigio commented on #5983
I have the same issue using FOSElasticaBundle. Like pointed out in #4541, there is a change that fixes this. Reverting commit 097840d. But this may break other things. Are there any plans to fix this in the near future?

[2017-11-27 10:48] t11n commented on #6712
@lcobucci Thanks for looking into the issue.

I prepared three tests, that demonstrate the problem: https://github.com/doctrine/doctrine2/pull/6851
(branched from v2.5, since I do not have a php7.1 setup running, yet)

First test shows sorting by scalar values, that works as expected. The other two tests sort by fields, where first ordered by field is a DateTime object and a general stdClass.

It

[2017-11-27 16:19] octaharon commented on #6845
No, I believe it's not related, since I can reproduce it on MySQL server as well. Despite that I've tried both PR's - didn't change anything regarding the issue mentioned.
My point was not that the behaviour itself should be considered "invalid", it's just neither documented nor validated to declare a field with just `options={"default"}`. So it's not really clear how it SHOULD behave with things

[2017-11-27 16:28] lcobucci commented on #5983
This seems to be related to https://github.com/doctrine/doctrine2/pull/6701 but kind of unsure, could someone send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-11-27 22:10] lcobucci commented on #6810
Handled via #6818

[2017-11-27 22:10] #6810 closed

[2017-11-28 10:32] Soullivaneuh commented on #4291
@guilhermeblanco It's a great news! :-)

Do we already have commit about the concerned chance or is this not worked yet?

[2017-11-28 11:17] bizmate commented on #6809
hi @lcobucci
thanks for the input but I think the choice should be the system designer's depending on business requirements. In each application it is up to business requirements if Ingredients should be kept or not. Normalisation and consistency would always indicate to remove data and entities that are not conceptually used.

Also in your case you are changing the use case. The mapping entity wo

[2017-11-28 12:06] lcobucci commented on #6809
@bizmate you're definitely correct here, but what I meant is that I don't think this should be part of the lib at all. The complexity involved on supporting `orphanRemoval` for `many-to-*` associations is quite huge, specially when having multiple `many-to-*` associations on different entities to the same one (e.g.: entity `A`, `B`, and `C` have a `many-to-one` with `D`), is quite huge and the ben

[2017-11-28 17:15] holtkamp opened #6855 "Lifecycle callbacks on embeddables, possible or not?"
Encountered behaviour where embeddables seem not to respect lifecycle callbacks, but do "listen" to a given configuration, as also [described here](https://groups.google.com/forum/#!topic/doctrine-user/g2_vurFHEMM).

The [documentation](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/events.html#lifecycle-callbacks) does not mention embeddables, so I suppose it is not su

[2017-11-28 17:16] Ocramius commented on #6855
Not possible: an embeddable has no lifecycle on its own. The lifecycle is
the one of the entity.

On 28 Nov 2017 18:15, "Menno Holtkamp" <notifications@github.com> wrote:

[2017-11-28 17:18] holtkamp commented on #6855
Wow, < 1 minute response time, raspact!

Should I submit a PR for the documentation on the Entity LifeCycle to explicitly indicated this will not work for embeddables? Or... is that too much ;). Maybe others have the same "use case".

[2017-11-28 17:22] Ocramius commented on #6855
Sending a PR to the docs would be fab!

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Tue, Nov 28, 2017 at 6:18 PM, Menno Holtkamp <notifications@github.com>
wrote:

[2017-11-29 08:57] julienb-allopneus commented on #6776
Hi all,

Any news/advice on the test I wrote?
@lcobucci , is it ok for you?

Thanks,

Julien.

[2017-11-29 10:39] jaikdean commented on #5687
I think this has been fixed by #6740

[2017-11-29 10:40] #5687 closed

[2017-11-29 10:41] jaikdean commented on #6036
I think this is fixed by #6740

[2017-11-29 13:45] simara-svatopluk opened #6856 "Flushing one entity flushes also changes done in not related PersistentCollection"
Scenario:
* Let's assume a couple of entities with collections in a database
* Select two and clean their collections
* Flush only one entity
* The other entity collection is also flushed - bug

The problem is that PersistentCollection manipulate directly UnitOfWork and changes are flushed even if some another entity is flushed.

Test: https://github.com/simara-svatopluk/doctrine2/commit/200f659d6

[2017-11-29 13:47] Ocramius commented on #6856
`flush($foo)` is a performance optimisation, not a restriction. Calling `flush($foo)` is:

 * deprecated
 * not endorseable, as it just means "check for changes in `$foo`, whilst still saving changes computed so far

[2017-11-29 13:47] #6856 closed

[2017-11-29 13:55] simara-svatopluk commented on #6856
Thank for an extremely fast response!

Am I able to determine which changes will be persisted and which not? Because detach is (or will be) deprecated too.

The whole use-case is that I'm implementing Repositories from DDD, and in one repository I assume that only one aggregate will be written to database/storage. I do not assume that the whole system state will be persisted.

[2017-11-29 13:57] Ocramius commented on #6856
It is possible to check that during the `onFlush` event, but I suggest avoiding going down that road.

Then you will need an `EntityManager` instance per repository ;-)

[2017-11-29 14:16] lcobucci commented on #6856
Just to make sure... you're not flushing in the repository, right?

[2017-11-29 14:16] simara-svatopluk commented on #6856
@lcobucci yep, I do. Do You suggest a better place?

[2017-11-29 14:20] simara-svatopluk commented on #6856
This wouldn't help either because all instances of a class will be flushed.

[2017-11-29 14:42] lcobucci commented on #6856
@simara-svatopluk IMO repositories should only call `persist()` or `remove()`, the flushing should be controlled by an upper layer (the one that handles the transactional part of your software). For example, I use tactician to handle commands/queries and I have a [middleware](https://github.com/thephpleague/tactician-doctrine/blob/master/src/ORM/TransactionMiddleware.php) which calls `EntityManage

[2017-11-29 15:23] simara-svatopluk commented on #6856
@lcobucci  You made me think, thanks! I'll start from the end...

Transactions - You are right, sometimes inter-aggregates consistency is required.

I understand that `EntityManager#flush()` means - And now save everything that is handled by UnitOfWork to the database.

And now the most difficult - what is a repository?

For me, a repository is an abstract drawer (interface). I can look for a give

[2017-11-29 19:55] egonolieux opened #6857 "Calling entityManager#flush in preFlush event listener causes infinite recursive loop"
To override the default commit order for collections because of a unique constraint (delete before insert instead of insert before delete), I manually add removed collection items to a separate array inside the entity instead of using `orphanRemoval`. In a `preFlush` event listener I call `entityManager#remove` on each removed collection item followed by `entityManager#flush`.

However, this seems

[2017-11-29 19:58] Ocramius commented on #6857
This is a mistake in the documentation: flushing inside lifecycle event listeners is generally NOT supported.

[2017-11-29 20:09] egonolieux commented on #6857
Alright, that explains a lot. Could you please fix the documentation so that others won't make the same mistake?

[2017-11-29 20:09] #6857 closed

[2017-11-29 20:11] Ocramius commented on #6857
Please send a patch: the documentation is in this repository

On 29 Nov 2017 21:09, "Egon Olieux" <notifications@github.com> wrote:

Alright, that explains a lot. Could you please fix the documentation so
that others won't make the same mistake?

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/doctrine/doctrine2/issues/6857#issue

[2017-11-29 20:12] henrypenny commented on #6049
I have often wanted to change or decorate entities provided third party Symfony bundles that include Doctrine entities. For example in FosUserBundle I almost always want to change the User entity to add extra fields. Luckily in this case FosUserBundle allows this possibility through its configuration. However, most other bundles don't offer this option.

[2017-11-29 20:25] egonolieux commented on #6857
Created a pull request: https://github.com/doctrine/doctrine2/pull/6858

[2017-11-30 09:40] przemyslaw-leczycki-valueadd commented on #6558
Hi @Ocramius I've got related problem to this.
My entity structure is
[code]
I've got discriminators specified in Item class.
Item is an abstract class as well as Media.

If I use `$mediaRepository->find($id)` everything works fine
[code]
if I use `$itemRepository->find($id)` none of the values from Media Entity are populated to leaf entity.
[code]
As you see on attached SQL dumps in second exampl

[2017-11-30 10:17] cyframepaul commented on #6710
@nuncanada you can just extend the [OraclePlatform getIntegerTypeDeclarationSQL](https://github.com/doctrine/dbal/blob/master/lib/Doctrine/DBAL/Platforms/OraclePlatform.php#L270) in your project if you have this requirement. Alternatively, you could [add a custom mapping type](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/cookbook/custom-mapping-types.html) that extends IntegerT

[2017-11-30 11:02] davedevelopment opened #6859 "PHP 7.2 and EntityRepository::find signature mismatch"
[code]

[code]

Runnable: https://3v4l.org/2akM2

I think this is a bug in PHP 7.2 and if not, I can't see it mentioned anywhere in changelogs etc, but I thought it might be worth tracking here. Someone else has reported it to PHP: https://bugs.php.net/bug.php?id=75590

[2017-11-30 11:42] toby-griffiths commented on #6814
This isn't correct.  You can have indexes on TEXT fields… you just need to specify the length of the index.  Perhaps this could be re-opened so that someone who has time could add support for this?

[2017-11-30 12:04] cyframepaul commented on #5845
@Ocramius  This is Oracles version of AUTO_INCREMENT. It was introduced in Oracle 12c.
https://oracle-base.com/articles/12c/identity-columns-in-oracle-12cr1

It is possible that the MySQL implementation (autoincrement in column def) could be reused here without too much modification. At present Doctrine uses a [sequence+trigger with Oracle](https://github.com/doctrine/dbal/blob/4f7c1b7231e64e1c0b3

[2017-11-30 12:08] Ocramius commented on #5845
Pretty much

[2017-11-30 12:56] lcobucci commented on #6814
@toby-griffiths sure but have you tried to configure the length of the column on the property (instead of the size of the index)?

http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/basic-mapping.html#property-mapping

[2017-11-30 13:04] lcobucci commented on #6036
@jaikdean thanks! closing then 👍

[2017-11-30 13:04] #6036 closed

[2017-11-30 13:43] toby-griffiths commented on #6814
I'm pretty sure I dug into the code that generates the code for the index part of the query and there's nothing there to include a length, so specifying the 'length' attribute on the field will not affect the unique index.
This could be a way to implement this… but this would probably be confusing.  Maybe using 'index_length' instead attribute should be used instead.

I'm sorry, I'm not in the pro

[2017-11-30 16:59] Majkl578 commented on #6529
Merged into develop in 9f5fd3713fa0c8f34a47519ea78d2a6337d65a22.

[2017-11-30 16:59] #6529 closed

[2017-12-01 00:39] Majkl578 commented on #6859
This is not a bug in Doctrine and this isn't a bug in PHP either. Your code violates LSP so you are correctly warned about it. I don't think this could even be called BC break as it is obvious bug in user code and also code smell.

I suppose it may be related to [Type Widening RFC](https://wiki.php.net/rfc/parameter-no-type-variance) but I may be wrong.

[2017-12-01 00:39] #6859 closed

[2017-12-01 22:15] Tykzz commented on #6445
@lcobucci
I was using 2.6.2, I've updated to 2.6.3 but nothing has changed.
Here is the test, not sure if done right:
[code]

Now I'm wondering, shouldn't the ORM mapping cause creating foreign keys on the `projects_tags` table?

[2017-12-03 03:19] kejwmen commented on #6846
The way you use `setParameters` is the old way.
After https://github.com/doctrine/doctrine2/pull/360 (from 2012) you should define them using `Parameter` objects:

[code]

[2017-12-03 11:56] Bukashk0zzz commented on #6565
With "doctrine/dbal": "2.7.x-dev@dev" issue steel exist

[2017-12-03 16:06] belgattitude commented on #6565
@Bukashk0zzz

Can you confirm, I don't have it anymore: My composer:

[code]

[2017-12-03 17:31] Bukashk0zzz commented on #6565
Tested with mariadb 10.2.11 and 10.3.1 official docker image.

in composer
[code]

Always get diff with null on every field.
On percona 5.7 and standard mysql 5.7 all works correct.

[2017-12-03 20:43] belgattitude commented on #6565
@Bukashk0zzz,

Have you recreated the database before testing ? It's possible you've already applied the migration with 'NULLs' prior to the patch (so your default values have been broken). Can be an possibility too

[2017-12-03 23:16] tristanbes commented on #6307
Problem is happening to me too.

Something as simple as
[code]

The check Always returns falwe because `->contains` does not initialize the collection.
When dumping the `getTeams()`, it's `#initialized: false` (PersistentCollection)

My `obj` have the following property:

[code]

[2017-12-04 10:44] bitwombat commented on #6083
Fixed in #6456

[2017-12-04 10:44] #6083 closed

[2017-12-04 11:02] Bukashk0zzz commented on #6565
Made clear demo example https://github.com/Bukashk0zzz/dbal-test

With code in repo above I every time get diff. You can check it by yourself

<img width="1234" alt="screen shot 2017-12-04 at 12 57 10" src="https://user-images.githubusercontent.com/1908342/33549454-3589ce30-d8f3-11e7-88a3-6bf0c7f64bc0.png">

[2017-12-04 11:04] Bukashk0zzz commented on #6565
I have one entity https://github.com/Bukashk0zzz/dbal-test/blob/master/src/Entity/Admin.php

And one init migration https://github.com/Bukashk0zzz/dbal-test/blob/master/src/Migrations/Version20171204100535.php

How I run project https://github.com/Bukashk0zzz/dbal-test/blob/master/up.sh

[2017-12-04 11:24] belgattitude commented on #6565
@Bukashk0zzz

Can you check by commenting `server_version: '5.7'` in `config/packages/doctrine.yaml` ?

Like this:
[code]

[2017-12-04 11:36] belgattitude commented on #6565
With the commented server_version, everything looks good so far. Am I missing something ?

![image](https://user-images.githubusercontent.com/259798/33550862-b4ea285e-d8ef-11e7-9e73-acae3671007c.png)

[2017-12-04 11:44] Bukashk0zzz commented on #6565
Still has problem with commented server_version: '5.7'

At your screenshot you just run migrations. Try run now for getting diff:
[code]

[2017-12-04 12:46] belgattitude commented on #6565
@Bukashk0zzz ...

Thanks, I can reproduce now... Could you help me to determine where the problem is ? I've just checked your [entity](https://github.com/Bukashk0zzz/dbal-test/blob/77ba5e40f1ccdc83ccdf67a6cd5c7e8e7ecc020a/src/Entity/Admin.php#L41), could you remove `unsigned` if you're using `booleans` ?

[code]

And test with doctrine commands:

[code]

It looks working... Either you change the `

[2017-12-04 12:59] belgattitude commented on #6565
Oups, just installed mysql-5.7... So with your entity, looks there's a diff generated as well:

[code]

So I guess the same behaviour is for MySQL 5.7 too. So the way to fix is to fix your entity. Is there anything I missed ?

[2017-12-04 13:05] Bukashk0zzz commented on #6565
Updated repo. Now boolean not unsigned.

Still get diff:

 ALTER TABLE admins CHANGE login login VARCHAR(255) DEFAULT NULL, CHANGE password password VARCHAR(255) DEFAULT NULL;

Also on percona and official mysql all works correct.

[2017-12-04 14:03] belgattitude commented on #6565
@Bukashk0zzz

Looks you've forget to remove 'server_version' ?  I've made a p/r, have a look:

Could you test by doing (exactly) this:

[code]

What I have is

[code]

[2017-12-04 14:35] belgattitude commented on #6565
Also note in your `symfony.lock`:

[code]

Not sure exactly how it can affect.... but it could be the problem. To be sure check:

[code]

If you're on the good doctrine version, you should have a `MariaDb102Keywords.php` file in it.

[2017-12-04 14:49] avg0043 commented on #6846
It works perfectly. Thanks!

[2017-12-04 14:49] #6846 closed

[2017-12-04 15:56] Bukashk0zzz commented on #6565
Commenting 5.7 helped
Now all works correct. So there was two problems:
- # server_version: '5.7' in config
- unsigned bool in mapping

Add travis check for this case https://travis-ci.org/Bukashk0zzz/dbal-test/builds/311377116

[2017-12-04 16:15] mdeboer commented on #6565
Glad it's fixed (by the looks of it), when will this make it to master?

[2017-12-04 17:35] belgattitude commented on #6565
@Bukashk0zzz, happy for you. server_version will bypass database detection, that explains. For the other one: `unsigned bool in mapping`, unsigned boolean (really tinyint(4)) does not play well with schema manager (same applies for Mysql 5.7, could you confirm ?).

@mdeboer Don't know when they are able to release, but in the meantime, please be welcome to test ;)

[2017-12-05 04:58] FyiurAmron opened #6863 "validate for column/table names not being reserved keywords"
FWIW, there's a lot of StackOverflow/GitHub issues about people who used one of many SQL's reserved keywords in their ORMs:

https://stackoverflow.com/questions/20798240/doctrine2-sqlstate42000-syntax-error-or-access-violation-1064
https://stackoverflow.com/questions/35154203/sqlstate42000-syntax-error-or-access-violation-1064-symfony-2-7-3-applicatio
https://stackoverflow.com/questions/23446377/s

[2017-12-05 06:04] holantomas opened #6864 "DBALException bin2hex() expects parameter 1 to be string, resource given"
Hi,
I have entity `FileContent` with few properities `id`,`bytes`. `bytes` is `blob`. When I'm saving  file stream from upload to DB it try to throw exeption bellow but it fall on param formating when it try to call bin2hex on stream resource (uploaded file).

Trying to throw exception
`SQLSTATE[08S01]: Communication link failure: 1153 Got a packet bigger than 'max_allowed_packet' bytes"`

[code]

[2017-12-05 07:21] Ocramius commented on #6864
Could you maybe add a test case that reproduces the issue, so we can prevent regressions on a fix?

[2017-12-05 07:22] Ocramius commented on #6863
The idea for 3.x is to break BC with case sensitivity issues and always
quote identifiers, so the issue would disappear when that's implemented.

On 5 Dec 2017 05:58, "FyiurAmron" <notifications@github.com> wrote:

[2017-12-05 08:07] holantomas commented on #6864
Error is depend on your mysql settings of `max_allowed_packet`. By default it's set to 16M. I tried to upload PHP stream resource with 20MB file.

Database definition ofr example.
[code]
This throws what I'm talking about. Sorry don't know if you need something better.
`tmpfile()` is usage just for create stream resource which cause app fall

[code]

[2017-12-05 08:12] Ocramius commented on #6864
Right, and a test case would:

 1. `str_repeat('a', $db->select('SELECT setting FROM
settings_table')->fetchColumn(0) * 1024 * 1024);`
 2. write it to a temporary resource (`php://temp`)
 3. perform an insert on that table and cause an exception to be thrown

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Tue, Dec 5, 2017 at 9:07 AM, Tomáš Holan <notifications@github.c

[2017-12-05 09:13] holantomas commented on #6864
I really don't know what you want. So I found that this issue is DBAL problem so I will close this after your answer and recreate it in right repository. But for clean I did test case commit to Doctrine/DBAL. Is'nt that better?

https://github.com/doctrine/dbal/commit/9f1c15815bec44bc198ce4aabe02680e1368249d

[2017-12-05 09:23] holantomas commented on #6864
I'm ready to make PR for this commit.

Or better this can be fixed by editing `Doctrine\DBAL\DBALException::formatParameters()` to something like this:
[code]

[2017-12-05 09:25] Ocramius commented on #6864
@holantomas that test looks good, but indeed it is on the DBAL project. Open a PR and we'll close this one :-)

[2017-12-05 10:02] Bukashk0zzz commented on #6565
@belgattitude https://github.com/Bukashk0zzz/dbal-test/pull/2 as you can see mysql 5.7 have not any issue with unsigned int. There are problems only with mariaDB

Check travis buid https://travis-ci.org/Bukashk0zzz/dbal-test/builds/311772602?utm_source=github_status&utm_medium=notification

You can create pull-request to this repo and test any cases you want.

[2017-12-05 11:34] albe opened #6865 "No default values for orphanRemoval on relation annotations"
Currently, the relation annotations specify a default value of `false` for the `orphanRemoval` attributes. Most other attributes don't have default values though. The default makes sense generally and is also checked and reestablished inside the ClassMetadataInfo methods, when the mapping information is validated.

**Here is the use case for different needs:**
In Neos Flow Framework, we implement

[2017-12-05 11:57] belgattitude commented on #6565
@Bukashk0zzz

Nope ! Your travis build show there's no migration, right ! But your entity does not have `unsigned:true`. So it's meaningless...

To figure out, please test with 'unsigned:true' AND mysql5-7 (both conditions, don't forget to remove existing migrations `rm -f src/Migrations/*.php` if needed).

Anyway I just did the test on my laptop with mysql-5.7. And I can confirm, there's a migrat

[2017-12-05 12:01] Bukashk0zzz commented on #6565
@belgattitude You look at master not at PR and branch mysql

See PR files
https://github.com/Bukashk0zzz/dbal-test/pull/2/files

There are UNSIGNED in entity and in migration.

[2017-12-05 12:27] gremo opened #6866 "Doctrine try to alter tables changing the case of data type (i.e. VARCHAR) every time"
**Using Symfony 2.8 and Doctrine 2.5.5 on CentOS 7 x64 with MariaDB 10.2.**

If I run:

`php app/console doctrine:schema:update --dump-sql`

Doctrine generates a **lot of statements** like `ALTER TABLE change myfield VARCHAR(255)`. Well, myfield is already a `varchar(255)` (**note the case**).

If I force the update:

`php app/console doctrine:schema:update --force`

A lot of queries were executed

[2017-12-05 12:39] Ocramius commented on #6866
Please report this again (if applicable) after upgrading to the latest stable releases.

[2017-12-05 12:39] #6866 closed

[2017-12-05 12:41] belgattitude commented on #6565
Ok, I still don't get it. Cannot reproduce but we are using 2 different ways to tests. I cannot help with `doctrine:migrations`... we need to start from dbal. Can you modify your travis scripts:

https://github.com/Bukashk0zzz/dbal-test/blob/b4dadcaa4672a314a40205368e798f523849b123/.travis.yml#L21

And only test with doctrine/dbal commands:

[code]

This is what I have both unsigned:true and mysql

[2017-12-05 12:50] gremo commented on #6866
@Ocramius the lastest release I can use is 5.5 indeed...

[2017-12-05 12:56] Ocramius commented on #6866
@gremo [`2.5.13`](https://github.com/doctrine/doctrine2/releases)

[2017-12-05 13:02] belgattitude commented on #6565
For extended info, look what doctrine creates with `unsigned: bools` on mysql-5.7 or mariadb-10.2:

[code]

Here's the output (removed some columns for clarity):

[code]
It looks it didn't set the unsigned while creating...

But from schema introspection (schema:update) it always trigger a diff if using unsigned. DBAL seems to alias BOOL to TINYINT(1) and seems to remove unsigned property (mysql o

[2017-12-05 13:16] belgattitude commented on #6565
@Bukashk0zzz

Maybe you can help me, is this how I can achieve a migration test from scratch with travis ?

[code]

I would like to be sure there's no generated migration, that could potentially affect my tests?
I would like

[2017-12-05 22:52] lcobucci commented on #6866
@gremo also, MariaDB 10.2 is not fully supported and it will only be on DBAL v2.7 (or v3.0) which requires PHP 7.1.

[2017-12-05 23:09] gremo commented on #6866
@lcobucci yes, I figure it out a couple of hours after opening this issue. Too bad that I have to rebuild my entire server to support legacy sites (can't have multiple database versions). Thank you both anyways.

[2017-12-06 00:39] Majkl578 commented on #5631
As far as I know this is should be fixed in develop.by d700984970. not sure how hard would it be to backport to 2.x. :/

[2017-12-06 00:47] Majkl578 commented on #6841
Note: This will be improved by adding native `object` type in develop/3.0 where we already require PHP 7.2. Siínce PHP has no generics, nothing better could be done here.

[2017-12-06 03:54] Majkl578 commented on #5542
Note: Issue with mutability also applies to Embeddables, but on entirely different level of implementation. If there's to be some kind of a Comparison API, it'd be good to share the core idea between Types and Embeddables.

[2017-12-06 06:27] Ocramius commented on #5631
Doesn't need backporting IMO. Can be closed as fixed on the 3.x milestone
if the issue author can confirm the fix or if a relevant test can be
committed.

On 6 Dec 2017 01:39, "Michael Moravec" <notifications@github.com> wrote:

[2017-12-06 12:28] #6525 closed

[2017-12-06 16:24] FyiurAmron commented on #6863
@Ocramius well, it's good hear that. Still, wouldn't issuing a warning be sensible even then? I'd say that the list of reserved keywords in SQL is a source of constant WTFs for people around the globe, so having a simple validator built into Doctrine would simplify the validation process anyway (so that people won't be surprised that their names, which would work perfectly in regular Doctrine 3 us

[2017-12-07 10:49] Inmmelman opened #6868 "Doctrine 2 Native Query ResultSetMapping doesn't return joined object"
I have 3 entities. And try to load data by native SQL with ResultSetMapping. My question is abount why all times *profile* is null. Code is under text. Please help to resolve this((( I try to join table by addFieldResult and fill columns from this table, but it's doen't has any effects. Domain entity load fine.
I thinking this problem can be because account and profile entitites have the same name

[2017-12-08 04:02] Majkl578 commented on #4691
Done in 2be1b7d0b8cc47e1061493de74ac22131e3e5031.

[2017-12-08 04:02] #4691 closed

[2017-12-08 04:13] #4647 closed

[2017-12-08 04:16] #4597 closed

[2017-12-08 12:08] Bukashk0zzz commented on #6565
@belgattitude You correct and on mysql and on mariadb with unsigned bool without my init migration always getting diff. Migrations generated by mysql and mariadb identical.

Answering on question how I get this migration:
I have already old project on ZF 1 and rewiring it to symfony 4 I just copy create table syntax from existing mysql db and set it to initial migration.

I agree with you that thi

[2017-12-08 16:39] mdeboer commented on #6565
Why on earth would you use an unsigned bool anyway? Unless it's part of a bigger issue I don't see why this has priority to get fixed.

[2017-12-09 00:52] Majkl578 commented on #6807
I'm personally not convinced this is a good approach, it makes code much harder to read... I'd be +1 only if there is noticeable speedup at runtime which I doubt this would bring. 😕

[2017-12-09 00:56] Majkl578 commented on #6782
There is already a list of built-in functions under [the EBNF section of the DQL chapter](https://github.com/doctrine/doctrine2/blob/v2.5.13/docs/en/reference/dql-doctrine-query-language.rst#functions-1), but without further description.
Consider sending a PR if you want to speed things up.

[2017-12-09 01:00] Majkl578 commented on #6363
This isn't a bug actually, it's simply behavior that is currently not supported by the parser and language.

[2017-12-09 15:48] Bukashk0zzz commented on #6565
But why not? Near 6-7 years ago I always put unsigned for every integer that will be only with +
And that was good practice. Now I am using doctrine for a while and don't really look what created in db because all this things hided.

Anyway I agree that this not an issue for now. Thats why I asked and not created issue for that.
Also I think this issue can be closed @belgattitude tested everything

[2017-12-10 09:00] yurtesen opened #6875 "addJoinedEntityResult does not seem to work with oneToMany/manyToOne"
I am using symfony 3.4.1, with doctrine/orm 2.5.13. I have 2 tables. `store` and `store_product`.

In `Store` entity I have:

    /**
     * @ORM\OneToMany(targetEntity="AppBundle\Entity\Store\Product", mappedBy="store")
     * @ORM\JoinColumn(name="store_id")
     */
    private $products;

and in `Store\Product` entity I have composite index with (store_id,product_id). I have:

    /**
     * @O

[2017-12-11 08:56] Michal-sk commented on #6807
- https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/3048#issuecomment-330099642
- http://veewee.github.io/blog/optimizing-php-performance-by-fq-function-calls/

[2017-12-11 12:41] Ocramius commented on #6807
@Majkl578 a better approach is to import them via `use function foo;` - simple and same effects.

[2017-12-11 12:49] Ocramius commented on #6819
Handled in #6820

[2017-12-11 14:41] #6819 closed

[2017-12-11 18:00] martixy opened #6876 "Schema tool doesn't play well with metadata caching"
I was making changes to my model and had created a new entity, and was using the schema tool to dump the raw SQL.

I spotted a small mistake in my definition and after fixing it and dumping again, the change wasn't reflected.
Eventually I discovered that when you have metadata caching, only the first version of any new entity is recognised. Thereafter, no matter what changes you make to your entit

[2017-12-11 18:02] Ocramius commented on #6876
No - the schema tool just receives metadata: whether that requires cache
invalidation or not is to be decided on a case-by-case basis.
It is a generic tool and it should stay as such.

On 11 Dec 2017 19:00, "Martin Ninov" <notifications@github.com> wrote:

[2017-12-11 18:12] martixy commented on #6876
For me, this seems an easy pit to fall into. While I wouldn't know the best solution to this, I believe it's a good idea to address this somehow - be it in code or documentation.

[2017-12-11 23:47] Majkl578 commented on #6421
Doctrine 3.0 will be switching to ProxyManager so this issue could be closed.

[2017-12-11 23:47] #6421 closed

[2017-12-12 09:12] slince commented on #5665
up

[2017-12-12 09:17] Ocramius commented on #5665
@slince that doesn't help - open a PR with a reproducible failing test case

[2017-12-12 09:23] slince commented on #5665
@Ocramius

Hi, the problem I encountered is the same as this one

[2017-12-12 09:25] Ocramius commented on #5665
@slince yes, but upvoting doesn't get anywhere on a project without dedicated staff. You gotta help yourself too ;-)

[2017-12-12 09:43] Kytrix opened #6879 "QueryBuilder with manual join on two entities return mixed lines."
Hello,
I'm using:
doctrine/common                      v2.7.3

I have 2 entities, Dispatch and PackagingContent, both are virtually linked with a field name product_id. There is no relation in entity between them.
Inside my repository, I made a manual join:

Inside my results, instead of getting 50 lines of results, I get 100 lines with:

....

so 50 lines of each entities mixed !

it's strange, t

[2017-12-12 10:24] SylvG commented on #6808
We confirm because we have the same problem here. Thanks for the temporary workaround.

[2017-12-12 10:25] Ocramius commented on #6808
Most likely not - requires a test case and then we can look at where the offending code is located

[2017-12-12 14:23] potievdev commented on #6273
@Ocramius After upgrading from 2.4 to 2.5 I have the same problem. Late I can send example how reproduce this bug.

[2017-12-12 16:07] IMM0rtalis opened #6883 "xml-mapping: custom-id-generator class not a valid value for nmtoken"
Hello together,

[code]
Gives `'Ramsey\Uuid\Doctrine\UuidGenerator' is not a valid value for 'NMTOKEN'`

Somebody reported it here already: https://groups.google.com/forum/#!topic/doctrine-user/q9aHfy5l30M

But no update so far. I wanted to try to make a PR but i am struggling a bit with creating the test-case or more like "how to create an sample-xml-mapping-file" for this case.

All the best,
Fl

[2017-12-13 10:00] eugenmihailescu opened #6884 "UnitOfWork::executeUpdates iterates through an empty entityUpdates array"
Linux Gentoo 4.10.8
PHP 7.1.11 (cli) (built: Nov  3 2017 01:56:43) ( ZTS )
Doctrine VERSION = '2.5.13';
Symfony 3.4

Type error: Argument 3 passed to Doctrine\ORM\Event\PreUpdateEventArgs::__construct() must be of the type array, null given, called in <project-root-path>/vendor/doctrine/orm/lib/Doctrine/ORM/UnitOfWork.php on line 1064

I tracked down the problem (see UnitOfWork::executeUpdates fun

[2017-12-14 13:23] AlexSayHello opened #6890 "Doctrine Inheritance: Two subclasses that reference the same record"
In a platform of my company, I have the following use case.

Users of the platform can be: normal users who log in, users who buy products or users who write articles in a blog

So I've created three entities: `User`, `ShopUser` and `BlogAuthor`, each one in its respective module (module system of platform, a.k.a.  plugins). They are represented in the following diagram (Summarized)

![uml_model](

[2017-12-14 15:52] Ocramius commented on #6890
This is not supported, as it breaks the basic invariant that per entity type, at one point in time, you only have one identifier in memory. This creates two concurrent in-memory entities, and that breaks the ORM<->DB symmetricity.

[2017-12-14 15:52] #6890 closed

[2017-12-14 16:16] kmwalke commented on #6884
Came here to report this exact issue.  Thanks for writing it up!

[2017-12-14 16:16] javabudd commented on #6884
Been hit by this issue a couple times, got around it by reworking our flush orders. This should ideally not fire the listener if no changes have been made to the entity.

[2017-12-14 20:54] SenseException opened #6891 "Missing documentation for SchemaTool events"
Looking through the code of `SchemaTool`, I found out that there are undocumented events called `postGenerateSchema` and `postGenerateSchemaTable`. I want to add those events into the documentation of events.rst. Or should it be put into a new file?

[2017-12-15 06:23] Ocramius commented on #6884
Requires a test case

On 14 Dec 2017 17:16, "javabudd" <notifications@github.com> wrote:

[2017-12-15 06:33] Ocramius commented on #6891
Same file is 👌

On 14 Dec 2017 21:54, "Claudio Zizza" <notifications@github.com> wrote:

[2017-12-15 06:33] Ocramius commented on #6876
Documentation patches are indeed welcome: just needed to clarify the design
decisions first 👍

On 11 Dec 2017 19:12, "Martin Ninov" <notifications@github.com> wrote:

[2017-12-15 12:02] upirna opened #6893 "New events: preCommit"
Ah, just forget it. :)

[2017-12-15 12:59] #6893 closed

[2017-12-15 20:18] javabudd commented on #6884
It looks like the master branch has this issue resolved already but is not in the latest version 2.5.13

master - https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/UnitOfWork.php#L1097
2.5.13 - https://github.com/doctrine/doctrine2/blob/v2.5.13/lib/Doctrine/ORM/UnitOfWork.php#L1060

[2017-12-16 04:35] Majkl578 commented on #6884
Probably fixed by 9b4c50e81ec03c34805b95e7d1cfafba500557ef, but test case is still needed to prevent regression.

[2017-12-16 04:43] Majkl578 commented on #6831
This is by design as it is now, changing collection itself is not supported and must be kept as PersistentCollection assigned by UnitOfWork.

[2017-12-16 04:43] #6831 closed

[2017-12-16 16:41] Majkl578 commented on #6859
FYI: PHP bug was closed as _Not a bug_ for exactly the same reason I gave here: LSP violation, fixed in 7.2.

[2017-12-17 01:48] Majkl578 commented on #4368
PR closed.

[2017-12-17 01:48] #4368 closed

[2017-12-17 01:57] lcobucci commented on #6565
@Bukashk0zzz awesome, closing then!

[2017-12-17 01:57] #6565 closed

[2017-12-17 02:02] Majkl578 commented on #4591
PR closed

[2017-12-17 02:02] #4591 closed

[2017-12-17 02:48] lcobucci commented on #6876
I'll close this issue as per @Ocramius comments.

@martixy please do send a PR improving the docs!

[2017-12-17 02:48] #6876 closed

[2017-12-17 14:09] KonstantinKuklin opened #6899 "Reflection to Closure bind rework"
Did anyone tried to move from reflection to ClosureBind in cases when we need to work with entity`s property?
Main reason of such refactoring is much better performance of closures.
BTW https://ocramius.github.io/blog/accessing-private-php-class-members-without-reflection/

[2017-12-17 14:11] Ocramius commented on #6899
Usually leads to worse performance, but please check
ocramius/generated-hydrator if your aim is improving ORM performance for 3.x

On 17 Dec 2017 15:09, "Konstantin" <notifications@github.com> wrote:

[2017-12-17 16:54] KonstantinKuklin commented on #6899
So, I got:

hydrator code: https://gist.github.com/KonstantinKuklin/c44daa558dcdfb5cee8e0d89c778c5d3

environment: PHP 7.0.22 (cli) (built: Aug  7 2017 14:07:27) ( NTS )

is 5-10% boost enough to move from reflection?

[2017-12-17 16:57] Ocramius commented on #6899
No, needs to be much more to justify the change there. As I already
mentioned, the GeneratedHydrator project is where you might want to suggest
improvements.

After those are applied, we can work towards plugging in a (de-) hydration
abstraction in the ORM too.

On 17 Dec 2017 17:54, "Konstantin" <notifications@github.com> wrote:

[2017-12-17 22:56] javabudd commented on #6884
I was able to reproduce the issue in a test which is fixed when running on master. Let me know if there is anything I need to alter or if you need a PR.

https://github.com/javabudd/doctrine2/commit/c08fd24d9712d5fa6590fc24efbaedcd52c11604

[2017-12-17 23:00] Majkl578 commented on #6884
@javabudd Can you please send a PR with the test against master? That would help us prevent regression in future. Thanks.

[2017-12-18 10:23] Sharoff45 opened #6901 "There is no verification of the availability of the property in the bi-directional association"
I made a error in OneToMany association and received a notice when persist entity:
Undefined index: ItemEntities
File: /opt/project/vendor/doctrine/orm/lib/Doctrine/ORM/Persisters/Entity/BasicEntityPersister.php
Line: 1768

**OwnerEntity.php**

[code]
**ItemEntity.php**

[code]

I got this error only with persist.

Package: doctrine/orm v2.5.12
Dist url: https://api.github.com/repos/doctrine/doctr

[2017-12-18 10:26] Ocramius commented on #6901
As the title says:

It is up to you to make sure the property is set for `OwnerEntity#$itemEntities`: the ORM merely attempts to store what you provided to it.

Also, note that the `OneToMany` side is never the owning side of the association.

[2017-12-18 10:26] #6901 closed

[2017-12-18 17:00] eugenmihailescu commented on #6884
I can confirm that by installing doctrine/orm (dev-master e1825e3) the initial problem I've described initially does not appear anymore. Thanks guys, you are awesome!

[2017-12-18 17:02] Majkl578 commented on #6884
Thanks for confirmation, closing then. Master will soon become 2.6.0, stay tuned. 😎

[2017-12-18 17:02] #6884 closed

[2017-12-18 23:48] unckleg opened #6904 "postLoad execute UPDATE instead of updating Entity state."
I have **Entity Menu** that has a collection of **Page** Entities.
Page entity has a **postLoad** event which is setting **Image field** to a Symfony compatible format.

Whenever I update **Menu Entity** it will also trigger UPDATE for Image field to DB for all Collection related Page entities, but It should just mutate Entity object how familiar I am with Doctrine Event listeners.

This is also r

[2017-12-18 23:51] lcobucci commented on #6904
@unckleg could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-12-18 23:54] lcobucci commented on #6879
@Kytrix it's kind of hard to understand what you're facing without the map of your entities... could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-12-18 23:56] lcobucci commented on #6875
@yurtesen could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-12-19 00:06] lcobucci commented on #6865
@albe I don't think this should be changed on v2.x, we're almost done with `v2.6` which should be the last release with features. @guilhermeblanco is working on v3 and already refactored a lot on the mapping so maybe you could take a look on `develop` to see what's in there (maybe Guilherme applied something already)?

[2017-12-19 00:08] Majkl578 commented on #6792
There is no error in the container code provided, entity class' name is ok as well.

In third error log, it would be interesting what the _square sign_ is, but I don't think it would significantly help (unless it's \x00, APC used to have problem with nulls).
In last error log the table name is completely missing.

This doesn't look like something ORM itself would cause, I would definitely blame AP

[2017-12-19 00:08] lcobucci commented on #6868
@Inmmelman do you really need to use the native API on that case? I mean, do you have what you need when not using it?

[2017-12-19 03:36] guilhermeblanco commented on #6865
@albe Thanks for integrating your framework with Doctrine! =)
Although we could modify the ORM 2.X code to integrate with your specific scenario, we are defining sensitive default values for 2.6 as a measure to prevent unexpected behavior. In 3.0 we've added more defaults and backporting some of them was a good strategy to ease migration path (I've read your code and apparently your framework will

[2017-12-19 03:36] #6865 closed

[2017-12-19 03:50] #6638 closed

[2017-12-19 09:03] voff4eg opened #6907 "UuidGenerator::generate takes EntityManager parameter, not EntityManagerInterface"
UuidGenerator::generate takes EntityManager parameter, not EntityManagerInterface
Thease causes problem using EntityManager decorator, because our $em parameter is instance of EntityManagerDecorator. In addition it is a violation of Dependency Inversion principle https://en.wikipedia.org/wiki/Dependency_inversion_principle

[2017-12-19 09:17] GreyBlade opened #6908 "[Doctrine\DBAL\Driver\PDOException] When using doctrine:database:create"
Hi, so im getting this errors when im trying to do doctrine:database:create on a composer generated project.
This are the errors.

[code]
this is how my config.yml looks like:
[code]

And my params.yml.dist looks like this:
[code]

Any body can help me fix this issue?
Thanks #

[2017-12-19 09:52] akovalyov commented on #6908
@GreyBlade from your configs I presume, you're using Symfony and API Platform, right? Have you checked `parameters.yml` file instead of `parameters.yml.dist`? Have you tried to use `127.0.0.1` instead of localhost to force connection via TCP instead of socket? Which OS are you actually running?
Btw, if you are trying to use Docker and Docker Compose shipped with API Platform, you should use `db` a

[2017-12-19 09:55] GreyBlade commented on #6908
Yes I am using api-platform, and i have changed parameters.yml and parameters.yml.dist with 127.0.0.1 and localhost but same error, I am using Ubuntu
This is my parameters.yml.dist
[code]

and paremeters.yml original form the api-platform configuration
[code]

[2017-12-19 11:22] yurtesen commented on #6875
@lcobucci unfortunately I don't have time to reverse engineer how make new tests from examples. I can barely use doctrine yet. I hope somebody else can create a test case. I can try to come back to this if I have time, time to learn how to create tests, and maybe if somebody makes a documentation about tests.

But if you expect/need people to create test cases. I believe somebody should make docum

[2017-12-19 12:26] lcobucci commented on #6907
@voff4eg thanks for reporting, we're aware and already fixing this for v3 (since it's a BC-break)

[2017-12-19 12:28] Majkl578 commented on #6907
Already fixed in develop (3.0): #6599.

[2017-12-19 12:37] voff4eg commented on #6907
@lcobucci, @Majkl578 thanx

[2017-12-19 12:37] #6907 closed

[2017-12-19 14:48] Majkl578 commented on #6908
Looks like your database server is not running.
`localhost` is sometimes translated as a socket (MySQL?), that's why _no such file or directory_.
127.0.0.1 and _connection refused_ is obvious - nothing is running on specified host + port.
`db` is not known by your DNS resolver.

Closing this, it's not an ORM question.

[2017-12-19 14:48] #6908 closed

[2017-12-19 16:56] albe commented on #6865
Thank you both for the elaborate responses! Highly appreciated, even though they're not in our favor ;) We'll try to solve our issue somehow differently then.

I'll also check the develop branch for v3 and see if the changes will affect us positively in this regard, or if we need to reconsider some things for our Doctrine integration. We have no issue with BC breaks in v3, since we need to adjust

[2017-12-19 22:07] Majkl578 commented on #1873
Since Doctrine 2.x is closed feature-wise and 3.0 will switch to ProxyManager, this is no more actual.

[2017-12-19 22:07] #1873 closed

[2017-12-19 22:09] Majkl578 commented on #2054
Merge & detach are going to be deprecated and removed in Doctrine 3.0.

[2017-12-19 22:09] #2054 closed

[2017-12-19 22:12] Majkl578 commented on #2207
Doctrine 3.0 is going to provide Doctrine\ORM\Proxy\Factory\ProxyFactory interface, but it can't we backported to 2.x.

[2017-12-19 22:13] #2207 closed

[2017-12-19 22:19] #2522 closed

[2017-12-19 22:22] Majkl578 commented on #6899
We actually already have issue for generated hydrators: #2553. I'll close this one based on what @Ocramius said, but will add the other issue to 3.0 milestone so it doesn't get forgotten.

[2017-12-19 22:22] #6899 closed

[2017-12-19 22:24] Majkl578 commented on #6668
_cross-linking #2554_

[2017-12-19 22:25] Majkl578 commented on #2645
Handled in 5b18718b925c74c80ca13e72341c08ddcfe6fb0c.

[2017-12-19 22:25] #2645 closed

[2017-12-19 22:27] Majkl578 commented on #2608
Moving to ProxyManager in Doctrine 3.0.

[2017-12-19 22:27] #2608 closed

[2017-12-19 22:32] Majkl578 commented on #2095
#2857

[2017-12-19 22:32] #2095 closed

[2017-12-19 22:33] Majkl578 commented on #2844
Codegen to be removed in Doctrine 3.0.

[2017-12-19 22:33] #2844 closed

[2017-12-19 22:34] Majkl578 commented on #2877
CLosing, codegen to be removed in Doctrine 3.0.

[2017-12-19 22:34] #2877 closed

[2017-12-19 22:39] Majkl578 commented on #2987
Closing, codegen to be removed in Doctrine 3.0.

[2017-12-19 22:39] #2987 closed

[2017-12-19 22:44] Majkl578 commented on #3097
convert-mapping is scheduled for removal in Doctrine 3.0.

[2017-12-19 22:44] #3097 closed

[2017-12-19 22:47] Majkl578 commented on #3336
Entity generator will be removed in Doctrine 3.0.

[2017-12-19 22:47] #3336 closed

[2017-12-19 22:49] Majkl578 commented on #3409
YAML is going to be removed in Doctrine 3.0.

[2017-12-19 22:49] #3409 closed

[2017-12-19 22:49] Majkl578 commented on #3406
YAML is going to be removed in Doctrine 3.0.

[2017-12-19 22:49] #3406 closed

[2017-12-19 22:51] #3391 closed

[2017-12-19 22:54] Majkl578 commented on #4675
Duplicate of  #3037, also merge will be removed in Doctrine 3.0.

[2017-12-19 22:54] #4675 closed

[2017-12-19 22:55] Majkl578 commented on #4676
Duplicate of #4675,

[2017-12-19 22:55] #4676 closed

[2017-12-19 22:57] Majkl578 commented on #3533
Duplicate of #3037.

[2017-12-19 22:57] #3533 closed

[2017-12-19 23:02] Majkl578 commented on #3861
EntityGenerator will be removed completely in Doctrine 3.0.

[2017-12-19 23:02] #3861 closed

[2017-12-19 23:08] Majkl578 commented on #3934
This command will be dropped in Doctrine 3.0.

[2017-12-19 23:12] Majkl578 commented on #4063
EntityGenerator will be dropped in Doctrine 3.0.

[2017-12-19 23:12] #4063 closed

[2017-12-19 23:13] Majkl578 commented on #4016
Not relevant, PHP configuration issue.

[2017-12-19 23:13] #4016 closed

[2017-12-19 23:14] Majkl578 commented on #4015
ORM\Tools\Export\Driver\PhpExporter will be dropped in Doctrine 3.0.

[2017-12-19 23:14] #4015 closed

[2017-12-19 23:16] Majkl578 commented on #4132
Merge will be dropped in Doctrine 3.0.

[2017-12-19 23:16] #4132 closed

[2017-12-19 23:17] Majkl578 commented on #4142
Closing, flushing specific entities is going to be removed in Doctrine 3.0.

[2017-12-19 23:17] #4142 closed

[2017-12-19 23:22] Majkl578 commented on #4143
EntityGenerator is going to be dropped in Doctrine 3.0.

[2017-12-19 23:22] #4143 closed

[2017-12-19 23:23] Majkl578 commented on #4108
Single entity flush will be removed in Doctrine 3.0.

[2017-12-19 23:23] #4108 closed

[2017-12-19 23:26] Majkl578 commented on #4160
YAML is going to be removed in Doctrine 3.0.

[2017-12-19 23:26] #4160 closed

[2017-12-19 23:26] Majkl578 commented on #4075
YAML is going to be removed in Doctrine 3.0.

[2017-12-19 23:26] #4075 closed

[2017-12-19 23:36] Majkl578 commented on #4370
EntityGenerator and this command are going to be removed in Doctrine 3.0.

[2017-12-19 23:36] #4370 closed

[2017-12-19 23:38] Majkl578 commented on #4329
Also duplicate of  #1293.

[2017-12-19 23:38] #4329 closed

[2017-12-19 23:39] Majkl578 commented on #4273
EntityGenerator and mentioned command are going to be removed in Doctrine 3.0.

[2017-12-19 23:39] #4273 closed

[2017-12-19 23:40] Majkl578 commented on #4264
EntityGenerator is going to be removed in Doctrine 3.0.

[2017-12-19 23:40] #4264 closed

[2017-12-19 23:44] Majkl578 commented on #4538
Duplicate of #4537.

[2017-12-19 23:44] #4538 closed

[2017-12-19 23:45] #4477 closed

[2017-12-19 23:46] Majkl578 commented on #4595
Single entity is going to be removed in Doctrine 3.0.

[2017-12-19 23:46] #4595 closed

[2017-12-19 23:46] Majkl578 commented on #4590
EntityGenerator is going to be removed in Doctrine 3.0.

[2017-12-19 23:46] #4590 closed

[2017-12-19 23:53] Majkl578 commented on #4674
Dependendency removed ages ago.

[2017-12-19 23:53] #4674 closed

[2017-12-19 23:56] Majkl578 commented on #4701
YAML support will be removed in Doctrine 3.0.

[2017-12-19 23:56] #4701 closed

[2017-12-19 23:56] Majkl578 commented on #4702
Duplicate of #4701-

[2017-12-19 23:56] #4702 closed

[2017-12-19 23:57] Majkl578 commented on #4703
YAML support will be removed in Doctrine 3.0.

[2017-12-19 23:57] #4703 closed

[2017-12-19 23:58] #4770 closed

[2017-12-19 23:58] #4750 closed

[2017-12-20 00:00] Majkl578 commented on #4720
YAML support will be removed in Doctrine 3.0.

[2017-12-20 00:00] #4720 closed

[2017-12-20 00:02] Majkl578 commented on #4786
Merge/detach are going to be removed in Doctrine 3.0.

[2017-12-20 00:02] #4786 closed

[2017-12-20 00:03] Majkl578 commented on #4825
Merge/detach are going to be removed in Doctrine 3.0.

[2017-12-20 00:03] #4825 closed

[2017-12-20 00:04] Majkl578 commented on #4875
EntityGenerator is going to be removed in Doctrine 3.0.

[2017-12-20 00:04] #4875 closed

[2017-12-20 00:05] Majkl578 commented on #4901
Merge/detach operationsa re going to be removed in Doctrine 3.0.

[2017-12-20 00:05] #4901 closed

[2017-12-20 00:07] #4909 closed

[2017-12-20 00:08] Majkl578 commented on #5277
Merge/detach operations are going to be removed in Doctrine 3.0.

[2017-12-20 00:08] #5277 closed

[2017-12-20 00:09] Majkl578 commented on #4911
EntityGenerator is going to be removed in Doctrine 3.0 and 2.x is feature-complete. Sorry for troubles.

[2017-12-20 00:09] #4911 closed

[2017-12-20 00:12] Majkl578 commented on #5113
Not relevant anymore.

[2017-12-20 00:12] #5113 closed

[2017-12-20 00:14] Majkl578 commented on #5178
Closing in favor of doctrine/dbal#2939, not an ORM issue by itself.

[2017-12-20 00:14] #5178 closed

[2017-12-20 00:16] Majkl578 commented on #5328
Merge/detach are going to be removed in Doctrine 3.0.

[2017-12-20 00:16] #5328 closed

[2017-12-20 00:16] Majkl578 commented on #5372
Merge/detach operations are going to be removed in Doctrine 3.0.

[2017-12-20 00:16] #5372 closed

[2017-12-20 00:17] Majkl578 commented on #5477
Code generation is going to be removed in Doctrine 3.0.

[2017-12-20 00:17] #5477 closed

[2017-12-20 00:18] Majkl578 commented on #5464
Merge/detach and copy operations are going to be removed in Doctrine 3.0.

[2017-12-20 00:18] #5464 closed

[2017-12-20 00:20] Majkl578 commented on #5568
EntityGenerator is going to be removed in Doctrine 3.0, sorry for no response and thanks for reporting.

[2017-12-20 00:20] #5568 closed

[2017-12-20 00:20] Majkl578 commented on #5560
EntityGenerator is going to be removed in Doctrine 3.0, sorry for no response and thanks for reporting.

[2017-12-20 00:20] #5560 closed

[2017-12-20 00:28] Majkl578 commented on #5663
EntityGenerator is going to be removed in Doctrine 3.0, sorry that it never got solved.

[2017-12-20 00:28] #5663 closed

[2017-12-20 00:29] Majkl578 commented on #5688
EntityGenerator is going to be removed in Doctrine 3.0, sorry for no response and thanks for reporting.

[2017-12-20 00:29] #5688 closed

[2017-12-20 00:34] Majkl578 commented on #5820
Hello, I'm afraid this is not something we can fix. Since we're talking about decorator pattern, inner EM instance has no knowledge about being decorated. One possible solution would be using RepositoryFactory that is created for your decorator, not for inner EM by default.

[2017-12-20 00:35] Majkl578 commented on #5803
EntityGenerator is going to be removed in Doctrine 3.0, thanks for reporting.

[2017-12-20 00:35] #5803 closed

[2017-12-20 00:42] Majkl578 commented on #5847
I'm going to close this as duplicate of #3037, but thanks for the test, scheduled for Doctrine 3.0.

[2017-12-20 00:42] #5847 closed

[2017-12-20 00:45] Majkl578 commented on #5955
EntityGenerator is going to be removed in Doctrine 3.0, thanks for reporting.

[2017-12-20 00:45] #5955 closed

[2017-12-20 00:46] Majkl578 commented on #5939
EntityGenerator is going to be removed in Doctrine 3.0, thanks for reporting and sorry for no response.

[2017-12-20 00:46] #5939 closed

[2017-12-20 00:47] Majkl578 commented on #5933
Update: develop (aka 3.0) already switched to creating new instance of UoW during clear(): d1b453d33d8707f386b107730151d470a6b96ab9

[2017-12-20 00:50] Majkl578 commented on #5943
EntityGenerator is going to be removed in Doctrine 3.0, thanks for reporting.

[2017-12-20 00:50] #5943 closed

[2017-12-20 00:52] kralmichal commented on #5943
Thanks for reply.

[2017-12-20 01:00] Majkl578 commented on #6021
2.6.0 has just been released. Closing, this wasn't really a bug in Doctrine (autowiring of mixed parameter should be explicit).

[2017-12-20 01:00] #6021 closed

[2017-12-20 01:04] Majkl578 commented on #6246
Closing this, as of Doctrine 3.0 there won't be any Version class needing manual updates.

[2017-12-20 01:04] #6246 closed

[2017-12-20 01:06] Majkl578 commented on #6154
EntityGenerator is going to be removed in Doctrine 3.0 and 2.6 is feature-complete, thanks for reporting.

[2017-12-20 01:06] #6154 closed

[2017-12-20 01:09] Majkl578 commented on #6314
EntityGenerator is going to be removed in Doctrine 3.0, sorry for no response and thanks for reporting.

[2017-12-20 01:09] #6314 closed

[2017-12-20 10:13] Yuav opened #6915 "$em->flush($entity) flushes all entities schedules for insert"
doctrine/orm: v2.5.12

I have an entity without any relations set that I pass to flush().

**Expected result**

INSERT of only this entity

**Actual result**

All entities scheduled for inserts are put into the database

---

Looking at the code, computing changesets for all insert changesets in `computeSingleEntityChangeSet` seems strange to me:

UnitOfWork.php -> `function computeSingleEntityCha

[2017-12-20 10:15] Ocramius commented on #6915
This is normal: `EntityManager#flush($entity)` is deprecated, as it was initially only thought for performance optimisations, but does indeed perform any DB operations that were already scheduled.

Please don't use it, and just use `EntityManager#flush()` instead.

[2017-12-20 10:15] #6915 closed

[2017-12-20 14:07] afoeder opened #6926 "Decouple / _suggest_ the symfony/console dependency"
In short: I would like to check on that; is there anything why the console component is actually _required_ at the moment?

[2017-12-20 14:14] Ocramius commented on #6926
@afoeder all CLI commands implemented in [here](https://github.com/doctrine/doctrine2/tree/374e7ace49d864dad8cddbc55346447c8a6a2083/lib/Doctrine/ORM/Tools/Console) strictly depend on `symfony/console`

[2017-12-20 14:14] #6926 closed

[2017-12-20 16:42] alexander-schranz opened #6928 "Aliases and identifiers not longer working when containing `:` and `\\` with 2.6.0"
After updating from 2.5.3 to 2.6.0 the following query is not longer working:

[code]

also not longer working:

[code]

It produce by use case different errors for joins, select or froms:

[code]

or

[code]

[2017-12-20 16:45] Ocramius commented on #6928
Hmm, aliases were always supposed to be alnum only: never seen such an
example before.

Investigating ASAP

On 20 Dec 2017 17:42, "L91" <notifications@github.com> wrote:

[2017-12-20 16:51] Majkl578 commented on #6928
Possibly related change: b7bd42638dcf8aa049698f01466688ff7762953b, will try to bisect later if @Ocramius isn't faster.

[2017-12-20 17:02] Ocramius commented on #6928
@Majkl578 adding a test case ATM

[2017-12-20 17:03] Ocramius commented on #6928
https://github.com/doctrine/doctrine2/pull/1549#issuecomment-173212939 - hah.

[2017-12-20 17:13] Ocramius commented on #6928
Yeah, this is invalid DQL as per https://github.com/doctrine/doctrine2/blob/b7bd42638dcf8aa049698f01466688ff7762953b/tests/Doctrine/Tests/ORM/Query/LanguageRecognitionTest.php#L98-L99

I think this is an edge case and we shouldn't go back on it - the original fix is more relevant, so I'm more inclined to documenting it as known BC break.

[2017-12-20 17:28] pylebecq commented on #6792
Yes, it seems APCu is the one to blame here. We switched the result cache to redis, it's working fine now. Metadata and Query cache are still using APCu.

I don't really know what happens to be honest. There is a lot to read about APCu cache fragmentation, I don't know if it takes part in this issue or not but for now we have removed all usage of TTL with APCu and the issue does no happen anymore.

[2017-12-20 17:28] #6792 closed

[2017-12-20 17:28] alexander-schranz commented on #6928
Ok thought that 🙈 . But thank you for investing time to analyse the issue. As its currently for us not possible to fix this without to many BC Breaks in our CMS we need to go back to 2.5.

example before.

The queries are built by a service this way in our CMS but also the devs can input condition like `SuluBundleCategory:Category.locale = "en:uk"` to this service and it seems many projects did it

[2017-12-20 17:32] Majkl578 commented on #6928
Bisect done, caused by the commit already mentioned: b7bd42638dcf8aa049698f01466688ff7762953b, likely to be broken by change to cachable patterns: https://github.com/doctrine/doctrine2/commit/b7bd42638dcf8aa049698f01466688ff7762953b#diff-a59574e15d37179f26dc0056f2a6d4b0R131

[2017-12-20 17:33] Ocramius commented on #6928
@aleeeftw these are the scenarios. First two pass, second two crash as per @Majkl578's findings

[code]

[2017-12-20 21:41] aleeeftw commented on #6928
@Ocramius Hi, I think you tagged me by mistake in this issue? :) Not sure how I broke that?!

[2017-12-20 23:18] Ocramius commented on #6928
Sorry, auto-complete SNAFU

[2017-12-21 01:57] mattjanssen opened #6930 "Allow Removing Fields within @AttributeOverrides (for Traits and Superclasses)"
We can currently use `@AttributeOverrides` to _modify_ fields brought in by traits and extended superclasses, but there's no way to _remove_ a field.

The use case is when a trait brings in a column that you don't want in the final entity. This happens if you want to handle a property differently than the general use case of that trait.

Maybe something like this?
[code]

[2017-12-21 02:07] Majkl578 commented on #6930
This request sounds like a sign of bad design to me. Removing a field / methods is generally violation of LSP in OOP. Why don't you just refactor your traits and make them smaller so that you wouldn't need to _remove_ any fields?

[2017-12-21 02:19] mattjanssen commented on #6930
I totally get the code smell here. But what's happening is this entity still needs this property, but it's not stored in the DB. So the getter, setter and property still exist, but we don't want it persisted.

[2017-12-21 02:26] Majkl578 commented on #6863
If 3.0 achieves full SQL compliance with auto-quoting, I don'tthink it's needed, it would be unnecessary to warn people against something that works. But it should be noted in documentation.

Just for precision, the list on Drupal site you referenced is not accurate, it is compiled _all-into-one_ and also contains non-reserved keywords - not ideal. Keywords are platform- and version-specific, this

[2017-12-21 06:11] Ocramius commented on #6930
Looks like an edge case from here: the correct approach would be to remove
the field in a manually implemented class metadata postLoad event listener.

On 21 Dec 2017 03:19, "Matt Janssen" <notifications@github.com> wrote:

[2017-12-21 14:14] mattjanssen commented on #6930
Fair enough. One dev's feature request is another's edge case. And if you haven't heard anyone else wanting this, then you're probably right!

I'll just override the properties in the one extending class that behaves differently. That'll wipe out the @Column annotations. Unfortunately I'll have to duplicate the @Assert annotations for these props, as they get wiped, too.

I used to use the event l

[2017-12-21 14:14] #6930 closed

[2017-12-21 15:31] allan-simon opened #6932 "Error: Expected Doctrine\ORM\Query\Lexer::T_FROM, got EntityName since upgrade to 2.6.0"
I have the following builder request

[code]

it used to work fine,  but since upgrade to 2.6.0 I got the error

[code]

It seems to work if I add ` FROM` like this :

[code]

is it a known issue ? (or something wrong in my original code ?)

[2017-12-21 15:33] Ocramius commented on #6932
What's the generated DQL string for that query builder?

[2017-12-21 15:34] allan-simon commented on #6932
how do i get it ?

[2017-12-21 15:35] Ocramius commented on #6932
Instead of `->getQuery()` do a `->getDQL()`

[2017-12-21 15:39] Ocramius commented on #6930
Usually, yes, but that's a simple solution that doesn't need a new feature. We try to cover the 80/20 "Pareto" rule.

[2017-12-21 16:35] Majkl578 commented on #6932
On master, QB generates following DQL:
[code]
So there is obviously missing alias for MIN() function.

[2017-12-21 16:38] Ocramius commented on #6932
"HIDDEN" is a reserved DQL keyword

On 21 Dec 2017 17:35, "Michael Moravec" <notifications@github.com> wrote:

[2017-12-21 16:53] Majkl578 commented on #6932
Yes, but the query is valid according to 2.5 EBNF:
[code]
"AS HIDDEN" is fine and the alias should be optional as well (which sounds a bit strange though).

This is not a QueryBuilder bug which generates same DQL as on 2.5, but a parser bug.

LanguageRecognitionTest test case:
[code]
Works with 2.5, fails with 2.6.
Bisected to b7bd42638dcf8aa049698f01466688ff7762953b so it's related to #6928.

[2017-12-21 21:49] Majkl578 opened #6933 "Better document addition of EntityRepository::count()"
There are multiple reports about consumers being broken due to this new method. See https://github.com/doctrine/doctrine2/pull/6003#issuecomment-353442961 and linked issues.
Although adding new public method is not a BC break per se. we should at least document it somewhere in UPGRADE as a possible source of problems.

[2017-12-22 10:48] lisachenko commented on #5933
[code]

[2017-12-22 14:43] SimonHeimberg opened #6934 "query WHERE xxx IN (:parameter) does not work with array of date"
This statement fails:
[code]

with message
`Catchable Fatal Error: Object of class DateTime could not be converted to string`

but this works: `$qb->where('s.date in (:date1, :date2)')`

I like the `in (:array)` functionality. (Works with string, int, entities, ...) and miss suport of DateTime type.

---

doctrine version: v2.5.14

[2017-12-24 11:48] yurybykov commented on #6334
UPD.
It was my mistake of understanding how OneToOne relation work. I tryed remove relation from inverse side. For everybody with same please read the doc at http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/unitofwork-associations.html

[2017-12-25 20:30] holtkamp opened #6937 "Entity / property hydration issues after upgrading 2.5.14 => 2.6.0"
After upgrading from `2.5.14` to `2.6.0` some functionality broke which seems to relate to the hydration of properties of Entities that are part of a (multi-level) DiscriminatorMap:

- Entity X is fetched by following an association with another Entity Y:
  -  `2.5.14` Entity is acquired and all properties as populated / set
  - `2.6.0` Entity is acquired properly, but the properties specific to t

[2017-12-26 09:30] ushatel opened #6938 "OneToMany JoinColumn options where cause"
Hello,

For the moment it looks like we have it possible to join just a single column when processing the join.

Most SQL engines allow the multiple columns "join <table> on <column>=:1 and <column>=:2" statements.

Possible solution:
Add similar to the ["@ Index"](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/annotations-reference.html#annref-index)
 `options={"where"

[2017-12-26 09:58] Ocramius commented on #6938
While at surface it looks like a good idea, it is actually a terrible feature.

The reason is simple: the ORM operates under the assumption that the in-memory data structure mirrors the db data.

Addibg conditional filters on associations makes this extremely unreliable, as the data you save may no longer be visible after a refresh operation (while still there).

We already provide such functional

[2017-12-26 10:00] #6938 closed

[2017-12-26 10:22] phoenixgao commented on #6051
I have exactly the same issue

[2017-12-26 10:24] Ocramius commented on #6051
Is this still valid for 2.6.0?

On 26 Dec 2017 11:22, "Phoenix Gao" <notifications@github.com> wrote:

[2017-12-26 10:29] phoenixgao commented on #6051
@Ocramius Currently I'm using doctrine/orm 2.5.13, will try 2.6

[2017-12-26 11:52] dmaicher opened #6939 "Error for delete query without alias since 2.6.0"
This used to work with `2.5.x`:

[code]

Now with `2.6.0` I get this error:

[code]

If I add an alias it works again:

[code]

Is this BC break intentional?

[2017-12-26 17:21] Majkl578 commented on #6939
Similar to #6932 (missing alias in FROM), it'll be caused by the same source.
As you can see [here in EBNF for 2.5.0](https://github.com/doctrine/doctrine2/blob/v2.5.0/docs/en/reference/dql-doctrine-query-language.rst#clauses), alias is actually supposed to be mandatory.

It should probably be fixed for 2.6.

[2017-12-27 14:12] Dadibom opened #6940 "Cache is never cleared"
There's a possibility that this affects _all_ caches (incl metadata) and not just query cache, but what i've looked at is the query cache specifically.

Clearing the query cache does not actually remove anything from the cache. instead, a new namespace is set. since there is no ttl on query cache by default (and i have not found any way to set one), these old entries will remain forever and eat up

[2017-12-27 17:43] simPod commented on #6271
I think this is being resolved in https://github.com/doctrine/dbal/pull/2929

[2017-12-28 16:44] shubaivan opened #6941 "Query Builder SingleValuedAssociationField expected"
I have native sql query with left join when have on with or condition, how to represent it in query builder ?

     $query = "  SELECT  te.id
                FROM    task_executions AS te
                INNER JOIN tasks AS t ON t.id = te.task_id
                LEFT JOIN cost_objects AS co ON co.id = t.cost_object_id
                LEFT JOIN cost_object_managers AS com ON com.cost_object_id = co

[2017-12-28 18:23] cgardiennet opened #6942 "SQL Function ROUND is not parsed in Query\Parser"
The SQL function ROUND is not parsed in Query\Parser.
Need to be added.

[2017-12-28 18:37] Majkl578 commented on #6941
Since `com.costObjects` seems to be to-many collection, you should use `MEMBER OF`. This should work:
[code]

[2017-12-28 21:40] shubaivan commented on #6941
@Majkl578 how should I apply this approach to my query ? How should look `orX` in my `leftJoin` ?

[2017-12-28 21:41] Majkl578 commented on #6941
It's orX(), so:
[code]

[2017-12-28 21:56] shubaivan commented on #6941
I debuged it and got sql, this looks

`
SELECT name FROM task_executions t0_ INNER JOIN tasks t1_ ON t0_.task_id = t1_.id LEFT JOIN cost_objects c2_ ON t1_.cost_object_id = c2_.id LEFT JOIN cost_object_managers c4_ ON c2_.id = c4_.cost_object_id **LEFT JOIN users u3_ ON u3_.id = c4_.user_id AND (EXISTS (SELECT 1 FROM cost_object_managers c5_ INNER JOIN cost_objects c6_ ON c5_.cost_object_id = c6_.

[2017-12-29 10:38] shubaivan commented on #6941
@Majkl578
Because `WITH` this is additional condition. I said about change `ON` condition for `leftJoin` this is different case
Now sql look like
[code]

I want change this relation `users u3_ ON u3_.id = c4_.user_id`

by

[code]

[2017-12-29 10:41] shubaivan commented on #6941
@Majkl578
But when I changed `WITH` to `ON`

[code]

I have error

`[Syntax Error] line 0, col 112: Error: Expected end of string, got 'ON'`

[2017-12-29 19:05] mkruk-u2 commented on #5801
@lcobucci I've added a failing test case (https://github.com/doctrine/doctrine2/pull/6944)

[2017-12-31 14:45] infastra opened #6946 "Bug by inserting data"
I try to create a new database entry by using the class EntityManager with the method flush especially for one Entity. After call the method flush, I get the error SQLSTATE[HY093]: Invalid parameter number: no parameters were bound.

Here is my source code:

[code]

When I only want to update an entity, it works.

After debugging I found out that the class Doctrine\ORM\UnitOfWork didn't have the e

[2018-01-01 13:11] Ocramius commented on #6946
[`EntityManager#flush()` expects a `object|object[]|null` as parameter](https://github.com/doctrine/doctrine2/blob/374e7ace49d864dad8cddbc55346447c8a6a2083/lib/Doctrine/ORM/EntityManager.php#L346).

Besides that, flushing single entities is deprecated and already removed in `develop`, which is going to be ORM 3.0. I strongly endorse not using `EntityManager#flush($entity)`, but only `EntityManager

[2018-01-01 13:11] #6946 closed

[2018-01-01 18:17] Ocramius commented on #6815
Closing as `invalid` as per https://github.com/doctrine/doctrine2/pull/6817#issuecomment-354667371

[2018-01-01 18:17] #6815 closed

[2018-01-01 22:44] Majkl578 commented on #6807
If we want to do this, we can use [`SlevomatCodingStandard.Namespaces.FullyQualifiedGlobalFunctions`](https://github.com/slevomat/coding-standard#slevomatcodingstandardnamespacesfullyqualifiedglobalconstants) for CS enforcement, but it currently sees no difference between `\` and `use function` - if we only want one (`use function`), we need to extend it a bit.
Also be aware that this approach cou

[2018-01-01 23:05] Ocramius commented on #6807
Not worried by amount of imports: better than inline diffs by far, plus we
can grep it if we ever need to get rid of something bad coming from core.

On 1 Jan 2018 23:44, "Michael Moravec" <notifications@github.com> wrote:

[2018-01-02 11:31] cgardiennet commented on #6942
Need this in a future 2.5 version

[2018-01-02 12:22] Ocramius commented on #6942
@cgardiennet this is available in [DoctrineExtensions](https://github.com/beberlei/DoctrineExtensions/blob/f592c495f1c43851f5e3418cf9c2514e61d67e64/src/Query/Mysql/Round.php)

[2018-01-02 12:22] #6942 closed

[2018-01-02 13:14] cgardiennet commented on #6942
The solution to use DoctrineExtension is not good one for me :

[2018-01-02 13:33] Ocramius commented on #6942
Yep, you should send a patch to `DoctrineExtensions` then :-)

Patches here also welcome, as long as behavior is consistent on all platforms.

[2018-01-02 13:36] cgardiennet commented on #6942
The most important annoying fact for me is that i have to declare a custom DQL function (ROUND) when this is a standard SQL function...

[2018-01-02 13:37] Ocramius commented on #6942
That holds true for most SQL functions. DQL is kinda like a subset of SQL, and we can only expand it where functionality applies to all DB vendors.

[2018-01-02 13:38] cgardiennet commented on #6942
ROUND exist in all DB !

[2018-01-02 13:39] cgardiennet commented on #6942
And most important, it is implemented in Doctrine DBAL for all platforms !

[2018-01-02 14:17] Ocramius commented on #6942
Send a patch then :+1:

[2018-01-02 14:20] cgardiennet commented on #6942
This is what i tried to do : https://github.com/doctrine/doctrine2/pull/6954

[2018-01-02 16:26] thomasklein94 commented on #4543
Imho, SQLFilter is a very dangerous tool, if you use it, it's more likely you shot yourself in the foot, than have a working solution. The doctrine's design clearly can't handle any additional SQL filtering expression, as stated above. Because of these, it should be deprecated in the long run.

@PowerKiKi I had the exact same issue myself, and I think i finally managed to fix the problem. My solut

[2018-01-02 16:38] Ocramius commented on #4543
A generic solution is to keep a hard split between read models and write models, and have all read models require the filter as parameter. These read models would use `HYDRATE_ARRAY` or equivalent and never cause `UnitOfWork` changes.

Something like: `interface ReadOperation { function __invoke(FilterCriteria $criteria) : ReadOnlyResultSet; }`

That is a radical shift that represents the requirem

[2018-01-02 16:41] Ocramius commented on #4543
And yes, I realise that I've just suggested this:
![did-you-just-tell-me-to-go-fuck-myself](https://user-images.githubusercontent.com/154256/34491541-263e9e9e-efe4-11e7-8e01-c6ece9bae892.jpg)

[2018-01-03 09:38] aftabnaveed commented on #3364
Does this limitation still exist? $targetEntity will always return the root entity which prevents us adding filters on its subclasses.

[2018-01-03 09:39] Ocramius commented on #3364
@aftabnaveed you'd need to write a test case to demonstrate the issue.

[2018-01-03 14:40] ohartl opened #6961 "DQL Syntax Errors when upgrading to 2.6.0"
This DQL and others with the same problem (I anonymized it here) used to work with 2.5.x:

[code]

Now with 2.6.0 I get this error.
[code]

Not sure if its my fault not using the correct syntax, this worked in the previous version of doctrine/orm, or its a BC break maybe?!

[2018-01-03 14:43] Ocramius commented on #6961
Uhh... I didn't even know multiple `WHERE` worked - that is most likely a bug in your code, and we simply made the DQL align to the [EBNF definition](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/dql-doctrine-query-language.html#ebnf

[2018-01-03 14:43] Ocramius commented on #6961
Also, arbitrary join conditions require a `WITH` clause...

[2018-01-03 15:24] Ocramius commented on #6961
@ohartl they weren't really supposed to work :S

As for the documentation you linked, those are not arbitrary joins, but joins over associations.

[2018-01-03 15:39] ohartl commented on #6961
Ok, thanks

[2018-01-03 15:39] #6961 closed

[2018-01-03 17:58] Majkl578 commented on #6807
Provided CS sniff extension for enforcing `use function`/`use const` in slevomat/coding-standard#235. I guess it now depends on IDE (PhpStorm assumed) how clever it would be when handling this. Will try later and eventually propose this for doctrine/coding-standard.

[2018-01-03 19:47] Majkl578 commented on #6807
Checked PhpStorm, looks it can handle it as fine as classes.
![options](https://user-images.githubusercontent.com/144181/34536996-44635bce-f0c7-11e7-8c8f-5ab4235cb2ca.png)

[2018-01-03 23:04] SenseException commented on #6891
I've created the PR for the event documentation.

[2018-01-04 06:55] Ocramius commented on #6891
Handled in #6963

[2018-01-04 06:55] #6891 closed

[2018-01-04 12:23] alsar commented on #6937
I just run into the same issue today.
It works with the EntityManager `find` methods, but it behaves like @holtkamp described with the query builder. So it seems that thew problem is with the query builder.

[2018-01-04 13:07] IwfY commented on #6937
For me this happened when I retrieved an object through its repository which had a Many-To-Many aggregate on objects of class A that could also be of its subclasses A1 or A2. The objects from this reference had only the properties populated that class A had.

[2018-01-05 08:21] Sutefan opened #6965 "automatic SQL alias on fields starting with numbers are not escaped"
I work via symfony 3.3 and its doctrine-bundle on SQL Server database. Our users table has numerous fields starting with numbers. The problem is that, even though fields names are correctly escaped with square brackets, aliases aren't :

```SELECT t0.[01_product_creation] AS 01_product_creation FROM users```

This fires an error everytime a select request is made on that table :

[code]

I have cr

[2018-01-05 08:40] Ocramius commented on #6965
Check if it is thrown through the quote strategy: https://github.com/doctrine/doctrine2/blob/f4eb8ca85ff90870e788291d697afdbe30d07e3e/lib/Doctrine/ORM/Mapping/QuoteStrategy.php#L107-L117

[2018-01-05 10:15] Sutefan commented on #6965
Hi,

Thank you for your answer !

If I add : `$columnName = $platform->quoteIdentifier($columnName);` just before the end of getColumnAlias function it solves the problem.

[code]

Is it possible to include that in an update if this do not break requests on other platforms in some other cases ?

[2018-01-05 10:20] Ocramius commented on #6965
@Sutefan write a test for it, then we can write/merge a patch :-)

[2018-01-05 10:28] Sutefan commented on #6965
Thanks a lot !

I already have a correction for this as it quotes everything and causes problems during hydratation ^_^;)

This is the right code to add :
[code]
And the function once modified :
[code]

[2018-01-05 10:40] Ocramius commented on #6965
Without an automated test, a fix is not considered

[2018-01-05 10:48] Sutefan commented on #6965
Ok, should write it here or do I have to make a pull request, and submit modifications ?

Sorry to ask you this question but I have never made a github participation until now, and it may take me some time to sort out what I have to do next.

[2018-01-05 11:00] Ocramius commented on #6965
@Sutefan give a pull request a stab. My strong suggestion is to have a PR with two commits:

 1. (first) a commit with the failing test
 2. a commit with the fix you suggested above

If you push these comments separately, we should see a red build followed by a green one, which validates the change :+1:

[2018-01-06 15:54] Ocramius opened #6966 "Document new bugfixing workflow in README.md"
Since we moved `master` to be `3.x-dev`, we need to also update contributing guidelines so that users know where to send patches to.

So far, since `2.6` and `master` diverge quite a lot (architecturally), the suggestion is to let bugfixes flow into `2.6` or `2.7`, and have another separate patch for `master` once (and if) it is solved.

Probably a good chance to add issue templates like in https:

[2018-01-07 04:50] kejwmen commented on #6934
As you can see in dbal PR, this is related to every custom type and support for that won't be implemented in 2.x.

You can always use `array_map` as a workaround to format instances as strings like this:

[code]

[2018-01-07 07:43] Tobion commented on #6939
Can confirm the bug. I'm als affected with something like `$em->createQuery('DELETE FROM '.MyEntity::class)->execute();`.
I don't think the alias should be required for simple queries like this.

[2018-01-07 15:48] kimhemsoe opened #6968 "Fix url doctrine-mapping.xsd in docs"
At the moment there is several different uris in our docs and at symfony.

quick grep of docs:
/Users/robo/dev/php/Doctrine/doctrine-mapping.xsd
http://doctrine-project.org/schemas/orm/doctrine-mapping.xsd
https://raw.github.com/doctrine/doctrine2/master/doctrine-mapping.xsd

If believe we agree on one way and fix the docs.

@Ocramius have suggested to use vendor

[2018-01-07 18:50] SergeC opened #6969 "How to mock IterableResult?"
After spending a few hours on Googling how to mock IterableResult I still don't have a clear answer.
I have a project Symfony 4 + Doctrine 2.6.

class CoinRepository extends ServiceEntityRepository
{
    public function __construct(RegistryInterface $registry)
    {
        parent::__construct($registry, Coin::class);
    }

    public function getEnabledCoins(): IterableResult
    {
        retur

[2018-01-07 18:51] Ocramius commented on #6969
Return an ArrayIterator and you should be fine

On 7 Jan 2018 19:50, "Sergey" <notifications@github.com> wrote:

[2018-01-07 19:14] SergeC commented on #6969
Due to PHP 7 return type definition, it doesn't work if I have `public function getEnabledCoins(): IterableResult` in repository while mocked repository returns `\ArrayIterator`.

Test:
    public const SYMBOL = 'XXX';

    public function testUpdate()
    {
        $coin = new Coin();
        $coin->setSymbol(self::SYMBOL);

        $repository = $this->createMock(CoinRepository::class);

[2018-01-07 19:19] Majkl578 commented on #6969
Then don't typehint internal IterableResult, but `iterable` only.

[2018-01-07 19:22] SergeC commented on #6969
@Majkl578 this way it works.

[2018-01-07 19:22] #6969 closed

[2018-01-08 00:24] Majkl578 commented on #6807
I prepared this in https://github.com/doctrine/coding-standard/commit/15968c3495c4a5268edd2bd9bceb9264f67b1620, example of how noisy it'd be is here: https://github.com/Majkl578/doctrine2/commit/2b69bd95941308539b43fcbcaae9a272666c4233
I also tested PHP with VLD with multiple scenarios and didn't find any drawback of using `use` rather than `\` - functions were correctly inlined and/or specialized

[2018-01-08 08:53] fasterforward opened #6970 "Subentities with discriminator column in query result"
We have some problems querying an entity with embedded sub entities. First let me sketch the context:

- We have a table with **Offer** entities
- Each **Offer** consists of multiple **Offerlines**
- Each **Offerline** has one related **Generalassuranceline**
- Each **Generalassuranceline** has one related **Possession**
  - This **Possession** has a discriminator column defined to distinguish two

[2018-01-08 08:54] julienb-allopneus commented on #6776
Hi @lcobucci and @akomm ,

Any news on this issue?
I guess that we may remove the "Missing tests" label and requalify the issue.

Thanks,

Julien.

[2018-01-08 09:50] kdambekalns commented on #6865
❤️

[2018-01-08 10:07] Steveb-p commented on #5699
I've stumbled across this as well with exactly the same situation. `iterate` works alright if you're using object hydration, and at the point when you start using arrays (for me I just needed the ID) `iterate` starts using 0,1,2,3... as keys.

Question is it this intended behavior. For people already going around this issue it will be kind of a BC break.

[2018-01-08 14:02] applike-ss commented on #6937
I have seen the same issue in another scenario.
We use discriminators to determine a type of a row which can has different columns/properties set.
These do look like this:
class X extends AbstractClassY{}
class AbstractClassY extends AbstractClassZ{}
class AbstractClassZ{}

When using the symfony DoctrineParamConverter (which uses the find method of a given repository) it works fine (uses the Simp

[2018-01-08 14:59] Sutefan opened #6972 "Bug in test suite on branch 2.5"
Hi there,

When I launch PHPUnit on branch 2.5 I get the following message :

`
Fatal error: Declaration of Doctrine\Tests\Mocks\HydratorMockStatement::fetch($fetchStyle = NULL) must be compatible with Doctrine\DBAL\Driver\ResultStatement::fetch($fetchMode = NULL, $cursorOrientation = PDO::FETCH_ORI_NEXT, $cursorOffset = 0) in /var/www/html/tests/Doctrine/Tests/Mocks/HydratorMockStatement.php on l

[2018-01-08 15:05] Ocramius commented on #6972
DBAL 2.5 and ORM 2.5 diverged on interface implementations: please upgrade to 2.6.

[2018-01-08 15:05] #6972 closed

[2018-01-08 16:05] Majkl578 commented on #6937
Could you please try to create a test case that reproduces the bug? It'd be really helpful in order to identify the issue.
You can find examples on https://github.com/doctrine/doctrine2/tree/v2.6.0/tests/Doctrine/Tests/ORM/Functional/Ticket

Thanks.

[2018-01-09 09:21] ste93cry commented on #4584
After updating to Doctrine 2.6 I get the same error while before it was working fine. I now have to use two `persist` and `flush` calls even though the main entity has the `cascade` option set to `persist`. Plus, I was relying on the fact that all INSERT queries were automatically executed in a transaction and that if any of the statements failed everything failed as well but now I have to wrap al

[2018-01-09 11:25] ro0NL opened #6973 "Throwing __toString implementation makes Query(Builder) crash"
Hi,

I have a `Id` value object with `equals() + isEmpty() + __toString()` implementation. I'd like to vary empty ID's on being `null` yes/no; the constructor signature looks like `__construct(string $id = null)`.

In theory `string("")` is a known ID value, thus not empty. But this is what the issue is about yes :)

For now im throwing a `LogicException` in `__toString` in case the ID value is em

[2018-01-09 11:38] ro0NL commented on #6973
In general the bigger picture is to have `getId(): Id` (not `?Id` nor `?int)`.

[2018-01-09 11:52] Ocramius commented on #6973
@ro0NL `__toString()` cannot throw - that is a PHP language limitation

[2018-01-09 12:09] ro0NL commented on #6973
@Ocramius You're right! Totally overlooked the `must not throw an exception` part :disappointed:

In general what do you suggest to safely have `getId(): Id`? I believe currently doctrine requires a nullable API for PK values.. no? Basically im seeking a VO design for the PK in case it's unknown beforehand.

[2018-01-09 12:12] Ocramius commented on #6973
@ro0NL doctrine doesn't use your getter, so you are free to use whatever you like there, but the property must be set to something stringable and not `null`

[2018-01-09 12:16] ro0NL commented on #6973
Yep, im figuring it out :)

[code]

In case an empty id is passed to the constructor i just set `$this->id = null` and ignore the VO. That should do!

Thanks a lot :) needed this.

[2018-01-09 12:16] #6973 closed

[2018-01-09 12:24] Ocramius commented on #6973
:+1:

[2018-01-09 14:06] ro0NL commented on #4584
Im also hitting the same issue. I've identified it for now with `int(1)` as that value is generated anyway. WFM :) but totally unexpected yes.

[2018-01-09 15:10] soullivaneuh opened #6975 "Expected Doctrine\ORM\Query\Lexer::T_END, got 'AS' since 2.6.0"
With the following query builder:

[code]

I have this error on `execute()`:

[code]

Here is the produced DQL:

[code]

Rolling back to 2.5 solve the issue, so it looks like a BC break.

[2018-01-09 15:23] Warxcell commented on #5722
It would be nice to support associations too. :)

[2018-01-09 15:42] Sharoff45 opened #6976 "Doctrine deletes all records when changing items in relation"
I have 2 entities:
1. Project
2. Issue

Each Project can have many Issues related to it.

I use this code to filter the Issues:
[code]

In the end here is what I see in the log:

[code]

This output is not what I expected to see. I wouldn't expect it to delete all Issues within the Project. Could you please explain this behavior?

I also need to mention that this started happening only after we up

[2018-01-09 22:42] Majkl578 commented on #6975
This is actually bug in your code: `CASE WHEN ... THEN ... ELSE ...` requires to be ended with `END`. For reference see DQL EBNF for GeneralCaseExpression in 2.5: https://github.com/doctrine/doctrine2/blob/v2.5.14/docs/en/reference/dql-doctrine-query-language.rst#case-expressions
The code for this [hasn't been touched](https://github.com/doctrine/doctrine2/blame/v2.6.0/lib/Doctrine/ORM/Query/Parse

[2018-01-10 09:37] Soullivaneuh commented on #6975
@Majkl578 I'll take a look, but this change nothing.

This was perfectly working with the same code for v2.5, not after upgrading to 2.6.

Rolling back to v2.5 was the only thing I did to make it working again.

[2018-01-10 19:47] ragboyjr opened #6978 "Best Way to Group Entities in a Project"
Hey guys, I'm very big fan of doctrine and the amazing work you guys have produced in the project. I wanted to create a discussion regarding best practices on how to group and where to store entities in your code (not like in the database, but where to put the files).

The symfony examples all show entities within the `Entity` namespace where your entire projects entity domain is one folder. I've

[2018-01-10 19:50] Ocramius commented on #6978
I suggest reading through http://mnapoli.fr/organizing-code-into-domain-modules/

[2018-01-10 19:53] ragboyjr commented on #6978
Lol, @Ocramius this freaking rocks, did you just have this on bookmark or something?

[2018-01-10 19:54] Ocramius commented on #6978
No, @mnapoli posted it a few days ago, and it matches the topic :-)

[2018-01-10 20:01] ragboyjr commented on #6978
Yes, it does quite well. This was the one thing I've never loved about the skeleton structures of frameworks like symfony/laravel, they group all of their code by type vs feature. But i guess it'd be a bit harder to have a skeleton project off of feature vs type.

Anyways, what do you think about including some information from that article in a cookbook or doc page in the doctrine ORM?

[2018-01-10 20:05] Ocramius commented on #6978
Not sure about it - it is true that the project is getting more opinionated about which approach is to be taken, but the location of entities makes no difference to the ORM.

You may also want to check discussion going on in https://github.com/doctrine/doctrine2/pull/6902

[2018-01-10 21:00] timostamm commented on #4584
Just followed the doctrine docs on [Identity through foreign Entities](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/tutorials/composite-primary-keys.html#identity-through-foreign-entities) and stumbled upon this bug.

When I create a new Article using the entities declared in "Use-Case 1: Dynamic Attributes", I get the mentioned exception:

[code]

This was really unexpected.

[2018-01-11 16:01] christophe-mailfert opened #6979 "Doctrine 2.6 : Inheritance (instance of) does not work"
Hi guys,

Doctrine ORM version : 2.6.0

I'm currently migrating my project from symfony3 to symfony4 flex and my unit tests are failing. The reason:

Instance of does not generate correct sql request

Generated sql
[code]

Instead of
[code]

Code in repository:
[code]

See you :)

[2018-01-11 16:04] Majkl578 commented on #6979
Can you please also share your entities/mapping to illustrate the inheritance tree? ideally as a test case that reproduces the bug? It'd be really helpful in order to identify the issue.
You can find test examples on https://github.com/doctrine/doctrine2/tree/v2.6.0/tests/Doctrine/Tests/ORM/Functional/Ticket.

Thanks.

[2018-01-11 16:08] christophe-mailfert commented on #6979
Sure here is my entities:

[code]

[code]

I will add a test as soon as possible :).

[2018-01-11 19:13] tavlima opened #6980 "[Question] Optimistic Locking behaviour for dirty entities"
I was surprised to see that `Doctrine\ORM\EntityManager::find` is able to find an entity matching the `lockVersion` constraint, even when the changes were not persisted yet.

[code]

I get that the `find` is optimised to check the identity map first, before hitting the database, but is there a reason do that even when explicitly locking?

Couldn't we check if the identity mapped entity is not dirt

[2018-01-11 19:24] theredled commented on #6054
I have the same questions:
- What is the internal reason?
- Why wouldn't Doctrine modify original SQL query so that it retrieves one-to-one linked entities without querying afterwards?

[2018-01-12 01:27] Majkl578 commented on #4845
Handled in #6936.

[2018-01-12 01:27] #4845 closed

[2018-01-12 09:10] wadjeroudi commented on #6344
"I do agree that replacing the whole collection is something nice to have but I'd say that it should be only supported/considered on v3 after the refactor that @guilhermeblanco is doing"
@lcobucci Is it still planned for v3 ?

The issue should be closed as 2.6 has been released ?

[2018-01-12 09:18] Ocramius commented on #6344
If someone wants to implement that, they'd need to pick up the work themselves. Starting from a test would already be great.

The core team already has enough WIP areas for now.

[2018-01-12 09:46] wadjeroudi commented on #6344
@Ocramius in my opinion the orphanRemoval is a weird implementation to do a simple task : remove element.
The "natural" and "logical" way to remove an entity from a collection should be just to call remove/removeElement from this collection.
Without setting the parent entity to null.

Is there a possible implementation of this behaviour and would it be accepted ? If yes, I may try to implement it.

[2018-01-12 12:28] NavyCoat commented on #6344
@wadjeroudi  I'm not the "oldest" developer and in my first days/months :), Doctrine looks like big and strange piece of code that do a lot of magic. And it has strange thing. For example this removing elements behaviour. For me as user of this package, I expected it will remove element :P

[2018-01-12 12:34] Ocramius commented on #6344
As already mentioned, write a test case first. Discussion should start from the test expectations.

[2018-01-12 14:53] Yuav commented on #5277
Where can I find more information about the removal of merge/detach and proposed alternative approaches?

[2018-01-12 14:56] Ocramius commented on #5277
There is no real alternative approach to `merge()` besides fetching an entity from the DB and re-populating it with data that you have in memory. `detach()` is replaced by `EntityManager#clear()`

[2018-01-12 22:24] pathmissing commented on #6510
Hi, are there any updates on this issue?
Regards

[2018-01-13 15:59] theoaks opened #6984 "There are no commands defined in the "orm:schema-tool" namespace"
I get this error when I try to run the command

`doctrine orm:schema-tool:create`

There are no commands defined in the "orm:schema-tool" namespace.

I've googled and I didn't find any issue like it

What am I doing wrong?

[2018-01-13 16:01] Ocramius commented on #6984
See https://github.com/doctrine/DoctrineModule/issues/618#issuecomment-357445760

[2018-01-13 16:01] #6984 closed

[2018-01-14 12:05] MarkusRodler opened #6985 "Combine Single-Table-Inheritance and Embeddables (=Single-Field-Inheritance?)"
Hello,

I want to use some sort of Single-Table-Inheritance (or maybe better: Single-Field-Inheritance).

PHP Example:
I have an abstract class AbstractDifficulty.
This AbstractDifficulty has three concrete classes (HardDifficulty, MediumDifficulty and EasyDifficulty)
And I have a class called Job. Every Job has a title and one difficulty.
My database schema should therefore look like this:
[code]

[2018-01-14 13:08] Ocramius commented on #6985
That's because you either map the column as a field or as a discriminator column: doing both is not supported.

[2018-01-14 13:10] Ocramius commented on #6985
See also https://github.com/doctrine/doctrine2/issues/5439

[2018-01-14 13:10] #6985 closed

[2018-01-14 13:12] Ocramius commented on #6985
Ah, by the way, embeddable entities don't support inheritance - that was never tested, so it should probably be added as a separate validation issue (metadata validation should fail)

[2018-01-14 20:24] egircys opened #6986 "Correct phpdocs of methods marked internal"
Some methods have in their phpdocs the keyword "INTERNAL", as stated in the PR https://github.com/doctrine/doctrine2/pull/6967

e.g.
https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/UnitOfWork.php#L843
https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/PersistentCollection.php#L100

Internal can be a method or class, but also a part of the description text. https:

[2018-01-15 09:45] MarkusRodler commented on #6985
Thanks for the real quick reply!
But I have one question. Wouldn't it be a useful feature to combine those two features?
Without it, I have to modify my Business-Models in order to make it work with doctrine.

[2018-01-15 11:06] lcobucci commented on #6979
@christophe-mailfert the SQL is being generated correctly, what's happening is that you're not using inheritance correctly.

Objects with type `BusStop` are also an instance of `Point`, e.g.:

[code]

Therefore if you're using `$builder->expr()->isInstanceOf('p', Point::class)`, the generated will use `interest` AND `stop` as filter.

This was a bug in v2.5.x, which was fixed in v2.6 (#6392).

[2018-01-15 11:14] christophe-mailfert commented on #6979
Hey Icobucci,

Thx for your response.

So with my current schema, it's not possible to handle inheritance ?

Should i transform Point to an Abstract class and create a child InterestPoint who extends AbstractPoint ? or there is another solution with current schema ?

Thx for advance.

[2018-01-15 11:55] flik opened #6987 "associated object is showing null instead of correct values"
associated object is coming but values are null ?

here is output :

object(stdClass)[581]
 public '__CLASS__' => string 'PsnPersonPsn' (length=12)
 public 'idPsn' => int 17468
 public 'logiurModifiedPsn' =>
    object(stdClass)[650]
      public '__CLASS__' => string 'UserIur' (length=7)
      public '__IS_PROXY__' => boolean true
      public '__PROXY_INITIALIZED__' => boolean false
      public

[2018-01-15 12:14] Ocramius commented on #6987
This is normal: proxies are lazy-loaded when you actually try reading their internal state. Ref: http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/working-with-objects.html#entity-object-graph-traversal

[2018-01-15 12:14] #6987 closed

[2018-01-15 14:41] lcobucci commented on #6979
That's indeed a viable solution, and it won't require a redesign of your models.

[2018-01-15 22:56] holtkamp commented on #6937
@kbond, your test at https://github.com/doctrine/doctrine2/pull/6988 relates to this issue?

[2018-01-15 22:57] kbond commented on #6937
@holtkamp yes, I believe so.

[2018-01-16 17:46] robertonetresults commented on #4584
I have the same error too after updating to Doctrine 2.6. I can't apply the @ro0NL tip because I can't change the DB structure.

[2018-01-17 10:22] flik commented on #6987
I fixed this issue by edit the entity with fetch="EAGER" attribute, below is the code example where to change. just add the attribute in foreign fields.
[code]

[2018-01-18 11:05] NicolaF opened #6991 "ManyToManyPersister fails to remove join table entry if there is multiple join columns"
this is due to a typo in `\Doctrine\ORM\Persisters\Collection\ManyToManyPersister::getDeleteSQLParameters`:

[code]

It should be `$sourceClass->getFieldForColumn($refColumnName)`, as `$columnName` is the join table column, not the entity table column.

[2018-01-18 12:06] Ocramius commented on #6991
Closing as duplicate of https://github.com/doctrine/doctrine2/pull/6992

[2018-01-18 12:06] #6991 closed

[2018-01-18 13:39] koseduhemak commented on #6979
The following does also not work in `2.6.0`:

[code]

[code]

Problem is that `$array = $this->entityManager->getRepository(Project::class)->findAll();` does not return any entities of type `SubProject`, only of type `Project`. However, there are many `null` values (I think every `SubProject` gets hydrated as `null` value) in the resulting `$array`.

The same code works with `2.5.14`.

[2018-01-18 13:50] kanonhian opened #6994 "[Question ] Any native way to achieve this?"
Very often I have to do this `findBy(array('criteria'=> $someObject) `where $someObject is a prepopulated object. My question is: is there a built in function that given the $someObject id and his entity type fetch him from database and then executes the findBy from above??? Something like this:
[code]
If, lets say, I need to fetch al groceries whose supplier id is 456  I'd query like this
`DAO->f

[2018-01-18 14:46] lcobucci commented on #6979
@koseduhemak your mapping seems invalid to me, since it doesn't follow any of the guidelines explained in http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/inheritance-mapping.html.

That might be the cause of not getting the correct data, however it's kind of scary that it used to work on `v2.5.14`.

[2018-01-18 15:00] koseduhemak commented on #6979
@lcobucci Sorry, did some mistakes by copying and simplifying my example.
Corrected it in my previous answer (it was way more complex, but I tried to reduce complexity and make a shorter, easier to understand example).
I followed the guidelines here: http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/inheritance-mapping.html#single-table-inheritance

[2018-01-18 15:34] lcobucci commented on #6979
@koseduhemak so you really don't have a `@DiscriminatorMap`? Could you try to send a PR with a failing functional test with this scenario (targeting `2.6`)?

[2018-01-18 16:30] Sutefan commented on #6965
Giving the fact that all characters out of this range : '/[^A-Za-z0-9_]/' are erased in aliases, the best and easiest way to correct this problem is :
[code]

[2018-01-18 16:51] koseduhemak commented on #6979
@lcobucci nope, I do not explicitly specify a `@DiscriminatorMap`. I thought (and according to the docs), we do not necessarily specify one: "If no discriminator map is provided, then the map is generated automatically. The automatically generated discriminator map contains the lowercase short name of each class as key." (Source: http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/ref

[2018-01-19 13:22] haegemon opened #6996 "Mysql: Is there possibility to create index for json field?"

[2018-01-19 13:33] lcobucci commented on #6996
@haegemon did you check https://dev.mysql.com/doc/refman/5.7/en/create-table-secondary-indexes.html#json-column-indirect-index?

[2018-01-19 13:57] haegemon commented on #6996
Yes. And I didn't find  at docs how can I create Generated column and index for this column at entity annotation. Is this possible?

[2018-01-19 17:11] NicolaF commented on #6991
Hi @Ocramius
See #6997 for PR on the 2.6 branch

[2018-01-20 03:17] Ocramius commented on #6996
Closing as `won't fix` here. This goes into fine-grained schema customisation details that are out of scope for the ORM. Please use an SQL/DDL migration management tool such as `doctrine/migrations` instead.

This kind of index definition will not be added to the ORM mappings.

[2018-01-20 03:17] #6996 closed

[2018-01-20 03:17] Ocramius commented on #6996
Closing as `won't fix` here. This goes into fine-grained schema customisation details that are out of scope for the ORM. Please use an SQL/DDL migration management tool such as `doctrine/migrations` instead.

This kind of index definition will not be added to the ORM mappings.

[2018-01-20 04:00] Ocramius commented on #5722
@Warxcell please don't hijack threads. https://github.com/doctrine/doctrine2/issues/4291already goes through that.

[2018-01-20 04:22] Ocramius commented on #6991
@NicolaF thanks!

[2018-01-20 13:23] oskargunther commented on #5544
Still not solved? Any work around?

[2018-01-21 10:00] stijn-apptimize opened #6999 "orphan removal removes children, not orphans"
Upgrade from doctrine/orm 2.5.14 to 2.6.0 in our Symfony based application caused the removal of our EnvironmentAccesses records. Before, the orphanRemoval=true annotation worked as expected and only removed orphans. After upgrade the orphanRemoval annotation removed all children, not only orphans.

**User parent**
[code]

**EnvironmentAccess child**
[code]

[2018-01-21 12:31] pursehouse opened #7000 "postgres multiple schema creates invalid entities"
Running the command for a postgres database project with multiple schemas

creates php class entities in the format of "Schemaname.tableName" like this

[code]
which is obviously an invalid class name.
Shouldn't doctrine be putting the schema into the namespace instead of breaking the class name?

[2018-01-21 12:36] Ocramius commented on #7000
No, this is a long standing issue that was never solved because not worth solving, as the entity generators are being deprecated (2.7) and removed (3.0) from the ORM.

Specifically, any kind of special character in the name of the table will result in an invalid class name.

Closing as `won't fix`

[2018-01-21 12:36] #7000 closed

[2018-01-21 12:40] pursehouse commented on #7000
Invalid table name characters? That doesn't match what I am talking about... The table name is "market", the schema name is "incoming".
So there will no longer be any way to create entities from the existing database? Every class will have to be made by hand?

[2018-01-21 12:41] pursehouse commented on #7000
if this was never solved, how does the community use doctrine with multiple schemas?

[2018-01-21 12:42] Ocramius commented on #6999
What is the code causing the issue looking like?

Are any of the removed records removed and re-added to the association, by chance? If so, this is expected behaviour.

An example of how this can be triggered is needed in order to write an integration test.

See
https://github.com/doctrine/doctrine2/tree/2.6/tests/Doctrine/Tests/ORM/Functional/Ticket for examples of what would be needed here.

[2018-01-21 12:55] Ocramius commented on #7000
Try a dash or a space in a table name, for example.

Yes, just not in core ORM. There are already existing tools for generating code when given mapping definitions, so we will provide a migration path, but we no longer endorse nor support the practice in this project due to widespread abuse of these tools, leading to extremely anemic, under-performing and hard to maintain software projects (plus t

[2018-01-21 12:57] Ocramius commented on #7000
Related: https://github.com/doctrine/doctrine2/pull/6902
Related: https://github.com/doctrine/doctrine2/pull/6870

[2018-01-21 13:26] pursehouse commented on #7000
how does doctrine even work without those classes being generated in the doctrine format then? Isn't it a requirement?

[2018-01-21 13:29] Ocramius commented on #7000
You just adapt the generated code.

Doctrine works just fine as long as the annotations or XML `table` and `schema` mappings match your DB.

[2018-01-22 09:10] stijn-at-work commented on #6999
There are no User records or EnvironmentAccess records removed and re-added.

The bug is gone when we remove 'orphanRemoval=true' from environmentAccess attribute.

Our hypotheses: a closer look at our (legacy) code showed that we added both cascade="remove" and orphanRemoval=true instead of choosing for one of these mutually exclusive strategies.
Choosing for cascade="remove" strategy removes the

[2018-01-22 09:13] Ocramius commented on #6999
@stijin-at-work that doesn't help us find the bug. What we need is a reproducible test scenario that works in isolation. See https://github.com/doctrine/doctrine2/tree/2.6/tests/Doctrine/Tests/ORM/Functional/Ticket for examples.

[2018-01-22 11:26] vincequeiroz commented on #6051
I have the same issue too, but I'm use class table inheritance with second level cache.

@Ocramius I'm rollback to version 2.5.14 and it works.

[2018-01-23 01:12] weaverryan commented on #6211
I noticed there's no develop branch (anymore) - has the 3.0 branch moved somewhere else? Thanks :)

[2018-01-23 01:13] Majkl578 commented on #6211
@weaverryan Develop has been merged into master which became 3.0-dev, see #6955. 2.x branches are in feature freeze now.

[2018-01-23 01:17] weaverryan opened #7001 "Doctrine 3: Auto-escape column names"
Hi guys!

In #5874, Ocramius mentioned that the auto-escaping of column names for reserved keywords couldn't happen for Doctrine 2, but it *could* happen in Doctrine 3. I couldn't find any issue in the Doctrine 3 milestone, so I wanted to make sure the idea didn't get lost: I just saw a beginner hit this and get confused today (so 3.0 is our chance).

Is this still a "go" (i.e. yes, something we a

[2018-01-23 01:48] weaverryan commented on #6211
@Majkl578 - I finally found that - sorry for not noticing it :). Very exciting! Thanks!

[2018-01-23 09:21] samplestudio opened #7002 "Flush new entity with relation when use relation in composite key throws ORMInvalidArgumentException"
[code]

Usage:

[code]

Throws ORM/ORMInvalidArgumentException.php:68 "The given entity of type '\TestDoctrine\Entity\Friend' (\TestDoctrine\Entity\Friend@00000000309854b5000000005dfe4c27) has no identity/no id values set. It cannot be added to the identity map".

Because $entity has null id.

Flush after creating new Entity() and before adding $friend to $entity resolve this problem, but it makes

[2018-01-23 10:21] Ocramius commented on #7001
Yeah, I think this should happen for 3.x.

We will have bugs with people doing mixed windows/mac/linux deployments, but less problems with reserved keywords used in mappings, and we can also get rid of the awkward "quoting in mappings" syntax.

[2018-01-23 11:20] NicolaF commented on #4584
For people having issues with 2.6, see #7003

[2018-01-24 16:04] contentrail opened #7006 "Wrong commit order in some relation cases"
Issue was found after updating to v.2.6 and associated with improvements in CommitOrderCalculator class.
Here is the example to reproduce.
Objects:

- **Book**
- **PCT** with mandatory relation to Book (ManyToOne).
Book has optional relation to the PCT object. Some Bookes has PCT and some not. But all PCT has relation to Book.
- **PCTFee** as a child object of PCT (ManyToOne).

![db_scheme](https:

[2018-01-24 17:38] masseelch opened #7007 "@GeneratedValue(strategy="NONE") not working on @Id"
I am trying to have my primary column NOT getting assigned the `auto_increment` option by doctrine.

Following the docs i used the following approach:

[code]

Doctrine does ignore this and will always attempt to change the Column:
![image](https://user-images.githubusercontent.com/12862103/35347471-838a6224-0135-11e8-8414-459ce9547458.png)

When trying to insert a new record, i cannot set the ID

[2018-01-25 11:53] ryall commented on #4568
@BenMorel I agree with you. The Doctrine mantra I keep hearing seems to be along the line of "Well, it kind of works in most cases and changing things is hard so let's not do it".

They say a picture says a thousand words and I think this picture sums up my feelings about Doctrine right now:
![](https://i.imgur.com/Rl0VmKc.jpg)

Disclaimer: Owners, don't take offense - it's meant in a lighthearted

[2018-01-25 11:56] Ocramius commented on #4568
@ryall I think that's the nail on the coffin then.

Here's the exit:

![selection_176](https://user-images.githubusercontent.com/154256/35387238-2c99dbda-01cf-11e8-8599-5740938bbc9d.jpg)

Closing and locking.

[2018-01-25 11:56] #4568 closed

[2018-01-25 13:54] Seb33300 commented on #6975
This looks like to be a bug in 2.5, not in 2.6

[2018-01-25 14:20] poolerMF opened #7009 "[Question] Why is memory still increasing by using EM flush ?"
example:

	echo "first :".memory_get_usage(true)."<br>";

	$em = $this->getDoctrine();

	for($y = 0;$y<5;$y++) {
		$user = $em->getRepository(User::class)->find(1);

		for($x = 0;$x<500+$y;$x++) {
			$token = new CentralToken();
			$token->setType('test');
			$token->setToken(StringUtils::getRandomString(10));
			$token->setUser($user);

			$em->persist($token);
		}
		$em->flush();
		$em->clear();

[2018-01-25 16:50] octaharon opened #7010 "ORM doesn't recognize Amazon RDS MariaDB as a MySQL-compatible DB"
I have a query with something like this:
` AND   c.date > DATE_SUB( NOW() ,INTERVAL 24 HOUR)`
and it works perfectly on local MariaDB 10.1
but when I switch to my RDS instance instead (without changing any other configuration), the query got invalidated by orm lexer:

I've run the query manually so I'm sure it's not a DB error itself, but with the query parser, and the only idea that comes to my m

[2018-01-25 16:53] Ocramius commented on #7010
The query parser is not platform-sensitive. Can you reproduce the crash in
isolation (in a test)?

On 25 Jan 2018 17:50, "Alexander Uskov" <notifications@github.com> wrote:

I have a query with something like this:
AND c.date > DATE_SUB( NOW() ,INTERVAL 24 HOUR)
and it works perfectly on local MariaDB 10.1
but when I switch to my RDS instance instead (without changing any other
configuration), the

[2018-01-25 16:56] jvasseur commented on #7009
My guess would be that you have some kind of logger active that keep in memory queries executed by `flush`.

[2018-01-25 17:02] octaharon commented on #7010
How much of isolation do I need to have? The query is a first-level method of a relevant repository, and according to the stack trace it's being called directly from Symfony controller entrypoint without any prior DDL/DML queries. What I do is just replace "parameters.yml", which literally contains only host/port/user/password

[2018-01-25 19:34] solexsylvain commented on #6976
I didn't expect such a regression when upgrading. My database in production was flushing order items when saving the order. I lost a whole day on fixing the mess it created. my fault, I should have had more behavioral tests in place.

[2018-01-25 19:53] Ocramius commented on #6976
This looks like an orphan removal misconfiguration issue. Can you isolate this behaviour in a test case?

[2018-01-25 20:21] solexsylvain commented on #6976
I can probably set a test case but it will look the same as the code already posted up.
Do you need something in particular ? Yml file, small code block ?
When I go back to version 2.5.14 as mentioned by Sharoff45 who reported the bug, everything is awesome.

[2018-01-25 20:33] adrienbrault commented on #6333
@Ocramius Could you explain what the issue/limitation is ?

[2018-01-25 20:36] Ocramius commented on #6333
The problem is that the `UnitOfWork` and many other internal components assume that an identifier is either generated or not: we don't have a concept in between. I know @guilhermeblanco did some work on this for 3.x, but I don't know how far he got.

[2018-01-25 20:45] Ocramius commented on #6976
It should be something runnable, like the tests in https://github.com/doctrine/doctrine2/tree/ddb3cd17bdc771e0d8ef1eb1b441f140e3b80cd9/tests/Doctrine/Tests/ORM/Functional/Ticket

[2018-01-25 23:27] fezfez commented on #6091
big todo list

[2018-01-26 02:46] cordoval commented on #5861
after running the sql you indicated it works.

[2018-01-26 07:55] Sharoff45 commented on #6976
I'm created pull request with test: https://github.com/doctrine/doctrine2/pull/7011

[2018-01-26 08:12] poolerMF commented on #7009
@jvasseur no I don't have
if I had, memory will be incerased EVERY time  ... you see, that memory is not increased every time

I tested it in another NEW project and result is same

[2018-01-26 08:18] Ocramius commented on #7009
Can you try using https://github.com/Ocramius/DoctrineBatchUtils and see if
the problem still occurs for that one loop?

Do you have any listeners or loggers attached to the connection or the
entitymanager?

On 26 Jan 2018 09:12, "poolerMF" <notifications@github.com> wrote:

[2018-01-26 08:22] coudenysj commented on #7009
@poolerMF It is a pretty basic approach, but you could dump the entity manager in a file a couple of times, and use `diff` to figure out what's going on: https://blog.jachim.be/2013/01/finding-memory-leaks-in-php-objects/.

[2018-01-26 08:36] Ocramius commented on #6976
Thanks!

[2018-01-26 08:42] Ocramius commented on #6976
@Sharoff45 @solexsylvain see #7011 discussion - this is indeed behaving as per design :-\

[2018-01-26 09:05] Ocramius commented on #6091
@fezfez pretty much like everyone. Indeed, without a test we can't do much about this issue.

[2018-01-26 09:12] fezfez commented on #6091
@Ocramius : yeah i know, i was searching docs for AssignedGenerator and i found this issue. the reponse from @janelletavares has more than one year, i just laught about how big  his todo list must be.

No offense and thanks for your work ! ❤️

[2018-01-26 09:28] szymach commented on #6444
Yeah the was on our part, our library had a sneaky bug when it came to validating XMLs. Closing.

[2018-01-26 09:28] #6444 closed

[2018-01-26 09:50] poolerMF commented on #7009
I tried to test it in NEW CLEAN project as I wrote ... and result was same

@Ocramius SimpleBatchIteratorAggregate is doing same thing as me in script ... I'm calling flush and clear after 500 iterations ... I tried It with transaction, but result is same

@coudenysj it's not possible to dump EM or UnitOfWork - apache will get out of memory
- this occured every time ... even without selecting/pers

[2018-01-26 09:54] Ocramius commented on #7009
Dumping the keys of the `UnitOfWork#identityMap` would be sufficient - no need to dump the contents.

[2018-01-26 09:57] Ocramius commented on #7010
Can you get a full trace of the exception above?

[2018-01-26 10:09] Ocramius commented on #7007
This needs a test case to be reproduced.

[2018-01-26 10:18] poolerMF commented on #7009
I tried and identityMap  is empty after every EM->clear

I found **DebugUnitOfWorkListener** .. tried it and result after every flush:
Flush Operation [] - Empty identity map.

but it's OK that identity map is empty, it's normal behaviour after calling EM->clear

[2018-01-26 10:19] Ocramius commented on #7006
This requires a reproducible/minimal test case before the `CommitOrderCalculator` can be adapted though. It seems that you already solved the issue - do you mind sending a patch with the files and examples above?

Also, do you think that a unit test case can be made around `CommitOrderCalculator`? I am fairly sure that the change is simply colliding with some other test scenario.

[2018-01-26 10:20] Ocramius commented on #7009
@poolerMF are you running the latest ORM version? Any other properties we can check?

What about the listeners? Anything registered?

[2018-01-26 10:44] Ocramius commented on #6051
@vincequeiroz your scenario is probably different, since @phoenixgao experiences this issue on `2.5.x`

[2018-01-26 10:56] Ocramius commented on #6510
Closing here - to be tracked in https://github.com/doctrine/dbal/issues/2873

[2018-01-26 10:56] #6510 closed

[2018-01-26 11:49] octaharon commented on #7010
{
          "file": "Z:\\vendor\\doctrine\\orm\\lib\\Doctrine\\ORM\\Query\\Parser.php",
          "line": 452,
          "call": "Doctrine\\ORM\\Query\\QueryException::syntaxError('line 0, col 209: Error: Expected known function, got \\'NOW\\'', instance of Doctrine\\ORM\\Query\\QueryException)"
        },
        {
          "file": "Z:\\vendor\\doctrine\\orm\\lib\\Doctrine\\ORM\\Query\\Parser.ph

[2018-01-26 13:31] solexsylvain commented on #6976
Hi Ocramius and Sharoff45,

I read it. I understand it was the intention at first but it was working "correctly" until 2.5.14.
I'm guessing you'll see more issue with this as Symfony seems to do the same as the setIssues at least in the case I'm in.
I'm using a form with child forms (order and its items).  I do not allow adding or removing to the collection, just updating the items if need be.

I'

[2018-01-26 13:40] solexsylvain commented on #6976
It's not to complain, I just want to avoid it for other people.

[2018-01-26 13:46] Ocramius commented on #6976
This is not an abstraction, this is the typical symfony (and other frameworks, some of which I've built myself too, sorry!) madness.

I understand what is going on, but the behavior was supposed to be removal of any orphaned entities, and replacing the collection does indeed orphan them.

This has been expected since `orphanRemoval` was introduced, and caused quite a fuss in similar form component

[2018-01-26 13:58] solexsylvain commented on #6976
Symfony is great and I understand you don't get to that point without adding complexity to the code.
Doctrine is the best way that I was able to access the data and map it to objects all languages considered. If you do some .Net at some point, look at dapper, it's interesting and fast.

I know I currently don't have the knowledge of the tools to come up with a fix for that. I just know it's in the

[2018-01-26 14:00] Ocramius commented on #7010
Looks more like a query parsing issue to me. Do you have the full DQL
string?

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Fri, Jan 26, 2018 at 12:49 PM, Alexander Uskov <notifications@github.com>
wrote:

[2018-01-26 14:00] Ocramius commented on #6976
@solexsylvain if you take the snippet I reported above (from `DoctrineModule`) and report an issue against `symfony/symfony`, I'm sure a fix (and useful discussion) can arise

[2018-01-26 14:34] octaharon commented on #7010
I've pasted my code in the previous reply, not sure what you mean by "full DQL string"

[2018-01-26 14:35] solexsylvain commented on #6976
It's done. The issue is at https://github.com/symfony/symfony/issues/25937
Feel free to join the conversation. Not sure If what I wrote is easy to understand.
Thanks a lot for your help.

[2018-01-27 15:15] manishbathla opened #7016 "How do you query?"
have never used doctrine or any other DAL for that matter but I need to switch. I need to know whether I can query something like this in doctrine
[code]
?

[2018-01-27 15:40] Ocramius commented on #7016
Please refer to http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/dql-doctrine-query-language.html for documentation of how the doctrine query language works.

What you wrote there is SQL, which can be run on Doctrine DBAL, not in Doctrine ORM.

In Doctrine ORM, the query above would be translated (in DQL) to:

[code]

If you wanted to select all records where `Description

[2018-01-27 15:40] #7016 closed

[2018-01-27 17:16] Majkl578 commented on #7010
`NOW()` is not a valid DQL function so it's correct that the parser does not recognize it. DQL only provides `CURRENT_DATE`/`CURRENT_TIME`/`CURRENT_TIMESTAMP`.

[2018-01-27 17:59] octaharon commented on #7010
Seems reasonable, but then how it works on MySQL instance?

[2018-01-27 19:24] Majkl578 opened #7017 "[meta] Port DQL Parser to Hoa\Compiler"
Tracking issue for porting the parser to [Hoa\Compiler](https://github.com/hoaproject/Compiler/).

Related discussions:
- https://github.com/doctrine/doctrine2/issues/6211#issuecomment-291271881
- #5656

Related issues:
- #6278

Related PRs:
- #6709
- #6574
- #6944

[2018-01-28 00:03] Ocramius commented on #7010
What could be is that one of the dependencies you use is detecting the
platform and manual registering custom DQL queries. Try dumping
`EntityManager#getConfiguration()` on both systems.

On 27 Jan 2018 18:59, "Alexander Uskov" <notifications@github.com> wrote:

[2018-01-28 19:39] fesor commented on #7017
Is there any short-term plans for this or I, for example, could work on prototype?

[2018-01-28 19:44] Majkl578 commented on #7017
I was already [playing with PP language definiton](https://github.com/Majkl578/doctrine2/blob/dev/query-hoa/lib/Doctrine/ORM/Query/language.pp) and have a WIP Visitor locally, but haven't got much further yet. I don't want to introduce huge refactorings here and there (it may affect anything from the parser itself to the hydration process) at least until Mapping rewrite is a bit more finalized.

[2018-01-28 20:57] coudenysj commented on #7009
@poolerMF Can you describe your setup a bit more? It is kind of strange that your memory keeps going up when you're doing page refreshes (as that would be new PHP runs every time).

[2018-01-28 21:53] poolerMF commented on #7009
@coudenysj look at my first post ...
- for testing you can use simple entity with 1-3 properties (less variables = you need to run loop more times .. call inner loop 700 ... 1000 times)
- anything special
- everything was default in new clean symfony project (v 3.3)

[2018-01-29 06:50] Ocramius commented on #7017
The reason why this is so slow is because our current parser depends on the classmetadata, so it is not just a parser, but also takes decisions based on what class metadata mappings look like. I think we should change that 👍

[2018-01-29 12:28] coudenysj commented on #7009
@poolerMF Can you push the Symfony project to github somewhere? By using Symfony, you have SQL logging, etc... in the Symfony profiler.

[2018-01-29 13:13] poolerMF commented on #7009
class DDC7009Test extends \Doctrine\Tests\OrmFunctionalTestCase
	{
		public function setUp()
		{
			parent::setUp();
			try {
				$this->schemaTool->createSchema(
					[
						$this->em->getClassMetadata(DDC7009Anything::class),
					]
				);
			} catch (\Exception $e) {
			}
		}
		public function testIssue()
		{
			$startMemory = memory_get_usage(true);

			for($y = 0;$y<10;$y++) {
				for($x = 0

[2018-01-29 13:56] tseho commented on #6261
Hey @Ocramius, I have been working on a prototype for implementing this feature.

For ManyToMany relations, the approach I took is :
- add a "position" column on the JoinTable
- guess the position of new entries by runing a pre-insert query like `SELECT MAX(position) FROM ...`
- update positions when an entry is removed in two steps:
  - pre-delete: `SELECT position FROM ...` for finding position

[2018-01-29 13:59] GuigZ- opened #7019 "Problem with doctrine diff"
Hi,

When i use the doctrine diff, doctrine create a file with this line :

[code]

[2018-01-29 14:36] coudenysj commented on #7019
@GuigZ- Do you have a specific line number?

[2018-01-29 14:37] coudenysj commented on #7019
+ you probably want to ask the question in the https://github.com/doctrine/migrations project.

[2018-01-29 14:43] GuigZ- commented on #7019
Hi, okay. i task the question on this repo.

Sorry

[2018-01-29 15:26] coudenysj commented on #7009
@poolerMF I've add the code in [a branch on my fork](https://github.com/coudenysj/doctrine2/blob/01c9914c2d9453c24e0bc4727f511efa7582272d/tests/Doctrine/Tests/ORM/Functional/Ticket/GH7009Test.php]).

First of all, the [assertSame](https://github.com/coudenysj/doctrine2/blob/01c9914c2d9453c24e0bc4727f511efa7582272d/tests/Doctrine/Tests/ORM/Functional/Ticket/GH7009Test.php#L41) can never be the same

[2018-01-29 17:31] #7019 closed

[2018-01-29 17:41] smoench commented on #5581
@Ocramius ping :)

[2018-01-29 19:53] Ocramius commented on #5581
@smoench yeah, didn't get to update anything. Meanwhile you can use my public key [`12EC2DF8`](https://pgp.mit.edu/pks/lookup?op=vindex&search=0x9F65FBC212EC2DF8)

[code]

[2018-01-30 01:06] holtkamp commented on #6937
@Majkl578, two weeks ago a test was provided by @kbond: https://github.com/doctrine/doctrine2/pull/6988, maybe the "Missing Tests" tag can be removed?

[2018-01-30 06:44] Ocramius commented on #6261
Using MAX+1 is not viable unless you run in a serialized transaction.

On 29 Jan 2018 14:56, "Quentin Favrie" <notifications@github.com> wrote:

[2018-01-30 06:53] Ocramius commented on #7019
Possibly related: https://github.com/doctrine/dbal/pull/2825

[2018-01-30 08:28] poolerMF commented on #7009
@coudenysj I didn't test that code, I made it quickly

finnaly I find out, that memory increasing was maybe becouse of SQL logger ... but still it has weird behaviour if using SQL logger (memory is still same ... it should increase every time)

[2018-01-30 08:49] Ocramius commented on #7009
Closing here then :)

[2018-01-30 08:49] #7009 closed

[2018-01-30 11:27] contentrail commented on #7006
I didn't fix it. In fact I've just rollback CommitOrderCalculator class to its previous version by functionality.

[2018-01-30 12:39] lcobucci commented on #6249
@Ocramius any idea on how this relates with the JPA 2.2 stuff?

[2018-01-30 13:12] jkobus opened #7022 "Clear cache command breaks deployment process"
Hello.

After merging the https://github.com/doctrine/doctrine2/pull/6655 my deployment script fails.
The problem is that the "doctrine:cache:clear-query" returns "1" if no cache entries were deleted.
I'm using deployer, therefore all exit codes > 0 are breaking the deployment process.

Exact cause of this is here:
https://github.com/doctrine/doctrine2/pull/6655/files#diff-6d7b81d245cae44e79534370

[2018-01-30 13:25] Ocramius commented on #6249
@lcobucci no, sorry.

[2018-01-30 14:02] jkobus commented on #7022
Well it seems that memcached service was down so the exit code was correct.
After starting the memcached service command works fine.

I think that cache clearing commands could be more verbose about the failure reason.

[2018-01-30 14:02] #7022 closed

[2018-01-30 14:03] GuigZ- commented on #7019
I open a new issue here : https://github.com/doctrine/dbal/issues/3006

[2018-01-30 21:18] popy-dev commented on #5092
Would it be possible to have the entitymanager, able to expose already managed entities in a Collection object (segregated by class, possibly accessible throught repositories) ?
So then the developper would be able to search throught it using a criteria, if he really needs/wants it.

Which is basically what we are handcrafting in teh repository class when needed.

[2018-01-31 06:35] Ocramius commented on #5092
This is not feasible due to the fact that except for identifier lookup operations, we cannot expose the identity map in any other way without incurring in massive memory and BC problems.

Performing anything more than a direct identifier lookup will go through the database and will require an SQL query that will skip PHP's in-memory entities.

Closing as `can't fix`

[2018-01-31 06:35] #5092 closed

[2018-01-31 07:58] popy-dev commented on #5092
"Performing anything more than a direct identifier lookup will go through the database"
I think you missed my point. My suggestion was to add a public method which instanciates a fresh ArrayCollection containing ALL managed entities (non filtered), so that a developper (not doctrine core) COULD iterate over if he wants.

Anyway, it's obviously not a MUST HAVE feature, it would be more a convenienc

[2018-01-31 08:01] Ocramius commented on #5092
I fully understand your suggestion, and explained also that we can't expose
more UoW internal state.

On 31 Jan 2018 08:58, "popy-dev" <notifications@github.com> wrote:

[2018-01-31 09:34] popy-dev commented on #5092
Sorry then !

[2018-01-31 09:46] pepakriz opened #7025 "Object could not be converted to string after upgrade to 2.6.0"
Hi,

After upgrade to 2.6.0 I got `Object could not be converted to string after upgrade to 2.6.0`.

Mybe because this PR: https://github.com/doctrine/doctrine2/pull/6141 . Now custom types must implement `__toString` method when they are used as discriminators. Is this behaviour correct?

[2018-01-31 09:47] Ocramius commented on #7025
@pepakriz discriminators didn't support `object` values before `2.6`

[2018-01-31 14:59] Dadibom opened #7027 "No way to clear the L2 cache"
doctrine/orm: 2.5.14
laravel-doctrine/orm: 1.4.2

I've even tried clearing all keys in the doctrine namespace, but the L2 cache remains. There is no command to clear this cache, and I can't set a namespace for it as i would with the other cache types.

[2018-01-31 20:23] coudenysj commented on #7027
You can fetch the Cache object from the Entity Manager and evict entity regions: http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/second-level-cache.html#cache-api

[2018-02-01 11:52] pepakriz commented on #7025
Maybe not officially, but it works on my code (version 2.5.14) without __toString :)

[2018-02-01 11:59] sroze commented on #3037
I just had the same issue: the `spl_object_hash` of an entity was the same than a previous one (completely different class), the `$uow->getEntityIdentifier()` was returning a wrong ID (the one of the previous one) and therefore the `BasicEntityPersister::prepareUpdateData` method was failing.

Calling `$em->clear()` worked around the bug.

[2018-02-01 14:21] Ocramius commented on #7025
In a reproducible way? Can you compare your code to the one in #6141 and see if there are any major differences?

[2018-02-01 15:22] Majkl578 opened #7031 "Tests failing in February (QueryDqlFunctionTest::testDateAdd with "month" dataset)"
https://travis-ci.org/doctrine/doctrine2/jobs/336054843#L616
[code]

The "month" dataset for QueryDqlFunctionTest::testDateAdd works with assumption that month has 30 days +- delta 2 days, but in February the difference is larger (2378089s is ~27.52 days).
https://github.com/doctrine/doctrine2/blame/master/tests/Doctrine/Tests/ORM/Functional/QueryDqlFunctionTest.php#L351

Test added in #6742.
Appl

[2018-02-02 06:41] #7031 closed

[2018-02-02 08:11] lcobucci commented on #7027
@Dadibom we provide [these commands](https://github.com/doctrine/doctrine2/tree/7d37fe0060b8e98f2a0bb59ac35673e7546c6eb9/lib/Doctrine/ORM/Tools/Console/Command/ClearCache) to clear L2C, maybe `laravel-doctrine/orm` doesn't expose them?

A small question: which cache driver are you using for L2C?

[2018-02-02 18:33] nepster-web opened #7035 "Doctrine 2.5 - Entity Update Bug"
I have the entity (this is simple example):
[code]

My **RecordTranslationCollection** extends \Doctrine\Common\Collections\ArrayCollection

And my **ContentContext_RecordTranslationCollection** type looks like this:
[code]

Ok, it all works when you create and save a new entity! But there is a problem when updating.
When I get the entity **Record** from the database to update the collection of tr

[2018-02-02 20:40] Majkl578 commented on #7035
Changes to object properties are detected by reference so if the object (instance) does not change, it's deemed to be same. See description fo DateTime, it applies to objects in general: https://doctrine-orm.readthedocs.io/projects/doctrine-orm/en/latest/cookbook/working-with-datetime.html#datetime-changes-are-detected-by-reference

[2018-02-03 09:17] poolerMF opened #7036 "getArrayResult or getSql not working properly ?"
I got entity, that have manyToOne (user)
I made simple QB (select table)

**$queryBuilder->getQuery()->getSQL():**

	SELECT
	  c0_.id AS id_0,
	  c0_.name AS name_1,
	  c0_.user AS user_2
	FROM
	  client c0_
	ORDER BY
	  c0_.id DESC
	LIMIT
	  20 OFFSET 0

I'm calling $queryBuilder->getQuery()->getArrayResult()

**real executed SQL from profiler:**

	SELECT
	  c0_.id AS id_0,
	  c0_.name AS name_1

[2018-02-03 09:20] Ocramius commented on #7036
@poolerMF what are the mappings involved in this query? Also, did you make sure there is no caching?

[2018-02-03 09:21] Ocramius commented on #7035
Also see https://stackoverflow.com/questions/15486402/doctrine2-orm-does-not-save-changes-to-a-datetime-field

[2018-02-03 09:21] #7035 closed

[2018-02-03 09:45] poolerMF commented on #7036
**query:**

    $em->getRepository(Client::class)->createQueryBuilder('t')->getQuery()->getArrayResult();

**mapping:**

    /**
     * @var ...\User
     *
     * @ORM\ManyToOne(targetEntity="...\User")
     * @ORM\JoinColumns({
     *   @ORM\JoinColumn(name="user", referencedColumnName="id", nullable=true)
     * })
     */
    private $user;

[2018-02-03 09:53] poolerMF commented on #7036
@Ocramius association is not part of the entity ?
sorry what ? maybe I do not understand

can you send me example, when is it part of the entity ?

and still issue - is getSql returning correct SQL ? becose it is different from real one

[2018-02-03 10:19] Ocramius commented on #7036
I made a quick test to show how this works:

[code]

Also, yes, fields that do not need to be fetched are also removed from the `SELECT` clause.

If you still want the ID of the association, you should add it to your `SELECT` with the `IDENTITY()` function.

[2018-02-03 10:20] #7036 closed

[2018-02-03 10:28] poolerMF commented on #7036
when I use

    $qb->setHint(Query::HINT_INCLUDE_META_COLUMNS, true);

then I will get manyToOne columns

but getSql() **SHOULD NOT RETURN COLUMNS THAT WILL BE NOT FETCHED**
I still think, getSql is not working correctly

[2018-02-03 10:30] Ocramius commented on #7036
In the test above, try these two:

[code]

This one is the default:

[code]

[2018-02-03 10:51] poolerMF commented on #7036
I don't want to be rude, but you are not answering to my question/point
getSql is not returning real sql that will be executed

[2018-02-03 11:01] Ocramius commented on #7036
@poolerMF `getSql` returns the SQL for the matching hydration mode (https://github.com/doctrine/doctrine2/issues/7036#issuecomment-362796456)

[2018-02-04 16:16] Stoakes opened #7037 "EntityRepository.count don't handle Criteria array/object"
Hi

I'm trying to count several entities using `EntityRepository.count()` method. My criteria is quite complex so I use the `Criteria` class to express it. However it is not working. My tests let me think that there is an issue between the signature of `EntityRepository.count` and `EntityPersister.count`.

## Use Case

I have an `Office` object. An office has a `user` (Many to One with `User` enti

[2018-02-04 19:58] nepster-web commented on #7035
I think littering in entities is doubtful. Maybe it's better to use a setting for example:
[code]

In my case it will be easier to extend method **persist**, check properties of the entity on the availability of necessary objects and use **clone** there where it is should be.

[2018-02-04 20:10] Ocramius commented on #7035
"littering in entities"?

[2018-02-04 22:08] nepster-web commented on #7035
Sorry for my beginner's English.

I mean it's trash into entities.

[2018-02-04 22:18] Ocramius commented on #7035
No, it's just good practice to avoid sharing referentially kept mutable state by de-referencing via `clone`. See also https://ocramius.github.io/extremely-defensive-php/ and https://ocramius.github.io/doctrine-best-practices/ for further tips ;-)

[2018-02-05 00:02] holtkamp commented on #6937
@alsar you wrote

Any section in particular? Other info about the potential source is welcome as well...

[2018-02-05 07:19] Ocramius commented on #7037
Is this bit in your example intentional?

[code]

[2018-02-05 07:23] Ocramius commented on #7037
Ah, I see what is wrong there. This is a naming mismatch in the API.

You probably want to use the `Doctrine\Common\Collections\Selectable` interface.

Usage is as follows:

[code]

The name `criteria` (for parameters) is a restrictive criteria of `key => value` scalar values to restrict the search upon, and that's something we had since even before `Doctrine\Common\Collections\Selectable` was int

[2018-02-05 07:23] #7037 closed

[2018-02-05 07:41] holtkamp commented on #7037
The following links might be useful when encountering the limitations of `Doctrine\Common\Collections\Selectable`:

- http://mnapoli.fr/collection-interface-and-database-abstraction/
- https://github.com/rikbruil/Doctrine-Specification

[2018-02-05 10:00] #6072 closed

[2018-02-05 10:08] Ocramius commented on #6072
To me, this looks like a misuse of types, as the fields become (from the outside) effectively `mixed` or `mixed[]`.

Take this field for example:

[code]

This should simply be mapped as `Actor`, which should be the root of a Single Table Inheritance (STI) or a Joined Table Inheritance (JTI). The `Actor` symbol should be defined and referenced, and subtypes should be covariant to it. The `Actor` s

[2018-02-05 13:47] simara-svatopluk commented on #6856
@lcobucci Thanks for Your point of view. I read more about DDD repositories and now I can only agree that their responsibility is not `save`. Repositories supplement in-memory collections that uses references to objects, and there is no save use case.

[2018-02-05 14:19] nepster-web commented on #7035
Thank you very much!

[2018-02-05 14:29] bendavies commented on #7006
I'm also getting this error but really struggling to produce a minimal test case. Still trying

[2018-02-05 19:09] Stoakes commented on #7037
Hi.

Thank you for your time. However, I think we misunderstood.

Let me try to reformulate.

Currently in `Doctrine\ORM\EntityRepository`, we have that piece of code (which accepts only array)

[code]

The underlying implementation, described in `Doctrine\ORM\Persisters\Entity\EntityPersister` accepts a `Criteria`.

[code]

The bug is that the  array type constraint in `EntityRepository.count` ju

[2018-02-05 19:41] Ocramius commented on #7037
Yes, that's clearer, but it won't be done. Please use the Selectable API
instead.

On 5 Feb 2018 20:09, "Antoine Beyet" <notifications@github.com> wrote:

[2018-02-06 05:34] holantomas opened #7041 "Collections/ExpressionBuilder::contains generate CONTAINS instead of LIKE in MySQL"
Hi,
I found that if I try to filter over PersistentCollection using contains(there's no `LIKE` like in query builder) it throws SQL Error cause used key word **CONTAINS** instead of **LIKE** in **WHERE** conditions.

[code]

**Preparing test case.**

https://github.com/doctrine/collections/blob/master/lib/Doctrine/Common/Collections/ExpressionBuilder.php#L145

[2018-02-06 10:18] Cladis opened #7043 "HTTP 404 in a tutorial page"
Link to [http://www.doctrine-project.org/jira/browse/DDC-213](DDC-213) in /blob/master/docs/en/tutorials/working-with-indexed-associations.rst results in 404

[2018-02-06 10:33] Cladis commented on #7043
@Ocramius , I have no idea what the correct location is, so no. (Unless you want me to file a dummy pull request)

[2018-02-06 10:34] Cladis commented on #7043
Ah. Sorry being slow.

[2018-02-06 10:39] Ocramius commented on #7043
Handled in #7044

[2018-02-06 10:39] #7043 closed

[2018-02-06 10:51] Ocramius commented on #7041
Absolute ref to linked line: https://github.com/doctrine/collections/blob/6a205be3bec4cb49e6a5adcb799a3c79a47aad38/lib/Doctrine/Common/Collections/ExpressionBuilder.php#L145

[2018-02-06 10:56] holantomas commented on #7041
@Ocramius I don't know how deal with this link :laughing:. I found that line, that's why I thought that's **doctrine\collections** bug.

[2018-02-06 10:58] Ocramius commented on #7041
@holantomas #7042 seems to pass - so I guess you didn't yet reproduce it in isolation: is that the problem?

[2018-02-06 11:02] holantomas commented on #7041
Actually that's right. If I run same test code in my enviroment, it crash. I respond on PR topic.

https://github.com/doctrine/doctrine2/pull/7042#issuecomment-363384191

[2018-02-06 11:25] Dadibom commented on #7027
@coudenysj
Using the api did not work, i'm afraid.

@lcobucci
That's possible. I'm using redis!

[2018-02-06 11:42] holantomas commented on #7041
Ok, now it's throwing it. I used ManyToOne before. Update test case to us ManyToMany collection and clear entity manager.
https://travis-ci.org/doctrine/doctrine2/jobs/337967124#L1855

[2018-02-07 00:07] trickeyone commented on #5933
@ahonnecke It required overriding the MetadataFactory, ProxyFactory, and UnitOfWork. The main issue was that the UnitOfWork tracks all the retrieved and saved entities. When it is closed and invalidated, it can no longer be used, which is what makes the EntityManager no longer viable. I had to create a new UnitOfWork & ProxyFactory and overriding them on the new EntitiyManager instance. I also the

[2018-02-07 00:08] Ocramius commented on #5933
3.x includes this by replacing the UoW instance altogether

On 7 Feb 2018 01:07, "Josh England" <notifications@github.com> wrote:

[2018-02-07 06:26] holantomas commented on #7041
@Ocramius @mikeSimonson Thanks to @vaniocz there is problem in ManyToManyPersister where operator is directly written instead of translate. So there should not work any operator like MEMBER_OF, CONTAINS, ...
https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/Persisters/Collection/ManyToManyPersister.php#L283

[2018-02-07 09:24] lcobucci commented on #7027
@Dadibom you should open an issue in `laravel-doctrine/orm` then 👍

[2018-02-07 10:06] Richard87 opened #7047 "Problems with @MappedSuperClass and custom table name,"
I have a MappedSuperClass that implements UserInterface etc, and a `Cashier` entity that extends it...

I would like to set the class-name to `users` (or possibly in the futures `cashiers`), but it seems Doctrine ignores the annotation `@Table(name="users")` on the child-class...

The error message:
[code]

Doctrine ORM version: 2.6.0 (374e7ace49d864dad8cddbc55346447c8a6a2083)

here is my code:
[c

[2018-02-07 10:12] Ocramius commented on #7047
Can you run an `orm:info`?

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Wed, Feb 7, 2018 at 11:06 AM, Richard Hagen <notifications@github.com>
wrote:

[2018-02-07 10:18] Richard87 commented on #7047
Thanks for coming back to me so fast!

I couldn't find `orm:info`, but `doctrine:mapping:info` (I hope that's what you need returns OK):
[code]

Also, I found this test case that should test my exact issue :/
https://github.com/doctrine/doctrine2/blob/f53b0399f3c0cb4920ef8166147f8350153b2298/tests/Doctrine/Tests/ORM/Functional/Ticket/DDC719Test.php

[2018-02-07 10:22] Ocramius commented on #7047
Sorry, I meant this one: https://github.com/doctrine/doctrine2/blob/e0ee4b1ad7acb0efbe89553eb3176d36b29713ec/lib/Doctrine/ORM/Tools/Console/Command/MappingDescribeCommand.php

[2018-02-07 10:30] Richard87 commented on #7047
Okay, here it is:

[code]

[2018-02-07 14:34] Richard87 commented on #7047
I wrote a test for it that passes, so I don't know where to go to troubleshoot further:

[code]

[2018-02-08 13:54] technetium opened #7050 "Subclasses of subclasses don't hydrate"
When I try to get all my entities of a subclass. The subclassed entities of those entities are null.

To reproduce:

Classes definitions:
[code]

Expected result:

`$this->getEntityManager(Level2:class)->getRepository(Level2:class)->findAll();`
Should return an array of all Level2 and Level3 objects

Actual result:
Returns an array if all Level2 objects, and null records for all Level3 objects

So

[2018-02-08 15:34] holtkamp commented on #7050
Might be related to https://github.com/doctrine/doctrine2/issues/6937

[2018-02-09 07:54] davidomelettes commented on #6937
I've been trying to work out what's happened after a recent upgrade, where repositories of a parent class began to refuse to hydrate entities of a child class. I think I've tracked down the change responsible:

https://github.com/doctrine/doctrine2/commit/ad3b9de4b8a9a272fdb8c8183087148dd5b09114#diff-d775e8055469374235c04b2cba1b9094R302

The comparison of discriminators in AbstractHydrator::gather

[2018-02-09 18:53] lart2150 commented on #5544
I found a major hack of a workaround.  If you combine the two fields and then select distinct of the two it works.
`COUNT(DISTINCT CONCAT(ps.date, s.id))`

[2018-02-11 17:46] theredled opened #7058 "ArrayCollecton::matching() : sorting collection by an Entity field is inconsistent."
It is impossible to properly sort a collection by an Entity field, as it can't compare 2 objects.
To make it work, it should compare their IDs, __toString() or other.

Example:
[code]
    public static function sortByField($name, $orientation = 1, \Closure $next = null)
    {
        if ( ! $next) {
            $next = function() {
                return 0;
            };
        }

        return

[2018-02-12 12:22] BenMorel opened #7059 "Querying abstract class in the middle of a hierarchy returns NULL instead of objects"
I have the following entity hierarchy:

- (A)
  - **B**
  - (C)
    - **D**
    - **E**

Abstract classes are in parentheses.

When querying entities of class `A`, `B`, `D` or `E`, everything works fine.
When querying entities of class `C` however, Doctrine `2.6.0` returns `null` instead of the entity object.

I created a test case here:
https://github.com/BenMorel/doctrine-abstract-entity-bug

Th

[2018-02-12 12:29] BenMorel commented on #7059
Might be related to #6988, #6937, #7050.

[2018-02-13 13:35] Cedoriku opened #7060 "Doctrine places joined element OrderBy clause in another element's juncture condition's subQuery"
Hello,

I am having an issue with a multiple junctures query, in which one (a) is based on a subquery condition with an order by clause, and another (b) has an orderBy clause specified in the entity's attribute annotation.

What happens is that Doctrine adds the b orderby clause to the the one in the subquery, where there is no b in scope, instead of putting it in the main query, where it belongs.

[2018-02-13 17:09] ro0NL opened #7061 "Identifier field names do not respect order of definition"
Hi,

I noticed some annoying behavior with `getIdentifierFieldNames()`.

Given:

[code]

_(The definition order in PHP is the same)_

You get:

[code]

The order cannot be trusted when doing e.g.:

[code]

[2018-02-13 17:29] Cedoriku commented on #7060
OK I reordered the junctures in the query builder and it seems to work.. kind of tricky thought

[2018-02-13 20:31] mariusklocke opened #7062 "BasicEntityPersister confuses association types with PDO datatypes"
Hey folks,

i think i found a bug when combining one-to-one associations with association-key identifiers. My application deals with soccer leagues and the issue should become visible with the following 3 related entities:

[code]

[code]

[code]

The issue arises when changes to `RankingPosition` need to be persisted. Updating this entity does not work, because the resulting query sends a wrong p

[2018-02-14 07:47] max-zu opened #7063 "One-To-Many Bidirectional: Does not updates inverseSide cached collection."
I have two Entities **Company** and **Storage** with One-To-Many Bidirectional relationship. Entities and their relations are cached (doctrine second level cache). The issue is that, when i create a new Storage entity, Company storages collection doesn't have this new entity until I clear the cache manually.

     AppBundle\Entity\Main\Company:
        type: entity
        table: main.company

[2018-02-14 07:52] Ocramius commented on #7063
Requires a test case to reproduce the issue with a minimal scenario

[2018-02-14 07:58] Ocramius commented on #7062
@mariusklocke can this be reproduced in isolation (see https://github.com/doctrine/doctrine2/tree/master/tests/Doctrine/Tests/ORM/Functional/Ticket for examples)? Is this affecting latest ORM?

[2018-02-14 18:39] gmponos opened #7066 "Changes of objects from custom data type are not stored in database"
I have a custom type like this

[code]

The goal of the above custom type is because I have a field in database that stores values in json I want to convert it to a [ParameterBag](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php)

When on my entity I do something like this:

``$myEntity->getField()->set('my_value', 'value')``

a

[2018-02-14 22:12] mariusklocke commented on #7062
I'll try to provide a Testcase. By "latest" you mean master branch?
It's definitely happing on 2.6.0

Are there any conventions i should follow for naming my branch?

[2018-02-14 22:14] Ocramius commented on #7062
@mariusklocke no convention - feel free to pick anything. We'll adjust the patch anyway once we have a clue of what is going on in an isolated scenario. My suggestion is to name the test DDC7062Test.

[2018-02-15 04:48] #6978 closed

[2018-02-15 15:47] wtorsi opened #7067 "ORM second level cache and version (locking)"
Hi,
I have found strange behaviour when using Second Level Cache and Version.
When new version is set second level cache does not include it into update.

After some investigation:
The problem occurs here `DefaultEntityHydrator::buildCacheEntry`, UnitOfWork does not include version field in actualData.

Any ideas how to fix it?

[2018-02-15 15:50] Ocramius commented on #7067
This is way too little information to work on anything. Please try re-creating a failure with an isolated test. See examples at https://github.com/doctrine/doctrine2/tree/master/tests/Doctrine/Tests/ORM/Functional/Ticket

[2018-02-15 15:55] wtorsi commented on #7067
I have never done it before.
Also, i'm using Symfony Bridge, I have never configured Doctrine from the box :)
Ok, i'll try.

Here is the fast fix:

[code]

This can fix the problem.

[2018-02-15 19:22] madwizard-thomas opened #7068 "EntityManager find with pessimistic lock does not check for transaction when cached"
When a pessimistic lock mode is passed to EntityManager::find it normally throws a TransactionRequiredException if no transaction is currently active.

However if the entity is currently in the identity map, it will refresh the entity from the database and return it but not check if a transaction is running. The refresh query has 'FOR UPDATE' (in case of pessimistic write) but this has no effect s

[2018-02-15 20:07] Ocramius commented on #7068
Is this a MySQL specific problem?

On 15 Feb 2018 20:22, "Thomas" <notifications@github.com> wrote:

[2018-02-15 20:30] madwizard-thomas commented on #7068
I don't think so, but have only tested it with MySQL. It seems to be caused by the early return statement [here](https://github.com/doctrine/doctrine2/blob/v2.5.14/lib/Doctrine/ORM/EntityManager.php#L435) before the transaction check [here](https://github.com/doctrine/doctrine2/blob/v2.5.14/lib/Doctrine/ORM/EntityManager.php#L455)

[2018-02-16 08:34] wtorsi commented on #7067
@Ocramius hi again, I need some help.
How I can push a commit with test to repo? It's my first time, sorry.

[2018-02-16 08:36] Ocramius commented on #7067
@wtorsi you first need to fork this repository (top right on this page), then follow https://yangsu.github.io/pull-request-tutorial/ 👍

[2018-02-16 08:37] wtorsi commented on #7067
Thank's

[2018-02-16 08:50] wtorsi commented on #7067
Got it, here is the test.
Here is the test and fix for doctrine 3

[2018-02-16 13:13] homersimpsons opened #7070 "Pagination Query improvements"
I took a look at the pagination queries http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/tutorials/pagination.html and still doesn't understand all the needs for those queries.
In my mind, in order to get correct pagination, the "simple" queries are:
1. Get all distinct IDs
2. In php take care of LIMIT and OFFSET (using array_slice)
3. Get only content of sliced IDs

In the upper l

[2018-02-16 13:43] GuigZ- opened #7071 "manyToMany findBy : No associative Table"
Hey,

When i try to user findBy with an association, sql throw an error.

Framework: SF 4
SQL : MariaDB

See my config:

[code]
[code]

[code]

If you need more informations, i'm ok (:

BR.
GuigZ-

[2018-02-16 14:53] Dadibom opened #7072 "Need a way to set a default query cache TTL"
I need to clear the query cache weekly to prevent redis from overflowing, as there's no TTL by default. I've looked for ways to set a global/default TTL but haven't found a way.
Willing to attempt a PR if someone gives me some pointers, I'm not sure where to begin with this one.

[2018-02-16 14:55] Ocramius commented on #7072
TTL is per-query by design. If some queries are cached indefinitely, then the cleanup task is on your side.

[2018-02-16 14:55] #7072 closed

[2018-02-16 14:55] Dadibom opened #7073 "README.md typo?"

[2018-02-16 14:56] Ocramius commented on #7073
@Dadibom consider sending a patch - Doctrine 3 is not yet released, so I expect that the change in the docs will propagate everywhere :)

[2018-02-16 14:59] Dadibom commented on #7073
Hm, what do you mean by sending a patch?
Ooh, you're working on doctrine 3? How compatible will it be with existing projects?

[2018-02-16 14:59] Ocramius commented on #7071
@GuigZ- filtering over `to-many` associations with `findBy` is not supported: this API is onlyy intended for fetching over fields and `to-one` associations.

Implementing this feature would also not make sense, because `findBy(['potatoes' => ['yellow', 'brown']])` doesn't semantically make sense: do we find something where the association is *exactly* matching those identifiers, or do we match som

[2018-02-16 14:59] #7071 closed

[2018-02-16 15:03] Dadibom commented on #7072
All queries are cached indefinitely, which is a huge problem. I've set a TTL on query builders to prevent this very issue but the cache still keeps growing at very fast rates (many gb per week). The biggest problem is that we use a (very sensible) redis eviction policy that will evict keys with TTL, but not without it, which means that eventually everything but doctrines query cache will be lost b

[2018-02-16 15:15] Ocramius commented on #7072
Check https://redis.io/topics/lru-cache

[2018-02-16 15:18] Ocramius commented on #7073
@Dadibom a lot changed - we have an [`UPGRADE.md`](https://github.com/doctrine/doctrine2/blob/09266d5361ef9c659c1f665eeefa3d3de0f4e64b/UPGRADE.md#upgrade-to-30) for that

[2018-02-16 15:19] Dadibom commented on #7072
Yeah I'm using a volatile eviction policy, which I don't think is that uncommon

[2018-02-16 15:23] Dadibom commented on #7073
Great, thanks :)

[2018-02-16 15:24] Ocramius commented on #7070
This is actually what is being done internally.

Ref: https://github.com/doctrine/doctrine2/blob/09266d5361ef9c659c1f665eeefa3d3de0f4e64b/lib/Doctrine/ORM/Tools/Pagination/Paginator.php#L145-L147

[2018-02-16 15:24] #7070 closed

[2018-02-16 16:41] braianj opened #7074 "Error with doctrine mapping import"
Hello everyone

I'm trying to import a database already created for another project (not a symfony one), so I can use it inside a symfony project.

Validation works
[code]
But when I make `php bin/console doctrine:mapping:import AppBundle annotation` it return

This is de configuration of those tables

[code]
One more thing, the database is a postgreSQL one.
Hope someone can help.
Thanks!

[2018-02-16 16:47] Ocramius commented on #7074
@braianj that is indeed something that the reverse engineering tools cannot do. That's why you get such an exception: it's a known limitation :-)

[2018-02-16 16:47] #7074 closed

[2018-02-16 17:17] Majkl578 commented on #7073
Bumping version in readme was my work in #6956, I think it is ok since master is now representing upcoming 3.0. Maybe the default branch here on GitHub could be set to 2.7 for now, but I wouldn't change the version in README.

[2018-02-16 21:18] GuigZ- commented on #7071
For example, i want to get all plants with assoc concrete_id is X.

I know, i can create a query builder, but in my case i want that will be is dynamic.

[2018-02-17 14:49] IljaN commented on #7059
Also seeing same issue with inheritance type joined

[2018-02-17 14:59] BreiteSeite commented on #7068
Thanks @madwizard-thomas for the minimal code to reproduce. Helped a lot.

@Ocramius i added this as a test for the test-suite and also provided a fix in #7075

[2018-02-17 16:25] lcobucci commented on #7022
@jkobus please send a PR with your suggestion 👍

[2018-02-17 17:55] lcobucci commented on #7067
Fixed by #7069

[2018-02-17 17:55] #7067 closed

[2018-02-17 21:18] Ocramius commented on #7071
@GuigZ- that should work as long as the association is a `to-one`

[2018-02-17 21:19] Ocramius commented on #7071
See https://github.com/doctrine/doctrine2/blob/374e7ace49d864dad8cddbc55346447c8a6a2083/lib/Doctrine/ORM/Mapping/ClassMetadataInfo.php#L2868-L2872

[2018-02-18 23:01] lcobucci commented on #6976
@solexsylvain @Ocramius can we close this issue then?

[2018-02-18 23:27] lcobucci commented on #6939
#7077 is fixing the BC-break and discussing the update of the grammar to align with JPA 2.2 for `v2.6.x` and `v3.0`

[2018-02-18 23:28] lcobucci commented on #7059
@BenMorel can you please check if #6988 fixes it?

[2018-02-19 07:45] Ocramius commented on #6976
Closing as `invalid` here - further discussion continued at symfony/symfony#25937

This behavior could possibly be improved in `3.x` by diffing replaced collections instead of marking everything as an orphan removal, but this cannot be changed in `2.x` due to BC constraints.

[2018-02-19 07:45] #6976 closed

[2018-02-19 09:19] GuigZ- commented on #7071
@Ocramius,

Why TO ONE ? One plant should be associated with many concretes and concretes should be associated with many plants.

Is not to one..

[2018-02-19 09:47] Ocramius commented on #7071
All I'm saying is that `findBy` can only ever work with `to-one` associations.

[2018-02-19 10:02] GuigZ- commented on #7071
Ah okay, but why the association table is use in the sql query ?

I'm not override dbal or other.

[2018-02-19 10:06] Seb33300 commented on #7073
What about

[2018-02-19 10:46] BenMorel commented on #7059
@lcobucci It works with #6988 ! 👍

[2018-02-19 11:29] #6939 closed

[2018-02-19 11:29] Ocramius commented on #6939
Handled in #7077

[2018-02-19 11:30] Ocramius commented on #7059
Handled in #6988

[2018-02-19 11:30] #7059 closed

[2018-02-19 11:30] Ocramius commented on #5889
Removing from `2.6.1` milestone - can't do right now.

[2018-02-19 13:13] solexsylvain commented on #6976
I'll continue on the symfony board. I still have to reply, not convinced making the property public is such a good idea and providing my own api to do as stated by stof is counter productive when there could be a lasting fix in doctrine in the future. Thanks for caring about this issue. I'll be patient for version 3.

[2018-02-19 14:37] bmlkc opened #7078 "Anonymous classes failing with entity generator"
Environment: PHP 7.0.24
Doctrine: 2.5.14
Symfony: 3.4.4

[code]

doctrine:generate:entities command fails with following message:

[code]

problem being the token_get_all() returns a single "(" for the token on the ```new class($data)``` part when I debug it.

the workaround is not giving any constructor arguments ```new class implements ...``` and just set props with setters.

here is the var_exp

[2018-02-19 14:40] Ocramius commented on #7078
Probably due to the too simplistic `EntityGenerator` codebase.

IMO not worth fixing, since the `EntityGenerator` is only marked for removal (and already gone in `master`)

[2018-02-19 14:55] bmlkc commented on #7078
Many thanks for the answer. I do generally use this command to verify the entities more than using it as a generating setter/getters/collections. Does master have an equivalent method that can replace it?

[2018-02-19 14:59] Ocramius commented on #7078
@bmlkc `2.6` has - `master` no longer has this class.

[2018-02-19 22:18] #6043 closed

[2018-02-19 22:18] #6531 closed

[2018-02-19 22:18] #7002 closed

[2018-02-20 07:12] lcobucci commented on #7063
@max-zu you're always responsible for setting both sides of the association.

[2018-02-20 07:16] lcobucci commented on #7066
@gmponos could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2018-02-20 07:45] max-zu commented on #7063
@lcobucci So what about Cascade Operations ???  If I have cascading links on the OwnerSide, why InverseSide collection is not updated?

[2018-02-20 11:00] malukenho commented on #6879
@Kytrix it seems like doctrine doesn't support it. But you can fix it by using a `DTO`.

[code]

Then on your query builder you configure the `select` as:

[code]

[2018-02-20 11:56] BentCoder opened #7080 "Doctrine ignores Index and just takes UniqueConstraint into account for the same field"
Hi,

I am not sure if this is a bug or an expected behaviour of Doctrine.

If I set `UniqueConstraint` and `Index` on a same field, Doctrine ignores creating a `Index` entry in database. However, if I remove `UniqueConstraint`, Doctrine creates `Index` entry in database. Seems like we cannot set both `UniqueConstraint` and `Index` on a same field with Doctrine. Doctrine prefers `UniqueConstraint`

[2018-02-20 12:20] Ocramius commented on #7080
This is expected behavior.

Ref: https://github.com/doctrine/dbal/pull/769
Ref: https://github.com/doctrine/dbal/pull/764

Can't find the original issue where we actually decided to de-duplicate overlapping/redundant indexes.

[2018-02-20 12:20] #7080 closed

[2018-02-20 12:28] iamromeo opened #7081 "Association mapping YAML Documentation Removal"
Hello there, I wasn't sure where to post this but I wanted to ask why were the YAML examples removed from the documentation for association mapping.

[2018-02-20 12:31] Ocramius commented on #7081
Yes, that's expected as per https://github.com/doctrine/doctrine2/pull/7049

[2018-02-20 12:31] #7081 closed

[2018-02-20 12:46] BentCoder commented on #7080
I've went through those links but there is nothing clear there as there are too many references all over the place.

As far as I can see this is how Doctrine intend to work.

[2018-02-20 13:23] asuran commented on #6248
I have the same problem. Any updates in 2018? :)

[2018-02-20 13:48] homersimpsons commented on #7070
But the resulting queries doesn't looks like this at all:
1. `SELECT COUNT(*) AS dctrn_count FROM (SELECT DISTINCT id_0 FROM (SELECT ...`
2. `SELECT DISTINCT id_0 FROM (SELECT DISTINCT id_0, start_time_1 FROM (SELECT e0_.id ...`
3. `SELECT ... WHERE e0_.start_time > ? AND e0_.id IN (?)` (Here the WHERE could be removed as it is fulfilled with previous request)

I wrote a simple paginator (which is

[2018-02-20 21:46] mariusklocke commented on #7062
Hey, i created a PR with a failing test, but i am unsure whether i got the branches right. I created my branch from 2.6 branch, but the contribution guidelines say all PRs have to go to master? That seems weird to me, because i thought bugfixes for 2.6 should go into 2.6 branch? Can you help me out here?

[2018-02-20 21:49] Ocramius commented on #7062
@mariusklocke send it against `2.6` for now - we'll figure it out :) You can just edit the open pull request

[2018-02-20 23:25] Ocramius commented on #5855
@popy-dev I agree and I counter with a request for a patch, if you have time/will

[2018-02-21 06:30] jigarpancholi opened #7083 "Doctrine paginator with sorting not proper with mysql 5.7 version"
I have used doctrine paginator for pagination. With previous mysql version 5.5 it was working properly with order by. But after upgrading to mysql version 5.7 it doesn't work properly.
Doctrine orm version is v2.4.8.

[2018-02-21 06:59] Ocramius commented on #7083
Please do upgrade your ORM version: this was already fixed.

[2018-02-21 06:59] #7083 closed

[2018-02-21 07:01] jigarpancholi commented on #7083
@Ocramius can you please let me know which version to upgrade?

[2018-02-21 07:05] Ocramius commented on #7083
`2.6.0`

[2018-02-21 09:09] popy-dev commented on #5855
That's super effective. I'll give it a try in the next days.
Although the conclusion I wanted to reach was the opposite :/

[2018-02-21 09:26] Ocramius commented on #5855
@popy-dev we're not going back on this - only `clear()` (no arguments) will remain as a way to detach entities. Dealing with partial graphs is something we can't do without an amount of effort that is out of our range/capabilities, and well below the 10% use-case.

[2018-02-21 09:55] popy-dev commented on #5855
I understand this. My take on the topic is that, unless persist, merge, and remove are removed aswell, partial graphs will still exist. I also understand that you won't going back on a decision made more than a year earlier just because a flower-stranger necro an issue.

Still, I'm happy and honored to have an opportunity to contribute to this wonderfull ORM, even if it means for me that I'll neve

[2018-02-21 10:06] Ocramius commented on #5855
`merge` is gone too, as far as I remember

[2018-02-21 10:13] popy-dev commented on #5855
Indeed :

https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/EntityManager.php#L331

And ```detach``` too. Looks like it's too late for e to contribute :)

[2018-02-22 06:12] jigarpancholi commented on #7083
2.6.0 is only for php version above 7.1. But I have php7.0 installed on my server.

[2018-02-22 06:27] Ocramius commented on #7083
Indeed, you will need to plan an upgrade of your PHP version.

On 22 Feb 2018 07:12, "Jigar Pancholi" <notifications@github.com> wrote:

[2018-02-22 09:56] lcobucci commented on #7063
@max-zu can you send the functional test as suggested by @Ocramius (it's way easier to understand what you're trying to achieve with that)?

[2018-02-22 10:39] lcobucci commented on #6970
@fasterforward this seems a bit odd, could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

Since it's a bug you can use `2.6` as base and we'll port it to `master` when/if needed.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine

[2018-02-22 10:48] lcobucci commented on #5544
It would be amazing if someone could send us a failing test case that reproduces that behaviour. It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2018-02-22 14:52] fullbl opened #7086 "DB password stored in cache when using result cache"
Hi!
Today I was debugging some problems with result cache and I noticed that data is saved like this:

`connectionParams=a:12:{s:4:\"host\";s:9:\"localhost\";s:4:\"port\";N;s:6:\"dbname\";s:16:\"__DBNAME__\";s:4:\"user\";s:7:\"__USER__\";s:8:\"password\";s:20:\"__!!!REAL_PASSWORD!!!__\";s:7:\"charset\";s:4:\"UTF8\";s:6:\"driver\";s:9:\"pdo_mysql\";s:13:\"driverOptions\";a:1:{s:20:\"x_reconnect_att

[2018-02-22 15:21] Ocramius commented on #7086
No, cache is still part of your infrastructure here. If you get access to the ORM cache, you can already completely hijack an application here (password or no password).

Hashing it is a possibility here. We need to add the parameters to disambiguate the backend where a query comes from. The generic problem that we had to solve is that multiple DB instances may be used by a single application, whi

[2018-02-22 15:58] fullbl commented on #7086
To be honest, cache could be on another machine!
However, I will try to see if hashing is possible when I have some spare time!

[2018-02-22 16:01] Ocramius commented on #7086
Yes, it most likely is another machine: I already considered that :)

[2018-02-23 07:46] paali commented on #7006
I have this too. I debugged the flush call and commit order calculation seems to be wrong (for whatever reason). Went back to 2.5.14 and the problem disappeared. I was using nelmio/alice to populate a  test database and \Doctrine\ORM\UnitOfWork::getCommitOrder seems to return wrong order. I don't believe alice has anything to do with the issue though.

My case shortly:
User has one-to-many relatio

[2018-02-23 08:33] contentrail commented on #7006
[code]

[2018-02-23 09:44] lcobucci commented on #7006
@contentrail awesome, could you turn that into a unit test and send a PR?

[2018-02-23 10:30] bendavies commented on #7006
@lcobucci there is a testcase here?
https://github.com/doctrine/doctrine2/pull/6533

[2018-02-23 10:45] lcobucci commented on #7006
@bendavies that's a functional test, I've asked for a unit test (since @contentrail isolated the cause of the bug)

[2018-02-25 20:58] ivaaaan opened #7094 "Relationships with @Embedded column"
Environment: PHP 7.1.7
Doctrine: 2.6
Symfony: 4

I have `@Embeddable` class for id:

    /**
     * @ORM\Embeddable()
     */
    final class Id
    {
        /**
         * @ORM\Id()
         * @ORM\Column(type="string")
         */
        private $id;

        //getters, setters, etc
    }

And two classes that have `@ManyToOne` relationship:

    /**
     * @ORM\Entity()
     */
    final clas

[2018-02-25 21:01] Ocramius commented on #7094
Support of identifiers within `@Embeddable` is not really there yet, sorry.

[2018-02-25 21:01] #7094 closed

[2018-02-25 21:02] ivaaaan commented on #7094
@Ocramius so sad. any plans to realize that?

[2018-02-25 21:03] Ocramius commented on #7094
Nope, but you can attempt sending a patch :)

[2018-02-26 13:51] lcobucci opened #7096 "Identifier flattener issues when L2C is enabled"
As discovered in [another bugfix](https://github.com/doctrine/doctrine2/pull/7082/commits/b952dac339dc18f22211d39e7e65ddee28d3d96c) the values used by the ID flattener is a bit off when using L2C and associations as FK.

[2018-02-26 14:10] lcobucci opened #7097 "Deprecate DELETE DQLs without alias"
Before `v2.6.0` we were accepting DELETE DQLs (via `QueryBuilder` and directly using `EntityManager#createQuery()`) without alias, even though our grammar was requiring it. In `v2.6.0` we fixed the parsing and started to emit errors, which is a BC-break.

#7077 fixes the break but we should emit deprecation notices for that, if we decide to not change the grammar - which was also [challenged in th