[2017-03-13 08:36] #6333 closed

[2017-03-13 08:55] yurybykov opened #6334 "orphanRemoval doesn't work on OneToOne bidirectional association"

[2017-03-13 09:28] klausbreyer opened #6335 "Every Entity must have an identifier/primary key."
Hi,

I am experiencing the following error:

[code]

This is the Channel.php
[code]

Here is my full repository: https://github.com/klausbreyer/debug-doctrine

I am totally puzzled why this is happening. Also did a the following to clear the cache:
[code]

[2017-03-13 09:31] Ocramius commented on #6335
A docblock has to start with `/**`, your comment starts with `/*`.

[2017-03-13 09:31] #6335 closed

[2017-03-13 09:46] klausbreyer commented on #6335
bummer..t hanks!

[2017-03-13 13:13] Hendra-Huang commented on #6327
This issue can't be reproduced in DBAL and the data is persisted to the database. Meanwhile in ORM, the data is not persisted and there is no exception thrown.

This is the way i do it. I started a new symfony project with `pdo_pgsql` driver and create a new Entity.
[code]

Then I run `bin/console doctrine:database:create` and `bin/console doctrine:schema:create --force`. As the result, I got a ta

[2017-03-13 14:18] Ocramius commented on #6327
The insert statement is there: are you looking at the correct db/schema?

On 13 Mar 2017 14:13, "Hendra-Huang" <notifications@github.com> wrote:

[2017-03-13 14:22] Hendra-Huang commented on #6327
Yeah there is the insert statement and it's using correct db and table. The problem is that the value of the inserted "id" column is always 1. Actually in my table, I have some records and the next id must not be 1. The problem is that I rename the table without rename the sequence. If I rename the sequence, then everything works as expected.

[2017-03-13 16:12] skydiablo commented on #6329
@beberlei @holtkamp ?

[2017-03-13 17:01] gnat42 opened #6336 "[RFE] More verbose QueryException"
First off - I don't mind submitting a PR for this. Just checking if there's a chance it could be accepted if I did the work.

I have a situation where more than likely an issue somewhere other than doctrine is causing a tooFewParameters query exception. The issue is that this only occurs in production and is more than likely a specific browser + symfony form bug. The problem is, I get the error me

[2017-03-14 01:12] DavidGarciaCat opened #6337 "Can I filter by Doctrine Discriminator Map column?"
Hello,

I am getting an error when I try to run a `SELECT` query `WHEN` the column used is the `Doctrine Discriminator Map`. I think this error is caused because my `Entity` has not a `@ORM\Column` annotation due the Discriminator Map is defined with the `Entity` instead of the properly.

Is there a way to run a `SELECT` adding a `WHERE` clause that is targeting a Discriminator Map column?

Thanks

[2017-03-14 01:26] Majkl578 commented on #6337
Yes, using the `INSTANCE OF` operator, see [an example in documentation](http://doctrine-orm.readthedocs.io/projects/doctrine-orm/en/latest/reference/dql-doctrine-query-language.html#dql-select-examples).
But this is an issue tracker to report bugs and so, not a forum to ask questions. 😕

[2017-03-14 05:20] #6337 closed

[2017-03-14 05:52] Ocramius commented on #6336
There's already an open PR about this somewhere: need to dig that one up
first.

On 13 Mar 2017 6:01 p.m., "Nathanael Noblet" <notifications@github.com>
wrote:

[2017-03-14 07:07] zhang122562 opened #6338 "lifecycle-callback dosen't work"
I follow the demo in the topic of “Validation of Entities”.
I define a "validateValueOfStatus" function in the entity.
  `public function validateValueOfStatus(){
        throw new Exception("status is inValid!",-100);
    }`
And add the following code to the xml.
       `<lifecycle-callbacks>
            <lifecycle-callback type="postPersist" method="validateValueOfStatus"/>
            <lifecycl

[2017-03-14 08:00] #6338 closed

[2017-03-14 08:03] zhang122562 commented on #6338
There is cache cause the problem! i just forget close the metaDataClassCache.

[2017-03-14 10:23] DavidGarciaCat commented on #6337
Hi @Majkl578 - Thanks for the quick response, and sorry for the inconvenience

[2017-03-14 14:32] guilhermeblanco opened #6339 "Indexed one-to-many not setting the original entity property in PersistentCollection"
The method `PersistentCollection::hydrateSet` (https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/PersistentCollection.php#L186) does not set the back-reference in original entity data as `PersistentCollection::hydrateAdd` (https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/PersistentCollection.php#L159) does.

[2017-03-14 14:36] guilhermeblanco opened #6340 "By-directional self-referencing one-to-one hydration looks wrong in ObjectHydrator"
This piece of code: https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/Internal/Hydration/ObjectHydrator.php#L452

It has absolutely 0 test cases around it, looks unreachable and also wrong. If it is reachable somehow, there is a bug there and it should likely be:

[code]

The problem is that `$targetClass->reflFields[$relationField] === $parentClass->reflFields[$relationField]`, w

[2017-03-14 15:19] guilhermeblanco opened #6341 "Merge ClassMetadata properties and associationMappings"

[2017-03-14 19:16] VersatilityWerks opened #6342 "Database columns that start with a number create invalid entities"
When using symfony's doctrine command line command to generate entities from an existing database, if a column starts with a number, it creates a property in the entity that starts with that number which is invalid PHP and causes errors. I suggest either a) throwing an error during generation for the user to change the column name or b) converting that number to the word (2 = two).

[2017-03-14 21:19] gnat42 commented on #6336
I see. I searched the open issues but didn't find anything - though I didn't search the PRs.. I'll do that now.

[2017-03-14 21:19] #6336 closed

[2017-03-15 14:56] YP28 opened #6343 "Filter on JOIN"
Hi, I'm having a problem filtering entities when retrieved through a join.

This is my case (simplified):
Let's say I have a User entity, and a Car entity. Both entities are soft-deletable (whether they're a good pattern or bad, I use them). When I `find` a User, the filter is applied, as well as with the Car entity. However, when I `find` a User and include the Car in a join, the filter is only a

[2017-03-15 15:15] benbor opened #6344 "OrphanRemoval doesn't work if set new collection without explicit remove()"
I've relations OneToMany and I want to bulk update all tags (I want to delete few tags and add other few)  for one post

[code]

**Expected:**
Doctrine  saves  Post#1 with Tag#1 (tag witch doesn't changed), Tag#3 (new tag)

**Actual:**
Doctrine saves Post#1 with Tag#1, Tag#2, Tag#3

**My hot fix:**
 before set new collection I explicit remove tags, which should be removed
[code]
And all works fine

[2017-03-15 15:29] Ocramius commented on #6344
Replacing collection instances is not really fully supported, although the bug looks legit. Calling `clear()` on the original collection would probably cause chaos though...

[2017-03-15 15:54] benbor commented on #6344
@Ocramius method `clear()` didn't help me.
[code]

It saves only  Post#1 and doesn't save Tags at all .

[2017-03-16 00:20] alsma commented on #6344
I've also met similar issue today:
[code]
new tag is scheduled for orphan removal, and not inserted

[2017-03-16 12:09] BabakMN commented on #3394
Any updates on this issue?

[2017-03-16 12:20] lcobucci commented on #6344
As @Ocramius said replacing the collection is not supported (and it would never work since the [information regarding orphan removals is on `PersistentCollection` class](https://github.com/doctrine/doctrine2/blob/1aa02f9afcb374d7d3060f960fa8ce096bf71369/lib/Doctrine/ORM/PersistentCollection.php#L354). However `Collection#clear()` + `Collection#add()` does the job, I just ran this test on `master`

[2017-03-16 12:26] lcobucci commented on #6344
I do agree that replacing the whole collection is something nice to have but I'd say that it should be only supported on v3 after the refactor that @guilhermeblanco is doing

[2017-03-16 15:35] johndodev commented on #6256
Re,

The test do pass (I made a misstake). So I did some research again on my code and the conclusion that the listener was not called was wrong.

It is called, but the entity passed to the postRemove event is a proxy, with a null ID. So it can't be loaded, but doctrine try to, and give me a "random" entity in the database (always the same, but neither the first one nor the last).

Sooo, where is

[2017-03-16 19:45] benbor commented on #6344
@lcobucci thanks for the answer.

Your test isn't full for my case. If you will add few already exists Tags after `$post->tags->clear()` they will be lost. Bug reproduced only for last stable branch(at now 2.5), for `master` branch it behavior already fixed and everything works well.

Would be great to fix it case for stable branch too.

[Gist with my test](https://gist.github.com/benbor/37df518fb

[2017-03-16 20:56] guilhermeblanco commented on #6344
@benbor Not an easy fix to be backported, as it introduces a BC break...
The commit that fixes this is here: https://github.com/doctrine/doctrine2/commit/1587aac4ff6b0753ddd5f8b8d4558b6b40096057

This should be part of 2.6 but I cannot classify this as a "bug" of 2.5, since it introduces a new behavior to OneToMany.

[2017-03-17 00:41] BabakMN opened #6346 "Is it possible to set a field value to a database expression such as CURRENT_TIMESTAMP?"
I'd like to know if it's possible to set a field value to a database value such as CURRENT_TIMESTAMP?

One main benefit is that it allows you to maintain consistent timestamps within a transaction.

For example I would like the "creation date" of a bunch of different objects that get created within a transaction to be exactly the same as each other.

Otherwise you have to pass a specific `DateTime

[2017-03-17 00:50] BabakMN opened #6347 "Is it possible to detect exactly which database constraint was violated during exception handling?"
I'd like to know if it's possible to detect which constraint was violated during a constraint violation exception?

Or alternatively, which column(s) was involved.

The use case is for when multiple unique constraints are placed on a table and then an insert fails because of a violation.

For complete error handling you would need to know exactly which constraint was involved in the violation.

Th

[2017-03-17 01:08] Ocramius commented on #6347
The error message already provides this information: this is not something
that the ORM should do, but rather your rdbms.

On 17 Mar 2017 1:50 a.m., "BabakMN" <notifications@github.com> wrote:

[2017-03-17 01:09] #6347 closed

[2017-03-17 01:13] Ocramius commented on #6346
This is not supported, as the ORM treats the in-memory state as authoritative, and would otherwise need to re-query data after each insert/update.

In general, you can consider support for db-side generated fields as a feature that will not land in the ORM.

The safest way to currently get a transaction-safe timestamp is to:

 1. Start a transaction
 2. Select the transaction start time
 3. Use th

[2017-03-17 01:13] #6346 closed

[2017-03-17 08:28] benbor commented on #6344
@guilhermeblanco from my point of view old tag losing after clear() is pure "bug"
[code]

Why this case doesn't work for version 2.5 ? imho its obvious bug.

[2017-03-19 13:54] #6303 closed

[2017-03-19 14:22] Ocramius commented on #3394
Closing as `invalid`.

In OOP, an object should always contain valid state.

In Doctrine, this constraint needs to hold during `EntityManager#flush()` operations.

All state will be pushed to the DB as-is (except for auto-incremental identifiers) and the in-memory state is considered authoritative. DB-side defaults and generated fields are ignored by design, as that would force re-querying the dat

[2017-03-19 14:22] #3394 closed

[2017-03-20 06:42] TheSaturn opened #6348 "Custom sql and migrations"
Hello!
How to execute custom sql code when applying migrations? I see only shema instance and no db connection.
I want to add index with its length

[2017-03-20 07:04] Ocramius commented on #6348
`$this->addSql()`

On 20 Mar 2017 7:42 a.m., "TheSaturn" <notifications@github.com> wrote:

[2017-03-20 07:04] #6348 closed

[2017-03-20 07:29] TheSaturn commented on #6348
Not working
I tried:
`$table->addUniqueIndex(['`principaluri`(90)', '`uri`(90)'], 'addressbook_index');`
Output: '`principaluri\`(90)'

[2017-03-20 09:51] Ocramius commented on #6348
As I just said, use `addSql` ;-)

[2017-03-20 12:03] TheSaturn commented on #6348
ah. Project used own implementation of migrations. That is why I don't have function addSql

[2017-03-20 16:15] GreeKatrina commented on #5617
I ran into this issue [as well](http://stackoverflow.com/questions/30941836/doctrine-not-finding-data-on-google-app-engine?noredirect=1&lq=1).

In my case, the User's company_id was either 0 or an id of a Company that didn't exist in the db (I don't remember which). I don't actually "require" the company_id, it can be 0 if the User doesn't belong to a company.

1. Is there a way to say that the co

[2017-03-20 16:23] Ocramius commented on #5617
Use an SQL filter. Also, check https://stackoverflow.com/questions/15502408/doctrine-2-use-default-0-values-instead-of-null-for-relation

[2017-03-20 16:24] Isinlor opened #6349 "Unmachable criteria"
Hello,

I'm trying to replicate this logic with criteria (because database filtering is faster):
[code]

Version with criteria:
[code]

But I'm missing the default ` return false;` case in version with criteria, because this is not a valid code:
[code]

Is there a way to create an "unmachable criteria"?

Thanks for help!

[2017-03-20 18:10] brandinchiu opened #6350 "Persisting entities with cross-schema relationships between multiple entity managers"
I am looking for any up-to-date documentation on Doctrine ORM's ability to handle cross-schema relationships between entities.  This currently doesn't appear to be possible, as the entity manager of the persisting entity does not understand the state of entity being managed by the other manager.

This leads to confusing states where an ORMInvalidArgumentException is thrown (due to an unfulfilled c

[2017-03-20 18:57] GreeKatrina commented on #5617
In the [BasicEntityPersister](https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/Persisters/Entity/BasicEntityPersister.php) class and the `getJoinSQLForJoinColumns()` method, would it be possible to add a "required" check or something like this?

[code]

From the docs it defines `nullable` under the [@Column](http://doctrine-orm.readthedocs.io/en/latest/reference/annotations-refer

[2017-03-20 22:33] lcobucci commented on #5617
@GreeKatrina although an ORM can be used on applications that don't have clear data it shouldn't be designed with that intent.

A `nullable` association is an optional one and that's how doctrine manages that. Adding `required` adds complexity for no good reason (since well designed schemas will have consistent data).

What I'd do in your case is create a new nullable column (with a proper FK), mi

[2017-03-21 06:48] Ocramius commented on #5617
You can poke at it as much as you like, but such an atrocity is not landing
in the ORM anytime.
Use NULL where it is supposed to be used: it is a fair assumption and it
will not lead yo further complications.
You can make the ORM compatible with your older code via writable views and
triggers instead (proper BC and FC approach).

On 20 Mar 2017 19:58, "Katrina Theodosopoulos" <notifications@github

[2017-03-21 07:15] Ocramius commented on #6350
Sharing entities across multiple EntityManager instances is not supported,
and will need a separate managed entity copy instead.

On 20 Mar 2017 19:11, "Brandin Chiu" <notifications@github.com> wrote:

[2017-03-21 13:06] brandinchiu commented on #6350
@Ocramius: could you point me in the direction of how I would accomplish this?

[2017-03-21 15:09] GreeKatrina commented on #5617
@lcobucci @Ocramius Fair enough. Is it possible to set nullable to true for `@JoinColumn`, and then do something with `columnDefinition` that forces something like `company_id IS NOT NULL`? I wasn't sure if that's what it meant in the docs by "slightly different column definitions for joining columns, for example regarding NULL/NOT NULL defaults".

[2017-03-21 15:41] Ocramius commented on #5617
@GreeKatrina that is possible, but it will still crash the ORM during load operations (due to failed association traversal - `NULL` means something very specific to the ORM).

[2017-03-21 19:56] samusenkoiv commented on #6118
@Jean85 aren't we allowed to have nested transactions? The "subManager" would open his own transaction and commit it.

[2017-03-22 04:18] #6341 closed

[2017-03-22 08:22] Ocramius commented on #6350
If you never did this before, you can edit the files directly from the
github UI and send them back for inclusion in our repository.

On 21 Mar 2017 2:06 p.m., "Brandin Chiu" <notifications@github.com> wrote:

[2017-03-22 09:22] ColonelMoutarde opened #6351 "FirebirdSQL/Interbase"
Can you add the firebirdSQL support to doctrine.

[2017-03-22 09:46] kimhemsoe commented on #6351
Issue already exist at https://github.com/doctrine/dbal/issues/2194

[2017-03-22 09:46] #6351 closed

[2017-03-22 12:21] brandinchiu commented on #6350
My mistake, I thought this was existent functionality that I just wasn't utilising.  My familiarity with the guts of Doctrine is pretty minimal, and I'm not sure how effective a PR from me would be.  But I'll take a gander and see what I can come up with.

[2017-03-22 12:23] porebskk commented on #6349
How about throwing an exception and catching it in the approriate level?

[2017-03-22 12:23] Ocramius commented on #6350
@brandinchiu you just need to replace that `::class` with a string reference (FQN)

[2017-03-22 12:42] brandinchiu commented on #6350
I'm afraid I'm not clear on which ::class reference you are referring to.

[2017-03-22 12:52] Ocramius commented on #6350
@brandinchiu urgh, sorry, totally mixed up. My replies should have gone to a different thread. Sorry! :-(

Backtracking a bit:

You would need to communicate across the separate entity managers via identifiers only:

[code]

Would translate to something like:

[code]

[2017-03-22 12:59] BabakMN opened #6352 "Best method for an entity to detect if an embedded object was changed?"
On a `User` entity with an embedded `BillingDetails` I'm using the following in `prePersist`:

[code]

It looks for at least one changed field that begins with `billingDetails.`. Is there more proper way of achieving this?

[2017-03-22 13:11] Ocramius commented on #6352
@BabakMN that is the current way, although for your use-case I'd just suggest to set the new `DateTime` instance in the interaction that updates the entity instead.

[2017-03-22 13:12] #6352 closed

[2017-03-22 13:55] brandinchiu commented on #6350
In this example, are these services entity managers, or my own custom logic running on top of them?  I already have something like this that is managing the entities on my end, the problems I'm running into are at the last leg, when I need the entities persisted.

Fetching objects has been no problem, including the ones with the cross-schema relations.

I've played around with some changes to the

[2017-03-22 13:57] Ocramius commented on #6350
I would need a piece of code that reproduces your issue in isolation to get you to a workaround. Can't help just by imagining what you are doing, sorry...

[2017-03-22 14:07] brandinchiu commented on #6350
Of course; here's a more concrete example of what I'm attempting to do:

Assume I have 3 schemas:
* data_1
* data_2
* data_index

data_1/2 are application databases storing relevant information for two clients.  It stores user, financial, and other information for those clients.

data_index is an array of enum-like tables, which consist of ID->Name pairs.  These are more or less non-transactional,

[2017-03-22 14:12] Ocramius commented on #6350
I'm asking for an actual code example.

[2017-03-22 14:29] brandinchiu commented on #6350
**Entity Metadata**
[code]
**\Doctrine\ORM\Mapping\MappingException:776** (added new cascade option to exception message)
[code]

**\Doctrine\ORM\Mapping\ClassMetadataInfo:1517** (added new cascade option to array_intersect and added new mapping index 'isCascadeIgnore')
[code]

**\Doctrine\ORM\UnitOfWork:735** (prevent $this->computeAssociationChanges from running if isCascadeIgnore)
[code]

Is th

[2017-03-22 14:30] Ocramius commented on #6350
No, I'm asking where you are sharing an entity reference... :-\

[2017-03-22 14:37] brandinchiu commented on #6350
Like, where I'm instantiating the user entity and then setting the role?

[2017-03-22 14:46] Ocramius commented on #6350
Yes: without going into ORM internals, how are you using the ORM API? Can you make an example that, using multiple entity managers, reproduces your issue?

[2017-03-22 15:05] guilhermeblanco commented on #6302
@mbeccati I'm working purely on `develop` branch (read as Doctrine 3) and I've fixed this issue in https://github.com/doctrine/doctrine2/commit/680e0eb973c91be95a016ba6d8b90f085fc46af3

[2017-03-22 15:05] #6302 closed

[2017-03-22 15:08] brandinchiu commented on #6350
I'm working with Symfony, and have heavily abstracted out how I work with ORM.  I work with controller classes that wrap around entities to provide functionality.

[code]

UserController::save() basically just runs $em->persist and $em->flush on the wrapped entity.

Core\Index\RoleController::getRole(Enum\Role::ROLE_USER) just returns an instance of RoleController with a preloaded $entity property

[2017-03-22 15:15] Ocramius commented on #6350
No, that's not going to be useful, but generally:

[code]

Will lead to a mess.

Yes, but where is the entity passed across multiple entity managers? As far as I can see, your current controllers all work with one entity and one entity manager...

Is this the interaction?

[code]

[2017-03-22 15:20] brandinchiu commented on #6350
What's essentially happening is:
[code]

[2017-03-22 15:22] Ocramius commented on #6350
Right, that's never going to happen. You will need to get a fresh copy of `$role` from `$em1`.

[2017-03-22 15:23] brandinchiu commented on #6350
Is this even possible? How can $em1 know about a Role when it points to a different database?

[2017-03-22 15:40] Ocramius commented on #6350
Then you need to break the association, and use a scalar field for that association:

[code]

[2017-03-22 15:44] brandinchiu commented on #6350
So there's no reasonable way Doctrine would ever support this kind of behaviour?  Moving to a scalar, non-entity relationship was the next thing on my list to try.

[2017-03-22 15:45] Ocramius commented on #6350
No, you'd need a single `EntityManager` that connects to multiple DBs instead.

[2017-03-22 15:46] brandinchiu commented on #6350
And that's currently not possible, correct?

[2017-03-22 15:48] Ocramius commented on #6350
@brandinchiu depends on RDBMS. For instance, in Postgres/MySQL, you can span across different schema with a single DB connection.

Otherwise, an alternate solution is to write a `Doctrine\DBAL\Connection` class that is able to select which DB to send a query to, depending on the SQL statement. That is NOT a simple task (estimating weeks of work).

[2017-03-22 15:49] brandinchiu commented on #6350
I'm using MySQL.  Can you point me in the direction of the documentation outlining how to configure a single entity manager to interact with two different databases/schema?

[2017-03-22 15:53] Ocramius commented on #6350
@brandinchiu you can just use a single DB connection, and map the entities with `@Table(name="foo", schema="bar")`

[2017-03-22 15:56] brandinchiu commented on #6350
How would I accomplish this with yaml configuration?

[2017-03-22 15:57] Ocramius commented on #6350
@brandinchiu no clue: see http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/yaml-mapping.html

[2017-03-22 15:58] Ocramius commented on #6350
Closing here, as the issue is resolved.

[2017-03-22 15:58] #6350 closed

[2017-03-22 16:00] brandinchiu commented on #6350
I appreciate the assistance.

[2017-03-22 16:54] TheBay0r opened #6355 "Use composite foreign key a part of a composite primary key"
I try to create a composite primary key where one part of it, is a composite foreign key. The code looks like following:
[code]

Sadly this scenario doesn't seem to work. Am I doing something wrong or is it simply not supported?

Without having a composite foreign key I at least get the composite primary.. But what I would want to have in the DB is something like:

[code]

[2017-03-22 17:03] Ocramius commented on #6355
What does it do?

[2017-03-22 17:08] TheBay0r commented on #6355
Oh sry, forgot to add that:

[code]

[2017-03-22 17:10] Ocramius commented on #6355
That seems really buggy - shouldn't just drop columns like that...

Does the ORM schema validator work?

[2017-03-24 14:54] TheBay0r commented on #6355
Hm, looks like there was a special character in front of `@ORM\Id`, so doctrine wouldn't recognise it,  at
[code]

Now that I have re-written that line I get:
[code]

This actually answers the question i guess 😞

[2017-03-24 14:54] #6355 closed

[2017-03-24 16:11] guilhermeblanco opened #6357 "Refactor ClassMetadataFactory logic to cache Entity ClassMetadata classes and load them from Filesystem."

[2017-03-24 22:14] Ocramius commented on #6357
@guilhermeblanco if possible, just abstract it behind a tiny interface, which would later allow for code signing (important to prevent tampering with files in some production systems).

[2017-03-24 22:23] Ocramius commented on #6299
Sorry, but this needs to be a unit test in the suite of this project: nobody is going to debug it inside a larger environment.

[2017-03-24 22:31] Ocramius commented on #6355
@TheBay0r yeah, it's currently a limitation, and it was never cleaned up because it's a huge amount of work for very little gain. It's much simpler to have a synthetic PK and unique indexes for what your model understands as PK.

[2017-03-24 23:12] Ocramius commented on #6327
@Hendra-Huang doesn't look like an ORM bug to me then: if your DB silently accepts the value, that's expected behavior due to missing schema constraints.

If the problem is the lack of rename in the constraint, then I suggest writing a reproduction test case and reporting it against https://github.com/doctrine/dbal

[2017-03-26 09:40] havvg commented on #4568
We came across the same issue, in our domain a `StreetAddress` is optional, but if given, it has to contain all fields. All fields on the `Embeddable` are `nullable: true`, so the DB is working. The domain is ensuring valid state. So I created that listener to make Doctrine load the objects the way the domain contains objects prior persisting: https://gist.github.com/havvg/602055f1488271f68e5bc82f

[2017-03-26 11:22] sourcerer-mike opened #6360 "Embeded property reflection not working"
Hi there. I have an embeded entity like this:

[code]
and

[code]

but the `CustomerId` extends another class:

[code]

So every property is defined there.
Why does Doctrine/PHP keeps telling me this?

There is something odd with it as you see here:

![screen-170326-0173c](https://cloud.githubusercontent.com/assets/2559177/24330778/3cc826cc-1226-11e7-8d0b-6797192b9150.png)

What else do you need f

[2017-03-26 14:04] sstok commented on #6118
A nested transaction is actually a safe point, and not all vendors (*couch* (older) MySQL versions) support this properly.

[2017-03-26 14:16] theofidry commented on #6360
Not sure if that occurs everywhere, but FYI you should use custom types rather than embedded classes for your custom IDs.

[2017-03-26 23:29] Ocramius commented on #6360
The customer id is probably a class that extends a UUID with a private ID,
right? If that's what is mapped, then the ID property doesn't exist in the
child `CustomerId` class (that's normal, since it's not visible). Doctrine
has no way to have you inherit properties from parent embeddable classes,
so you will either need to move the field to `CustomerId` or make it
`protected`.

On 26 Mar 2017 9:1

[2017-03-27 06:23] danitome24 opened #6361 "Load class metadata change problem"
Hi,

I'm developing with DDD and doctrine and I would use embeddable for Value Objects. In my code, there are some Value Objects that I could reuse but due to a legacy code, these columns on database are different named. So I thought that I could update it on `loadClassMetadata` doctrine event. I also use Symfony.

To get this achievement I've started only assigning the embeddable to an entity fro

[2017-03-27 06:43] SirWaddles opened #6362 "Undefined Property error in ObjectHydrator when using JOIN WITH"
I have a pretty strange issue that I can't quite work out, I have a fix but it's affecting code from 8yrs ago which seems pretty stable.

I have a DQL query resembling
[code]

where a Base can have many Fruits of multiple types. The error I get when trying to run this query is just
`Undefined property on AppBundle\Base::$data`

For some reason, the ObjectHydrator is trying to add the values retrie

[2017-03-27 08:28] lcobucci commented on #6362
This is a known limitation of the ORM when working with class table inheritance and might not be properly documented.

@SirWaddles would be nice if you could reproduce and implement a good solution for this on a PR.

[2017-03-27 08:44] lcobucci commented on #6361
In general, what you would have to do is actually use the `@AttributeOverrides` annotation on you class using `embeddable.attribute` as name but due to the [current limitation](https://github.com/doctrine/doctrine2/pull/6151#issuecomment-271432401) you can't really do it at the moment.

I think you're having this issue for the same reason we can't override embeddable objects.

[2017-03-27 08:47] Seb33300 opened #6363 "Unable tu use LIKE on numbers and subqueries"
Hi,

When trying to use a `LIKE` condition on number and sub queries:
[code]
or
[code]

I am having a DQL syntax error query exception:

I am able to use theirs conditions in SQL, so is it a DQL bug?

Thanks

[2017-03-27 08:54] danitome24 commented on #6361
How can I use `@AttributeOverrides` in YAML configuration? @lcobucci

[2017-03-27 10:00] lcobucci commented on #6361
@danitome24 https://github.com/doctrine/doctrine2/blob/1aa02f9afcb374d7d3060f960fa8ce096bf71369/lib/Doctrine/ORM/Mapping/Driver/YamlDriver.php#L630

But I recommend you to move away from YAML since it's already removed from the next major release.

[2017-03-27 10:15] danitome24 commented on #6361
Thanks a lot!

I've heard about it... There's any automatic way to move from YAML into XML config files? O I've to write again all my config files? @lcobucci

[2017-03-27 11:11] danitome24 commented on #6361
@lcobucci Two last questions:

1. Why is YAML going to be removed? Performance?
1. When is going to be developed this feature? I'm waiting for it... if need help...

Thanks a lot :+1:

[2017-03-27 11:17] lcobucci commented on #6361
Also, YAML it's a mess and we had tons of invalid issues because of syntax errors. You can see more on https://github.com/doctrine/doctrine2/pull/5932#issuecomment-233593524

At the moment we're working on different things so it would be amazing if the community could send a PR to `master` that fixes that (maybe you?).

[2017-03-27 11:45] danitome24 commented on #6361
@lcobucci Thanks a lot...maybe you'll have a PR from me ;). Closing issue!!

[2017-03-27 11:45] #6361 closed

[2017-03-27 12:01] michal-lewandowski opened #6364 "[QueryBuilder] Modify query based on variable value"
Hi, I'm using Symfony3 and I've prepared following query:

[code]
What should I do if I want to add if statement (if $year is not null, I want to add one more andWhere() method) while building query. I've tried this code:

[code]

And it didn't worked for me, I've got:

Regards :D

[2017-03-27 18:26] michal-lewandowski commented on #6364
I found a soluting. I had to move getQuery() to $products
[code]

[2017-03-27 18:26] #6364 closed

[2017-03-27 19:09] curiosity26 opened #6366 "Floats in $orgValue are strings in UnitOfWork::computeChangeSet"
The `$actualValue` held in the entity is a valid float/double but the value held in the `$orgValue` is a string.

![image](https://cloud.githubusercontent.com/assets/4050934/24373203/99222dd6-12fe-11e7-9a8e-8eeaf8ac8d0f.png)

Causes this assertion to fail in UnitOfWork on line 668:

[code]

Here's the field referenced in the entity:

[code]

The Database is PostgreSQL 9.6.

[2017-03-27 22:23] lcobucci commented on #6366
@curiosity26 `float` and `decimal` are different types for storages and DBAL. If you want to have a float and deal with floating-point precision you should use `@ORM\Column(type="float", ...)`.

More info: http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/types.html#decimal-types

[2017-03-27 22:24] lcobucci commented on #6366
Closing as `invalid` since it's a configuration issue.

[2017-03-27 22:24] #6366 closed

[2017-03-29 10:48] marchenko-am opened #6368 "OneToOne with a join table"
I found [similar issue ](https://github.com/doctrine/doctrine2/issues/5949)
But I dont understand how I can organize object for join table. So, I created new issue.

I have that structure:

[code]

And I know [how to organize Many-to-Many](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/association-mapping.html#many-to-many-unidirectional)

But I need solution for OneToO

[2017-03-29 10:56] marchenko-am commented on #5949
Hi. Can you explain how you organized your "Chosen object way"?
Unfortunately, I dont understand how you resolved this.
I have simillar problem.

[2017-03-29 12:52] andreasferber commented on #6218
Try putting parentheses around your partial index WHERE clause:

    @ORM\Index(name="subscriber_notification_idx", columns={"subscriber_notification"}, options={"where": "(subscriber_notification = TRUE)"}),

The way `getListTableIndexesSQL()` in `Doctrine\DBAL\Platform\PostgreSqlPlatform` queries the PostgreSQL system tables leads to those parentheses being added if they aren't already there, wh

[2017-03-29 16:12] Ocramius commented on #6368
A `one-to-one` association in doctrine ORM does not need a join table.

If what you need is a join table in-between, use a "join entity". See http://stackoverflow.com/a/15630665/347063

[2017-03-29 16:12] #6368 closed

[2017-03-29 16:25] smcjones opened #6369 "non-null \DateTime value fails by default"

[2017-03-29 16:26] Ocramius commented on #6369
Closing as `invalid` due to missing details and tests.

[2017-03-29 16:26] #6369 closed

[2017-03-29 16:36] smcjones opened #6370 "non-null \DateTime value fails by default"
(Sorry, hit enter accidentally on last issue, leaving it empty)

# The issue

When you create a \DateTime entity that is not nullable, and assign a default, Doctrine fails. This appears to be because `\Doctrine\DBAL\Types\convertToDatabaseValue` fails to do the following:

1. Check if value is a DateTime object.
2. Attempt to convert a value to a DateTime object.

# Example
[code]

# The solution

[2017-03-29 16:42] Ocramius commented on #6370
You wrote:

[code]

This is invalid, as a `DateTime` instance should be provided.

The correct approach would be:

[code]

An alternative approach is to also pass in a `DateTime` instance:

[code]

The DBAL type does not work with strings, closing as `invalid`.

[2017-03-29 16:42] #6370 closed

[2017-03-29 17:21] smcjones commented on #6370
Interesting. Could be Symfony-related, but a reverse migration for a legacy app created a string default. Not entirely sure why the PHP mapping can only go one way. It feels a bit arbitrary and unhelpful, especially in annotation format. Thanks anyway.

[2017-03-29 17:23] Ocramius commented on #6370
This particular type only understands `DateTime` and `null`. Other types understand other type conversions only.

It is arbitrary:

 1. we can't validate every value you pass in, as that would cause a massive overhead
 2. we can't silently ignore invalid values

So far, a crash due to an invalid `format()` call on a non-`DateTime` object is the best solution.

[2017-03-29 17:44] smcjones commented on #6370
I get it. It sticks to typehinting and it makes things consistent. Passing via constructor is fine and makes a lot more sense than what I was proposing.

As for this issue, it would be nice if you could at least trigger an exception (would that be `Doctrine\DBAL\Types\ConversionException`?) This would help tremendously in debugging.

    if ($value !== null && !($value instanceof \DateTime) {

[2017-03-29 17:49] Ocramius commented on #6370
Possibly, but the code you are looking at is extremely performance
sensitive. In php 7, you just get a throwable...

On 29 Mar 2017 2:44 p.m., "Sean" <notifications@github.com> wrote:

[2017-03-29 18:01] smcjones commented on #6370
Fair point. I plan on upgrading as soon as I can - as I mentioned, I'm migrating a legacy app.  Ultimately adding compatibility for a version of PHP that people are moving away from is probably not the right move...

This will be my last comment: You may want to note in *Requirements* under [Architecture](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/architecture.html)

[2017-03-29 23:20] josedacosta opened #6371 "Not possible to execute a WHERE condition from a parent entity with discriminators (with InheritanceType JOINED and DiscriminatorMap and DiscriminatorColumn)"
Hello,

Not possible to execute a WHERE condition from a parent entity with discriminators (with InheritanceType JOINED and DiscriminatorMap and DiscriminatorColumn)

It seems that the persist (and the cascade persist) works:

Https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/Persisters/Entity/SingleTablePersister.php#L60

Https://github.com/doctrine/doctrine2/blob/master/lib/Doct

[2017-03-29 23:40] josedacosta commented on #6371
Yes .. it is possible to filter that the entity child:

$queryBuilder->where('a INSTANCE OF CoreBundle\Entity\Dog');

Which will add:
... WHERE a0_.discriminator IN ('dog')

It is still not possible to make a WHERE

[2017-03-30 04:26] teohhanhui commented on #5909
Got bitten by this too. My scenario is:

Payment -(cascade persists)-> PayAction
RedeemUserCreditsAction -> PayAction

[2017-03-30 05:19] marchenko-am commented on #6368
I solved my problem with Entity for join table.
So, Document Entity -> Join Table DocStatus Entity has [one-to-one bidirectional relation](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/association-mapping.html#one-to-one-bidirectional), Join Table DocStatus Entity -> Status Entity has [one-to-many bidirectional relation](http://docs.doctrine-project.org/projects/doctri

[2017-03-30 08:55] sboesch opened #6372 "Incorrect column alias when using multiple "addSelect""
I'm trying to build the following SQL query with Doctrine QueryBuilder:

[code]

The querys purpose is to find all "projects", ordered by "similarity" to a given project. Similarity is calculated by counting matching relationships between projects and foreign tables (eg. project_attribute).
The example above works as expected when executed via MySQL.

Now I tried to build this query via Doctrine:

[2017-03-30 11:02] Ocramius commented on #6371
From a type perspective, `Animal.tailSize` does not exist, while `Dog.tailSize` does.

DQL is not SQL, as DQL is statically checked. Support for this feature won't be added unless we add cast support in DQL.

Closing as `invalid`

[2017-03-30 11:02] #6371 closed

[2017-03-30 11:45] Ocramius commented on #6372
This seems wrong - we don't really support sub-`SELECT` clauses in the `SELECT` clause. What's the DQL here?

[2017-03-30 12:17] sboesch commented on #6372
$qb->getDQL() returns this:

[code]

Basically I only need this sub selects to order the result by relevance. Any other way to achieve this besides raw SQL?

[2017-03-30 12:26] Ocramius commented on #6372
My mistake - it seems like the [ebnf](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/dql-doctrine-query-language.html#ebnf) declares sub-`SELECT` statements. The bug is valid, we just need a minimal reproduction scenario.

[2017-03-30 15:02] josedacosta commented on #6371
It's no matter what! I understand better why not many people use the doctrine of inheritance: in fact, it is useless! Apart from doing a SELECT without WHERE. I do not see the value of the inheritance if it is for not having access to the child's data.
Thanks anyway :/
Pity.

[2017-03-30 15:09] Ocramius commented on #6371
@josedacosta it is still useful if you select a single child in the inheritance.

[2017-03-30 16:09] Ocramius commented on #6363
`LIKE` works with a `StringExpression` as per http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/dql-doctrine-query-language.html#scalar-and-type-expressions

Does it work when using a placeholder, instead of a hardcoded string?

[2017-03-30 18:41] josedacosta commented on #6371
yes I grant you, INSTANCE OF, has already helped me more than once
$queryBuilder->where('a INSTANCE OF CoreBundle\Entity\Dog');
thanks

[2017-03-30 18:50] Ocramius commented on #6371
No it needs to be the correct inheritance level in the `FROM` clause.

On 30 Mar 2017 1:41 p.m., "José DA COSTA" <notifications@github.com> wrote:

[2017-03-31 08:09] Seb33300 commented on #6363
I hardcoded for the example, but I have the same issue with placeholder binded with `setParameter`.

[2017-03-31 10:55] canaaerus opened #6375 "generate:entities does not translate index associations"
[Working with indexed associations](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/tutorials/working-with-indexed-associations.html) explains the usage of the `indexBy` keyword.
For it to work, the insertion method needs to look as follows:

    public function addStock(Stock $stock)
    {
        $this->stocks[$stock->getSymbol()] = $stock;
    }

Now when executing `php bin/con

[2017-03-31 10:56] Ocramius commented on #6375
Meh, this is a detail that is up to your domain, not to the ORM... It also assumes that you are re-generating all entities, and that the getter exists on the associated entity.

[2017-04-02 15:42] YaoOcelotl opened #6380 "Embeddable with notify change tracking policy do not update"
Changes to embedded objects are not detected when using notify change tracking policy.

[2017-04-02 15:44] Ocramius commented on #6380
That's because changes happen at entity level, not at embeddable level.

[2017-04-02 15:47] YaoOcelotl commented on #6380
¿ Is it posible to use embedded objects and notify change tracking policy simultaneously?

[2017-04-02 15:47] Ocramius commented on #6380
@YaoOcelotl yes, by adding the policy to each entity that uses the embeddable object

[2017-04-02 15:51] YaoOcelotl commented on #6380
¿ Then how do we register the the changes in the embedded object in the parent entity ?

[2017-04-02 15:54] Ocramius commented on #6380
You'd have to do that when calling the API on the entity, not on the embeddable. No way around it, or else just use the implicit tracking strategy.

[2017-04-02 16:02] YaoOcelotl commented on #6380
The following calls do not work:
`$listener->propertyChanged($entity, $embeddedPath, $oldEmbeddedClone, $newEmbeddedClone);`
`$listener->propertyChanged($entity, "{$embeddedPath}.{$property}", $oldValue, $newValue);`

[2017-04-03 08:45] ncirocco opened #6382 "Problems with Bulk Updates using Iterator"
[code]

Using the previous code the only entities that are being successfully updated are the ones that the `if` condition is `true` during their iteration. The ones that were modified but `flush` was not called during their iteration are not being updated.
Also the remaining ones that should be flushed outside of the while are not being flushed successfully.

based on: http://docs.doctrine-projec

[2017-04-03 08:54] Ocramius commented on #6382
1. this should be reproduced with a test case
2. your `$this->em->clear();` causes the entities to be cleared, so there's no way to know whether some of those entities were cached inside the hydrator due to fetch-join operations, or whether they were completely detached (that's what you should assert upon)
3. use a tested utility that does this for you, and provides you with fresh entities at each

[2017-04-03 08:54] #6382 closed

[2017-04-03 13:36] Michal-sk commented on #5949
@marchenko-am as stated in my latest paragraph. I have created a new object called Chosen and used that instead of the JoinTable annotation.

[2017-04-03 20:58] guilhermeblanco commented on #6211
Looks like it's well deserved some updates around this.

I've been dedicating 15-20h/weekly on `develop` branch since February. Right now almost the entirety of ClassMetadata has being moved to object orientation. Our performance tests highlighted an improvement of close to 10% and memory optimization close to 20%.

Right now I'm in the process of re-building the ClassMetadataFactory and also the

[2017-04-03 21:01] guilhermeblanco commented on #6357
@Ocramius I'm taking the same approach as ProxyFactory is doing today. =P

[2017-04-04 05:51] BabakMN opened #6383 "[Postgres] Default column value (CURRENT_TIMESTAMP) "date/time value current is no longer supported""
This is a preliminary issue I will provide more information if needed.

It seems that the schema tool is wrapping the column default value in single quotes so I get a query like,

[code]

Which causes,

[code]

Column definition:
[code]

If `CURRENT_TIMESTAMP` is not wrapped in single quotes it will work.

Perhaps `default` is for constant string values and I should use `columnDefinition` instead?

[2017-04-04 05:53] Ocramius commented on #6383
Yep: "default" does evaluate to a constant, not to an expression.

On 4 Apr 2017 07:51, "BabakMN" <notifications@github.com> wrote:

[2017-04-04 08:29] Ocramius commented on #6383
Closing as `invalid` and `duplicate` ( https://github.com/doctrine/dbal/issues/2582 )

[2017-04-04 08:29] #6383 closed

[2017-04-06 14:20] vasekjares opened #6385 "Get entity change sets - do not change internal unit of work state"
It would be great to have a method to get entity change set without changing internal unit of work state:

`$user = $em->find(User::class, 1);`
`$user->setAge(10);`
`$user->setName('John');`
`$em->getUnitOfWork()->recomputeChangeSets();`
`$logger->log(User::class, 1, $em->getUnitOfWork()->getEntityChangeSet($user));`
`$em->flush();`

Code above works great, but issue is that it changes internal st

[2017-04-07 08:43] bruno-ds commented on #2947
Hello,

I was reading the source code, and I've got the feeling that this problem is not yet solved.

This is a documented functionality :
- http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/dql-doctrine-query-language.html#cache-related-api
- http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/dql-doctrine-query-language.html#query-cache-dql-query-o

[2017-04-07 11:09] peter-gribanov opened #6387 "Need round DateTime from query params for correct build cache key"
This query is not be cached because the cache key builder use seconds from query parameter:

[code]

*Of course, the use of the current time in the query does not allow it to be cached, and therefore it is necessary to use conditionally the current time.*

Need round DateTime from params

[code]

You can say that this is not your task, but this is the task of the persistence layer, not the layer o

[2017-04-07 12:00] peter-gribanov commented on #6387
I could create a simple the Conditionally Current Time object for this:

[code]

But it's doesn't work if i use the pattern [Specification](https://github.com/Happyr/Doctrine-Specification), because the parameters can be determined at different levels of the specification aggregator.

[2017-04-07 12:32] lcobucci commented on #2947
@bruno-ds can you please send a test that confirms that this is not really working?

[2017-04-07 13:16] MatthiasKuehneEllerhold opened #6388 "orm:schema-tool:drop does not escape identifiers properly"
Using the `orm:schema-tool:drop` CLI Command does not work properly because identifiers dont get escaped correctly.

Create test database:
[code]

Execute the CLI Command in bash:
[code]

Properly escaping the foreign key would have worked:
[code]

This was used in a ZF3 Project with the doctrine-orm-module, but the drop command is in Doctrine\ORM here: https://github.com/doctrine/doctrine2/blob/m

[2017-04-07 14:21] Ocramius commented on #6387
This is 100% not the problem of the ORM.

We just take parameters and make a cache key from them, a d cannot round nor apply any assumptions on what the parameters mean.

Please use a fixed value such as `midnight today` or similar instead.

Closing as `invalid`

[2017-04-07 14:21] #6387 closed

[2017-04-07 14:32] holtkamp commented on #6387
@peter-gribanov what about using a 'constant' like a [DQL functions](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/dql-doctrine-query-language.html#dql-functions), I guess ```CURRENT_TIMESTAMP()``` does the trick ;).

[2017-04-07 14:36] Ocramius commented on #6387
@holtkamp that is still broken: now your query isn't idempotent anymore, and therefore not cacheable by definition. Even the rdbms won't cache such a query at low level...

[2017-04-07 14:38] holtkamp commented on #6387
@Ocramius aah, sorry, yeah, this involves result cache. I had the query cache in mind... Nevermind then!

[2017-04-07 15:06] bruno-ds commented on #2947
Hello,

I'm rather new to symfony, so I don't know how to write the requested test.

But looking at the code, it is obvious : as said in the original issue, `getExpireResultCache` (and the `protected $_expireResultCache`) are not used in the code except in the getter/setter.

[2017-04-07 20:30] theofidry commented on #6388
I think this is the same issue as https://github.com/doctrine/doctrine2/issues/5874 in which case this cannot be fixed automatically in 2.x.

[2017-04-07 20:39] theofidry commented on #2947
@bruno-ds lucky you it's not Symfony but Doctrine :P Jokes aside, maybe look at the concerned class and look for a test case using it. You may find a test case related to it where you may find some lead to implement the requested test :)

[2017-04-08 01:07] Ocramius commented on #6388
@theofidry that applies to columns, not to constraint names. I think this is a DBAL issue to be reported/tested there.

[2017-04-10 14:13] sboesch commented on #6372
I'm sorry, I just found out that using Aliases within another Alias isn't even allowed in MySQL.
When I wrote and tested the query above in raw MySQL, I haven't used Aliases but directly added the subqueries COUNT() results together; which works.
Unfortunately this style of writing doesn't work either with DQL.
So I guess this issue isn't actually a bug.

Anyway, is possible to get the desired res

[2017-04-10 14:30] Ocramius commented on #6372
Uhm... I would just say to keep it in raw SQL unless there is a strong need
for it to be DQL...

On 10 Apr 2017 4:13 p.m., "sboesch" <notifications@github.com> wrote:

[2017-04-10 14:47] sboesch commented on #6372
Ok, thank you, i'll stick to raw SQL...
So the statement above is not supposed to be supported by doctrine?

[2017-04-10 14:49] Ocramius commented on #6372
@sboesch unless there's a strong reason to do that, it's not worth doing so. The fact that the generated SQL is broken is still a bug though.

[2017-04-10 21:14] Ocramius commented on #6385
This would require substantial effort in the UoW re-design. I had started such a project in https://github.com/Ocramius/ChangeSet, but never got around to continue work on it, sorry.

[2017-04-11 07:56] bruno-ds commented on #2947
I just forked, cloned and search in the tests... but I'm lost... I think that the test should be  `Doctrine\Tests\ORM\Cache\*`. But I don't even understand those tests, and similar function are not tested (ie : setResultCacheLifetime, setResultCacheId, ...)

[2017-04-11 08:01] lcobucci commented on #2947
@bruno-ds those tests are related to L2-cache (second level cache). You can create a funcional test (based on https://github.com/doctrine/doctrine2/blob/2c5e76c96187b512b3b51c14b68ec64c8c2dd857/tests/Doctrine/Tests/ORM/Functional/Ticket/GH5762Test.php for example).

[2017-04-11 08:31] bruno-ds commented on #2947
thank you, I tried to create a test, but I don't know how to run it, so I created a PR : https://github.com/doctrine/doctrine2/pull/6390

[2017-04-11 14:16] chris-fa opened #6391 "OneToMany dependent property is being persisted in the reverse order"
I have an entity `Order` and `Item` as a `1:N`  (this is an example, I know in reality it'd be N:M).

I'm using the following method to add items to an order:

[code]

The problem is the items are being persisted in the order `$item3, $item2, $item1` rather than `1,2,3`.

How can I solve this?

[2017-04-11 14:16] vasekjares commented on #6385
Thats great idea to generalize change set calculations! Anyway this behaviour changed in one of latest releases, I will try to find out which one was that.

[2017-04-11 14:17] vasekjares commented on #6385
It can make a lot of troubles to other doctrine based projects

[2017-04-11 14:23] Ocramius commented on #6391
You can't: there is no guarantee on persistence order here, as long as it
is valid. If you need an incremental sequence, then add one to your code,
and do not rely on auto-incremental identifiers here.

On 11 Apr 2017 4:16 p.m., "Christopher Francisco" <notifications@github.com>
wrote:

[2017-04-11 16:25] lcobucci commented on #2947
@bruno-ds thanks for the PR I'll review it soon and find a way to have it properly fixed.

Just one thing, based on the PR I'd recommend you to check L2-cache since it handles cache invalidation automatically http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/second-level-cache.html

[2017-04-11 18:44] mnapoli commented on #6211
@guilhermeblanco would crowdfunding or sponsoring help in any way, or are you committed to some kind of full-time job (i.e. can money help free some time for you)? Given how widely used Doctrine is, I think a few companies and individual could help financially.

[2017-04-11 20:21] Ocramius commented on #6391
Closing as `can't fix`, `invalid`

[2017-04-11 20:21] #6391 closed

[2017-04-11 20:23] Ocramius commented on #6385
Please report a separate issue for that. Meanwhile, I'm closing this one as `won't fix`, since it's mostly asking for a second unit of work, which is out of scope for most of the ORM operations.

That's a completely separate project, IMO, and if someone wants to take over, follow the link above.

[2017-04-11 20:23] #6385 closed

[2017-04-12 07:01] bruno-ds commented on #2947
thank you,

just for information, my use case is : I have to count the unread notifications for each user, I compute this only by advance & store it in a lifetime 0 cache.
since `expireResultCache(true)` do not work, when this counter has to change, I ended up creating myself the id, it permits me to delete it in redis, but the code is obviously more complex.

Since the result I cache is a count,

[2017-04-12 07:38] lcobucci commented on #2947
You're right, L2C won't help you with counts but theoretically the timestamp region of an entity might help to know when you need to invalidate that result set

[2017-04-12 10:08] tobiasstadler opened #6393 "Exception in `IdentifierFlattener::flattenIdentifier` - column name used instead of field name in identifier extraction"
Consider the following two entities:
[code]

I get an Exception in IdentifierFlattener::flattenIdentifier called from BasicEntityPersister::fetchVersionValue because. BasicEntityPersister::fetchVersionValue calls IdentifierFlattener::flattenIdentifier with the identifier field name, but IdentifierFlattener::flattenIdentifier  expects the identifier column names.

[2017-04-12 10:12] Ocramius commented on #6393
That should probably be changed to field names everywhere...

[2017-04-12 19:53] pstephenson02 commented on #6211
I've heard good things about https://www.patreon.com/ as well to help with sustainable contributions. I believe Laravel uses this and I'm sure a number of other open source projects.

[2017-04-12 19:56] Ocramius commented on #6211
Yeah, but since Doctrine isn't a legal organisation yet, we'd first need to
go through that step.

On 12 Apr 2017 21:53, "Phil Stephenson" <notifications@github.com> wrote:

[2017-04-12 20:42] yannickl88 commented on #6060
Is this still an issue? As far as I can tell the docs are not referencing any branch directly (via a link or some sorts).

Would an acceptable fix for this to add a line to the current docs that the `count` method has been added in 2.6 suffice? I.e.,:

[2017-04-12 22:36] iluuu1994 opened #6396 "Loading meta columns in custom hydrator"
I'm writing a [custom hydrator](https://github.com/iluuu1994/DoctrineExtensions/blob/v2.4.x/lib/Gedmo/Tree/Hydrator/ORM/TreeObjectHydrator.php) for [Gedmo Tree](https://github.com/iluuu1994/DoctrineExtensions/tree/v2.4.x/lib/Gedmo/Tree).

The hydrator accesses the primary key of the `parent` property of a tree node:

[code]

Unfortunately, the primary key is actually `null` if the query doesn't co

[2017-04-13 11:33] mcorteel commented on #6060
Yes, that would fix it!

[2017-04-13 11:55] #6375 closed

[2017-04-13 20:49] Ocramius commented on #6060
Moved to https://github.com/doctrine/doctrine-website-sphinx/issues/149 - closing here

[2017-04-13 20:49] #6060 closed

[2017-04-14 08:21] psihius commented on #6211
@Ocramius I'd suggest taking steps and setting up infrastructure for that. Doctrine is a huge and very popular project that is one of the pillars of the PHP world. If somethong happens to it, it's gonna be a mess, especially if it results in project splitting into forks and all that stuff. There also needs to be a knowledge base built up and docs really need a lot if work (they are vague in a lot

[2017-04-14 09:07] Ocramius commented on #6211
Please scroll up by 2 comments: https://github.com/doctrine/doctrine2/issues/6211#issuecomment-293382782

[2017-04-14 14:25] christiancannata opened #6398 "Doctrine Proxies Hydration not works in local"
Hi,
I don't know why this code return null suddenly, in production I have not this problem, only in local:

`$companyName= $application->getVacancy()->getCompany()->getName() //return null in local but in production works`

now in local I have changed with:
`$vacancy=$application->getVacancy();
$vacancy = $this->em->getRepository('<repo>')->find($vacancy->getId());
$company=$vacancy->getCompany()-

[2017-04-14 14:33] theofidry commented on #6398
@christiancannata could you help by providing more info? There's no way we can tell the issue just from that :/

For example:

- which version you are using
- how is your environment defined
- what DB are you using
- did you check your DB?

[2017-04-14 19:10] Ocramius commented on #6398
Closing as `incomplete`.

As much as I'd like digging into this, information is missing, and no debugging has been attempted.
Please try reproducing the results locally with a test case or similar, then report again should this be a failure on the ORM side.

[2017-04-14 19:10] #6398 closed

[2017-04-15 10:44] Ang3 commented on #4886
Same problem with this simple code :

[code]

[2017-04-15 10:59] Ocramius commented on #4886
The best you can do for now is emulating the behavior of the existing mapping drivers.

Closing here as `won't fix`, as @guilhermeblanco is creating a metadata builder for V3, which will likely change the API for this stuff entirely.

[2017-04-15 10:59] #4886 closed

[2017-04-15 12:51] guilhermeblanco commented on #4886
This is already fixed in `develop`.

[2017-04-16 12:13] Napas opened #6401 "PDO::__construct(): Server sent charset (255) unknown to the client. Please, report to the developers"
MySQL version: `8.0.1`
PHP version: `7.1.3`
Driver: `pdo_mysql`
charset: `UTF8`
dsn: `"mysql:host=mysql;dbname=pets;charset=UTF8;"`

Error message: `PDO::__construct(): Server sent charset (255) unknown to the client. Please, report to the developers`

Any ideas?

[2017-04-16 19:01] Ocramius commented on #6401
Closing, not an ORM bug. Please report this on https://bugs.php.net/ after some research.

[2017-04-16 19:01] #6401 closed

[2017-04-17 19:59] lemartin opened #6402 "Quote strategy not applied to foreign key columns"
The quote strategy is not applied to foreign key columns used in one-to-one associations. When fetching the [Address entity](https://github.com/doctrine/doctrine2/blob/2.5/tests/Doctrine/Tests/Models/Quote/Address.php) the column `user-id` is not quoted.

[code]

The tests do not cover this scenario, as they force partially loaded entities. Applying the patch below should yield a failing test case

[2017-04-17 22:03] szymach commented on #6334
Hello,
Can you share some code? Maybe you simply have wrong entity mapping.

[2017-04-17 22:31] theofidry commented on #6402
AFAIKS it's a duplicate of https://github.com/doctrine/doctrine2/issues/5874 :/

[2017-04-18 01:35] Ocramius commented on #6402
@theofidry it's similar, but not a duplicate. @lemartin is the join column mapped with backticks?

[2017-04-18 01:35] Ocramius commented on #6334
Closing as `incomplete` due to missing tests.

[2017-04-18 01:35] #6334 closed

[2017-04-18 08:25] lemartin commented on #6402
Yes, the column is mapped with back-ticks.

[code]

[2017-04-18 11:40] Ocramius commented on #6402
Yup, that's 100% a bug then, and not a duplicate :-\

[2017-04-18 13:54] lemartin commented on #6402
After some debugging I think I found a fix, but also another bug. See below the diff for fixing the original issue. I'm not sure if the map is really necessary, or if there is an easier way to find the `joinColumn` based on a column name (as found in `targetToSourceKeyColumns`).

What I am really unsure about is, what is supposed to go into `ResultSetMapping::addMetaResult`, whether it should be t

[2017-04-18 14:51] evgenoid opened #6403 "Many-To-Many, Self-referencing SQL generating issue"
I have described two fields at the BalanceStatement model:
[code]

And join it at query builder:
[code]

SQL generated as:
[code]

but expected SQL should be:
[code]

[2017-04-18 17:47] lemartin commented on #6402
Created a [pull request](https://github.com/doctrine/doctrine2/pull/6404) for both issues. (My first ever, sorry if I got anything wrong).

[2017-04-18 20:18] szymach commented on #6403
If I am looking correctly, you did not provide the second join call in the query builder?

[2017-04-18 20:45] szymach commented on #6343
From the [docs](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/filters.html#filters):

As for the PR you linked - do you have eager fetch as well?

So this would seem like a bug. Did you try running the query with XDebug?

[2017-04-19 07:54] YP28 commented on #6343
@szymach, we do have eager fetch configured for both entities that were involved.

I did not run it with XDebug enabled, we just reversed the queried the related entity as it was more important than the one we were query-ing.

[2017-04-19 17:29] chucky2305 opened #6405 "Server sent charset unknown to the client"
This is the full error message

[code]

I am getting this in a symfony project. The database-server exists and can be called.

Has anyone an idea what could be the problem here?

[2017-04-19 17:34] Ocramius commented on #6405
Closing as `invalid`: not an ORM issue

[2017-04-19 17:34] #6405 closed

[2017-04-19 22:16] trickeyone opened #6406 "ID generators require concrete EntityManager instance instead of EntityManagerInterface"
I came across this issue while attempting to implement an EntityManager Decorator to handle resetting the UoW and EntityManager. After doing so, I began receiving errors like
[code]
Where `MyEntityManager` implements `Doctrine\ORM\EntityManagerInterface`

[2017-04-19 22:23] trickeyone commented on #6406
Please disregard and see PR #6407

[2017-04-19 22:23] #6406 closed

[2017-04-20 10:35] patie commented on #6371
i understand this not fit with doctrine idea, but its really missing feature

[2017-04-20 13:58] Ocramius commented on #6371
It's fully available in SQL ;-)

[2017-04-20 18:59] Arkemlar opened #6409 "Wrong insert SQL command order"
The schema has following structure:
User `<--Join Inheritance--` Store `<--OneToMany/ManyToOne--` Stock ` --ManyToOne/undirectional-->` Address.
Right insert order is: User, Store, Address, Stock
But doctrine tries to insert objects in this order: Address, Stock, etc. In Stock insertion SQL command fails because `store_id` is NOT NULL field.
It seems like it doesn't take into account that Stock's

[2017-04-20 21:37] Ocramius commented on #6409
A test case is needed here.

[2017-04-21 08:37] akomm commented on #6281
Came across the same issue. I have a similar situation. There is a case when reordering only partially helps.

There are entity types root, parent, children (1:1:n). I have cascade persist and orphan removal down the chain root -> parent -> children. Parent is nullable.

The reorder-solution works when parent is assigned for the first time (from null to reference). But it fails when you replace re

[2017-04-21 09:31] akomm commented on #5685
Same here.

[2017-04-22 05:20] Sohorev opened #6411 "Wrong result with custom left join"
[code]

[code]

[code]

When I run the query  `SELECT r0_.id AS id_0, r1_.id AS id_1, r1_.review_id AS review_id_2 FROM review r0_ LEFT JOIN review_short r1_ ON (r0_.id = r1_.review_id)` on the database, I get 82 rows (it is right). But $qb->getQuery()->getResult() return 164 rows - it is wrong

[2017-04-22 08:35] Ocramius commented on #6411
There's a lot of confusion with your intent in this query, since:

 * You are not using an association
 * Instead, you are using a custom `WITH` join condition

Could you print out the generated DQL string, and explain what you wanted
to achieve, and why no association is being used?

On 22 Apr 2017 7:20 a.m., "Sohorev Sergey" <notifications@github.com> wrote:

namespace FrontfaceBundle\Model\Enti

[2017-04-22 13:27] mdzzohrabi commented on #5595
I have same issue with Doctrine Pagination that used in one of my symfony bundle's ( `APY\DataGridBundle` ) and pagination throws `"The Paginator does not support Queries which only yield ScalarResults."` exception in doctrine `v2.5`. and before updating to v2.5 it was throws `"Not all identifier properties can be found in the ResultSetMapping: id"`.
DQL generated by Grid bundle is :
[code]

[2017-04-24 09:06] lcobucci commented on #6402
@lemartin once the PR is merged be me or @Ocramius we'll do the back porting ;)

[2017-04-26 09:01] juniwalk commented on #6299
@Ocramius Sorry for the delay, I found another angle on this so I will try to replicate those tests once more.

[2017-04-26 15:13] niltong09 opened #6413 "Optimistic Lock with Timestamps check"
Hello,

I'm using doctrine with symfony, and using the optimistic lock feature in a timestamp field. I've incurred in a problem where the timestamps are equal but doctrine says it is not, to resolve my problem, I've modified the lock method of UnitOfWork, to when the object to check are both instances of DateTime Class, the check is made through the getTimestamp() function of both objects, it work

[2017-04-26 19:56] AlexeyKosov commented on #5644
More than a year has passed but it's still not fixed, weird

[2017-04-26 21:21] theofidry commented on #5644
@AlexeyKosov it's still not clear that this is a bug. It's just that the maintainers don't have enough time to investigate every single of them. If you want to make it, create a reproducible scenario and submit a PR.

[2017-04-27 07:39] #6256 closed

[2017-04-27 11:27] juniwalk commented on #6299
So I tried again to replicate the issue in the tests to no avail. In the tests it just works as it is supposed to.

I opened up [UnitOfWork.php](https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/UnitOfWork.php#L2597) to trace the problem and after few hours I traced the problem to [line 2597](https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/UnitOfWork.php#L2597).

[2017-04-27 12:05] szepczynski commented on #4568
@havvg How to use this workaround?

For example I have User entity with embeddable class Gender. Something like that:
https://gist.github.com/szepczynski/d3028eb9f92fd7aadd08a578c7a92ad3

I know that I need the User entity should have registered postLoad listener NullableEmbeddableListener but I have no idea how to register it. Can you provide any example? I guess that I need somewhere call addMap

[2017-04-27 21:49] CarlosEduardo commented on #6211
Great job guys! CC: @guilhermeblanco @Ocramius @lcobucci

[2017-04-28 13:14] Jean85 commented on #6413
To ease of reading, I will paste here your modification:

if ($entityVersion instanceof \DateTime && $lockVersion instanceof \DateTime) {
	    if ($entityVersion->getTimestamp() != $lockVersion->getTimestamp()) {
		throw OptimisticLockException::lockFailedVersionMismatch($entity, $lockVersion, $entityVersion);
	    }
	} else {
	    if ($entityVersion != $lockVersion) {
		throw OptimisticLockExcept

[2017-04-28 14:08] PlamenVasilev opened #6415 "persist reordered associations changes wrong entity"
I have OneToMany relation User -> Group

The User is OneToMany `mappedBy="", cascade={"persist", "remove","merge"}`
The Group is ManyToOne `inversedBy=""`

I have the following association when I gen my entity

[code]

When I submit a form trough Symfony (I use collection type) and I send the related entities in reversed order;

[code]

The form is handling the request correctly and build the enti

[2017-04-29 07:35] mssimi commented on #6343
I can confirm combining fetch="EAGER" and SQLFilter does not work well. SQLFilter is not aplied in this scenario.

[2017-04-29 10:31] lcobucci commented on #6343
@mssimi we're doing the best we can with the contributors that we have but since the failing test to reproduce it is available anyone could send a patch to fix the issue 😉

[2017-04-29 10:45] lcobucci commented on #6413
@niltong09 I agree with @Jean85 here, there's no need to do such check since the [comparison just works since PHP 5.2.2](https://3v4l.org/EOaJa).

Can you give us more information on the reason and possibly a test case that reproduces it (you can use https://github.com/doctrine/doctrine2/blob/03972c9c3a6d16b1c6c6e43d5cc2561f105df8fa/tests/Doctrine/Tests/ORM/Functional/Ticket/GH5762Test.php as exam

[2017-04-29 10:50] lcobucci commented on #6415
@PlamenVasilev persist ordering has been refactored on `2.6.x-dev` can you check if everything works with that development version?

[2017-04-30 14:07] lcobucci commented on #6402
@lemartin thanks for your contribution as explained [here](https://github.com/doctrine/doctrine2/pull/6404#issuecomment-298234081) we're going to keep it on `v2.6.x` only.

[2017-04-30 14:07] lcobucci commented on #6402
Closed by #6404

[2017-04-30 14:07] #6402 closed

[2017-04-30 18:10] #5887 closed

[2017-04-30 18:12] lcobucci commented on #5887
@alexb-uk can you please check if that is fixed on `master` since #6274 got merged?

[2017-05-01 12:27] szymach opened #6418 "Custom entity generator templates"
Hello,
I have a question - would you consider adding an option to provide custom class templates for the entity generator?

[2017-05-01 12:40] Ocramius commented on #6418
We are actually in the process of dropping the entity generator, which
should be moved either out of the organisation or maintained by third
parties as a separate optional component. We definitely won't add features
to it.

On 1 May 2017 2:27 p.m., "Piotr Szymaszek" <notifications@github.com> wrote:

[2017-05-01 12:41] szymach commented on #6418
OK ;_;

[2017-05-01 12:41] #6418 closed

[2017-05-01 12:43] Ocramius commented on #6418
@szymach to give you some more background,  the entity generator is **AB**used 90% of the time to generate entities over and over, making the usage of the ORM moot. At that point, it's better to use a record abstraction library, instead of a data mapper.

[2017-05-01 12:47] szymach commented on #6418
I simply like writing YAML mapping and then generate classes out of them. I had to always adjust the generated files, so I was wondering if it could be modified. I can do without, anyway, was just curious.

[2017-05-01 12:49] Ocramius commented on #6418
@szymach the process should be the opposite: mappings to be written *AFTER* the entities were *DESIGNED*.

Entity generation is overall an anti-pattern that leads to extremely anemic domain-related code.

The idea of the generator has always been to allow quick migration from legacy/existing databases: nothing more than that.

[2017-05-01 12:52] szymach commented on #6418
OK I understand.

[2017-05-02 05:43] MicWit opened #9245 "Feature request: Add option of entity or bundle when doing doctrine:schema:create"
This is a request I actually uploaded to Symfony https://github.com/symfony/symfony/issues/22606 and they said I should request it here. I will copy and paste it, so these commands are actually for the Symfony console (I have only ever used doctrine through Symfony).

I wanted to look at what sql was being run in a bundle I was installing, and so used
`php bin/console doctrine:schema:create --dump

[2017-05-02 07:30] PlamenVasilev commented on #6415
I have checked this issue with the latest dev-master of doctrine ORM/DBAL and the issue still exists

[2017-05-02 07:42] Ocramius commented on #6402
Handled in #6416

[2017-05-02 08:20] lcobucci commented on #6362
Fixed by #6367

[2017-05-02 08:20] #6362 closed

[2017-05-02 09:10] Ocramius commented on #6299
@juniwalk without a test case reproducing this, no development can be done around it, sorry :-(

[2017-05-02 12:53] lxg opened #6419 "SchemaTool: Allow overriding table definitions"
When working with entity interfaces and the target entity resolver, it would be nice to be able to override entity classes.

I understand that an entity superseding a different entity is currently not supported by Doctrine. However, if we could just address the “duplicate target tables” problem, it would be fine and at the same time offer a huge benefit.

As we know, when two entity classes have t

[2017-05-02 13:32] Koc opened #6420 "Change repository model for 3.0"
Have you considered switching from multi-repositories to one monolith repo + git subtree split (like in Symfony) for 3.0? https://www.tomasvotruba.cz/blog/2017/01/31/how-monolithic-repository-in-open-source-saved-my-laziness/

[2017-05-02 13:34] Ocramius commented on #6420
@Koc we had a single repository, but it was actually more trouble for us than anything else, and the stability constraints of the different repositories are different.

@beberlei has an entire talk about it at https://qafoo.com/talks/15_08_froscon_monorepos.pdf

[2017-05-02 13:34] #6420 closed

[2017-05-03 10:41] Ocramius commented on #2947
Implemented in #6417 - will land in `2.6`

[2017-05-03 10:41] #2947 closed

[2017-05-03 11:55] ktrzos opened #6421 "Compile Error - Proxy not compatible with entity class on PHP 7.1"
Compile Error: Declaration of Proxies\__CG__\Project\UserBundle\Entity\Role::__construct($initializer = NULL, $cloner = NULL) must be compatible with Project\LocaleBundle\Locale\EntityExt\LocalesInterface::__construct(?Project\LocaleBundle\Locale\EntityExt\Locales $locale = NULL)

Proxy:

[code]

Entity:

[code]

Above occurs when I'm using Doctrine Fixtures and method `getReference()`. Everything

[2017-05-03 11:58] Ocramius commented on #6421
What's your `doctrine/common` version? Please upgrade to latest.

[2017-05-03 12:01] ktrzos commented on #6421
@Ocramius

Part of my composer.json file:

[code]

In my composer.lock there is `v2.7.2` of `doctrine/common`.

[2017-05-03 12:06] Ocramius commented on #6421
Wait, your `LocalesInterface#__construct()` is interfaced? I'm afraid there's nothing we can do for this right now. The only solution will be to switch to ProxyManager at some point (https://github.com/doctrine/doctrine2/pull/1241).

This is a limitation of the library that can't be fixed in 2.x

[2017-05-03 12:20] ktrzos commented on #6421
So I presume, that this also applies for all magic methods?
In [THIS](https://stackoverflow.com/questions/43521985/symfony-3-doctrine-proxy-error-after-entity-magic-method-change-with-php-7-t) example I tried to define PHP7 types in `__get`.

[2017-05-03 12:50] Ocramius commented on #6421
@ktrzos magic methods are usually fixed/predefined, so even if you interface them, usually everything is fine.

In general, #1241 fixes all these concerns, but it won't be ready for a while...

[2017-05-04 09:52] sc0rp10 opened #6422 "Using two sequences in the same table"
I need to handle two sequences for the same table like this:
[code]
But insert has failed with `not null violation` on "b".
A query looks like `INSERT INTO foo (a, b) VALUES (42, null)`.
My DDL allow using`DEFAULT nextval('b_seq'::regclass);`, but Doctrine pass `null` explicit and breaks query.
How can I avoid them?

[2017-05-04 09:54] Ocramius commented on #6422
This is not supported, as the ORM will only read a single insert identifier each time. It's a known limitation, and it also isn't possible to mix auto-incremental/sequence fields with assigned fields at the moment.

[2017-05-04 09:55] sc0rp10 commented on #6422
Maybe is there some hack with metadata or another 'hacky' way to use them?

[2017-05-04 09:58] Ocramius commented on #6422
@sc0rp10 no, the limitation is [in the persisters](https://github.com/doctrine/doctrine2/blob/7bb02d0dbdc337f98fa94078985baa713c24bb65/lib/Doctrine/ORM/Persisters/Entity/BasicEntityPersister.php#L286-L293)

[2017-05-04 10:41] Ocramius commented on #6421
@ktrzos for the magic method definitions, https://github.com/Ocramius/ProxyManager/pull/350 is relevant.

[2017-05-04 21:25] Craige commented on #5660
Any word on this. I think it would be very useful to be able to inject generator instances into the `@CustomIdGenerator`. The generator is pretty inflexible without that ability.

[2017-05-04 21:48] BrandonDusseau opened #6423 "`orm:ensure-production-settings` incorrectly reports that proxy classes are always generated"
The console tool `orm:ensure-production-settings` appears to report that "Proxy Classes are always regenerating" when the proxy mode is set to `AbstractProxyFactory::AUTOGENERATE_FILE_NOT_EXISTS`.

This is due to the use of a check for truthy values rather than strict checks for boolean `true` or the constant `AbstractProxyFactory::AUTOGENERATE_ALWAYS`:

    if ($this->getAutoGenerateProxyClasses(

[2017-05-05 06:55] Ocramius commented on #6423
I think the tool simply wasn't adapted to the new `AbstractProxyFactory::AUTOGENERATE_FILE_NOT_EXISTS`

Still, writing files in prod is not suggested, even if they are written only once. If your production environment is being hammered, the first requests will fight for writing to that location, and some may fail, so this check should probably stay as-is...

[2017-05-05 09:53] lcobucci opened #6424 "HHVM support"
We're struggling to support HHVM properly on our projects:

- https://github.com/doctrine/doctrine2/pull/1149, https://github.com/doctrine/doctrine2/pull/6286, https://github.com/doctrine/doctrine2/pull/6288
- https://github.com/doctrine/dbal/pull/2550
- https://github.com/doctrine/common/pull/785
- https://github.com/doctrine/collections/pull/104
- https://github.com/doctrine/collections/pull/110

[2017-05-05 09:53] lcobucci opened #6425 "Bump PHP requirement to 7.1"
In fact, I would love if we could have `master` **always** requiring the latest PHP (stable) version.

That would have a very positive impact on the developer experience (of maintainers and contributors) since it allow us to use new PHP features, simplify the code and prevent weird type juggling issues. There's of course a big impact on the community adoption since not everybody keep their environ

[2017-05-05 09:55] Ocramius commented on #6424
Overall, I feel bad for dropping HHVM support, but lack of latest versions by default on CI, as well as incompatibilities with PHP 5, 7, 7.1 are starting to become an issue. Community usage is also very low, since PHP 7 made most interactions as fast as on HHVM.

We need to drop it though, as we need to bump the minimum version to PHP 7.1 anyway.

[2017-05-05 10:39] alcaeus commented on #6424
Pinging @Seldaek - he did publish some HHVM stats from Packagist a while back and mentioned in IRC he'd post some current numbers soon. Quote:

[2017-05-05 11:37] BrandonDusseau commented on #6423
I think that's fine, but in that case I'd suggest changing the wording on that tool's return value. I lost over an hour at work trying to diagnose why it said proxies were always being generated when I did not have it set to do so. I'm probably not going to be the only case of that happening.

Also I did choose to never auto generate in production prior to filing the bug.

[2017-05-05 13:00] Majkl578 commented on #6424
Here: https://github.com/composer/composer/issues/6230#issuecomment-284426560

-----

Maybe someone from Facebook could share their vision regarding compatibility, but it's been years and even many PHP 5 bugs are still unfixed, not even taking 7.0/7.1 into consideration. There is still ~250 open issues marked _PHP 5 incompatibility_ and another ~75 marked _PHP 7 incompatibility_. There are also 43

[2017-05-05 14:43] tobias-trozowski commented on #6184
@Ocramius any hint where to start from to fix this issue?

[2017-05-05 14:56] ukropich opened #6426 "Strange behavior when trying to update 'json_array' value with QueryBuilder"
I have an entity with a 'json_array' field (for example it's name is 'json_data'). When I try to update this field with an associative array, using the QueryBuilder, like that:
[code]
I expect that field will be updated with json:
[code]
But I get only the first element of the array: "'some_value1".
After some search, I've found the method _processParameterValue_ at class _Doctrine\ORM\AbstractQue

[2017-05-05 15:11] Ocramius commented on #6426
Peculiar: what is being passed down to the DBAL type?

On 5 May 2017 4:56 p.m., "ukropich" <notifications@github.com> wrote:

[2017-05-05 15:17] ukropich commented on #6426
@Ocramius , the string 'json_array' (which is returned by _ClassMetadata->getTypeOfField_ method)

[2017-05-05 17:06] theofidry commented on #6424
@Majkl578 Symfony doesn't provide any guarantee for HHVM, but accept fixes for it. Cf. https://github.com/symfony/symfony/issues/18922

[2017-05-05 17:13] Majkl578 commented on #6424
@theofidry: Thanks for the link; Symfony doesn't have HHVM in allowed failures so they apparently still do care enough. :)

[2017-05-06 23:41] Ocramius commented on #6426
Yes, and what is being passed to that type (`convertTo*` method calls)?

On 5 May 2017 5:17 p.m., "ukropich" <notifications@github.com> wrote:

[2017-05-07 08:00] lemartin commented on #6425
What does stopping _active_ support mean? Will there be no fixes whatsoever?

For people, like us, who deploy software into existing enterprise infrastructure and cannot require any PHP version beyond the one shipped with the distribution (either Debian or RHEL/CentOS in our case), this would mean, that we have to roll our own fork of `v2.5.x` for bug fixes, as the common denominator in PHP versio

[2017-05-07 08:10] Ocramius commented on #6425
Older versions will still get security fixes: we always did that. Bugfixes
only if worth it, and  we rarely backport anyway, as we have limited time.
New software on new infrastructure, released software on fixed
infrastructure (current stable version at the time it was released). Even
on RHEL and ancient centos versions, having 7.1 support is trivial thanks
to the amazing work done by the future

[2017-05-07 10:12] lemartin commented on #6425
Thanks for the clarification.

That is actually why I asked, what stopping active support means, as it is already limited Why not keep it this way? I'm sure if someone needs something fixed also in `v2.5.x` a PR would happily supplied. There is ofc the need to review it.

On CentOS and RHEL there are SCLs with defined life cycles, I'm not aware of anything similar for Debian. Until the not even re

[2017-05-07 10:20] ukropich commented on #6426
@Ocramius , i've noticed that 'json_array' is replaced with _Connection::PARAM_STR_ARRAY_, because the method _processParameterValue_ modifies the original value. There is code in the _processParameterMappings_:
[code]
So _convertToDatabaseValue_ method of the _JsonArrayType_, won't be called.

[2017-05-07 11:09] Ocramius commented on #6425
At the end of the day, there is no guarantee on anything from us either
btw: that's why we have MIT as licence 😋

On 7 May 2017 12:12 p.m., "Martin Waßmann" <notifications@github.com> wrote:

[2017-05-07 11:16] Ocramius commented on #6426
Type should probably not be inferred if given...

On 7 May 2017 12:20 p.m., "ukropich" <notifications@github.com> wrote:

[2017-05-07 11:37] DestructionOfPlanetJupiter opened #6427 "Cannot establish connection (PDO, mysqli)"
I am currently digging through the documentation here:
http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html

From my composer.json
 "doctrine/orm": "v2.5.6",
 "doctrine/dbal": "v2.5.12",

PHP version is 5.6.30 with a current xampp on a linux machine.

Bootstrap and cli-config taken from the homepage and completed with my data.

$dbParams = array(
    'driv

[2017-05-07 11:43] lemartin commented on #6427
It looks like you are missing the required PHP extensions for mysqli and pdo, see: http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#driver

[2017-05-07 11:55] ukropich commented on #6426
@Ocramius , yes. And also original array should not be replaced. As I say _processParameterValue_ processing array recursively and taking the first element of inner array values (\Doctrine\ORM\AbstractQuery line 414):
[code]

[2017-05-07 11:57] DestructionOfPlanetJupiter commented on #6427
Nope they are there. That is the puzzling part of it all. I use the extensions in other scripts/classes and they work with a charm. Yet doctrine refuses to do so. That is why I even go to length and set up a new xampp version today, because I had the same suspicion; that it what a driver issue. I even checked via phpInfo() ... all necessary drivers are there.

[2017-05-07 12:00] Ocramius commented on #6427
Make sure there are no differences between your php-cli and the web-facing
one. You can add `"ext-mysqli": "*"` to your `composer.json` as well, and
run a `composer update`

On 7 May 2017 1:57 p.m., "DestructionOfPlanetJupiter" <
notifications@github.com> wrote:

[2017-05-07 12:59] lcobucci commented on #6425
@guilhermeblanco you had some thoughts to share here, what do you think about the suggestion?

[2017-05-07 13:03] lcobucci commented on #6424
@Ocramius since we had a [blogpost about the HHVM roadmap](http://www.doctrine-project.org/2013/12/23/our-hhvm-roadmap.html) should we write something again?

[2017-05-07 13:10] DestructionOfPlanetJupiter commented on #6427
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested PHP extension ext-mysqli * is missing from your system. Install or enable PHP's mysqli extension.

[2017-05-07 13:12] lcobucci commented on #6427
@DestructionOfPlanetJupiter `mysqli` and `pdo_mysql` are two different extensions. Are you sure you don't want to use `pdo_mysql`?

[2017-05-07 13:23] DestructionOfPlanetJupiter commented on #6427
pdo_mysql and mysql do not work either way ... and I do not know why.

[2017-05-07 13:25] Seldaek commented on #6424
Here you go https://seld.be/notes/php-versions-stats-2017-1-edition

[2017-05-07 13:35] lcobucci commented on #6427
Can you run `php -i | grep mysql` on your CLI?

You must see things like "MysqlI Support => enabled", "mysqlnd => enabled" or "PDO Driver for MySQL => enabled". If you don't it means that your PHP installation is not correct and you should review it.

[2017-05-07 13:35] lcobucci commented on #6427
Closing the issue as `invalid` since it's related to the environment rather than DBAL/ORM.

[2017-05-07 13:35] #6427 closed

[2017-05-07 18:18] KennedyTedesco commented on #6424
Laravel doesn't follow HHVM since: https://github.com/laravel/framework/pull/14530

[2017-05-07 22:18] guilhermeblanco commented on #6425
Yes, I do. I wouldn't recommend dropping PHP 7.0 support on 2.6. However, I think we're good to go with 2.7 as being PHP 7.1 only.

[2017-05-07 22:40] Majkl578 commented on #6425
As already mentioned, Debian Stretch will default to PHP 7.0 for at least another 2 years... At least it'll be easier to install multiple versions thanks to co-installability, but still, most Linux admins will just refuse to install anything that is not in stable repository.
Btw. 7.0 was never backported to Jessie, it still has only 5.6.

On the other hand, upgrade to 7.0 and then again to 7.1 sou

[2017-05-07 23:07] Ocramius commented on #6425
I start to think that the problem is not on our side.

[2017-05-07 23:08] Ocramius commented on #6425
@guilhermeblanco

There won't be a 2.7 - 2.6 is the last 2.x

[2017-05-07 23:10] lcobucci commented on #6425
@Ocramius I suggested to have a 2.7.

[2017-05-08 07:40] licarigianluca opened #6428 "date interval"
When I run this command
php bin/console doctrine:schema:validate

 the system print this message

Unknown database type interval day(3) to second(6) requested, Doctrine\DBAL
  \Platforms\OraclePlatform may not support it.

I have an Oracle database schema that i cannot change. I need to import some tables into entities but the command fails and print the message above. There is a way to ignore tha

[2017-05-08 09:10] Ocramius commented on #6428
You can map the type as a DBAL type manually. See http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/cookbook/custom-mapping-types.html

You want to do `$platform->registerDoctrineTypeMapping(...)`

[2017-05-08 09:10] #6428 closed

[2017-05-08 09:31] Ocramius commented on #6425
@lcobucci don't see value in it then - let's release 2.6, then 2.7 with deprecation notices only (simply mitigates migration to 3.x), and we close shop until 3.0 is out.

[2017-05-08 10:37] Seldaek opened #6429 "GeneratedValue strategy AUTO should use IDENTITY on PostgreSQL"
As per http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/basic-mapping.html#identifier-generation-strategies - AUTO uses SEQUENCE by default on PostgreSQL. This seems sub-optimal as it forces INSERT queries to provide the id explicitly using `nextval('sequence_name')` which is not easy to do in ORM queries, and requires that you know the sequence name. On the other hand if

[2017-05-08 10:46] mvrhov commented on #6425
There is [dotdeb](https://www.dotdeb.org/) for Debian, for Ubuntu there is a [PPA ](https://launchpad.net/~ondrej/+archive/ubuntu/php/+packages?field.name_filter=&field.status_filter=published&field.series_filter=xenial) from official maintainer.

[2017-05-08 12:10] mikaelit opened #6430 "Doctrine can't read annotation"
I described my issue hear: http://stackoverflow.com/questions/43794498/symfony-how-to-solve-the-doctrine-issue-of-the-missing-annotations/43825184#43825184
I think it's locale problem, but I can't find solution.

[2017-05-08 12:11] Ocramius commented on #6184
@tobias-trozowski writing a test first - see https://github.com/doctrine/doctrine2/tree/7bb02d0dbdc337f98fa94078985baa713c24bb65/tests/Doctrine/Tests/ORM/Functional/Ticket for examples.

[2017-05-08 12:21] Ocramius commented on #6430
Closing: this is not a doctrine issue, but rather a configuration issue in a complex symfony setup. It needs to be isolated before we can look at it, sorry.

[2017-05-08 12:21] #6430 closed

[2017-05-08 12:29] Ocramius commented on #6423
The wording needs to be changed, yes. Do you have any suggestions for which phrase to use for each of [these flags](https://github.com/doctrine/common/blob/319c2bc0992bc6bf25bcbda4cd70695353996627/lib/Doctrine/Common/Proxy/AbstractProxyFactory.php#L35-L70)?

[2017-05-08 12:57] Ocramius commented on #6419
I don't understand this issue: what do you mean by "overriding entity classes"?

[2017-05-08 13:45] lcobucci commented on #6425
So we're finishing the L2C stuff for this version or are we holding 2.6 release till we have it?

[2017-05-08 14:20] lxg commented on #6419
Consider a Symfony project where a bundle ships a set of entity interfaces. The implementations (i.e. the actual entity classes) are shipped by the bundle, too. The interfaces are mapped to the implementations through ResolveTargetEntityListener. So far, so good.

Those entities are usable on their own – they should not be MappedSuperclasses. But it should also be possible to create a derived enti

[2017-05-08 14:27] Ocramius commented on #6419
This is extremely specific, and it should be handled either by:

 * overriding mappings completely (write your own definition for the shipped entity)
 * copying the entity into your domain (actually the safest solution)
 * creating event listeners that change the metadata on load, and do the very incredibly specific thing you want doctrine to be doing

Replacing entire entities has more side-effec

[2017-05-08 14:39] Ocramius commented on #6425
We hold it until it's done. I won't be able to sit down and do releases
until July anyway.

On 8 May 2017 3:45 p.m., "Luís Cobucci" <notifications@github.com> wrote:

@lcobucci <https://github.com/lcobucci> don't see value in it then - let's
release 2.6, then 2.7 with deprecation notices only (simply mitigates
migration to 3.x), and we close shop until 3.0 is out.

So we're finishing the L2C stuff

[2017-05-08 14:46] lcobucci commented on #6425
@Ocramius got it... so we'll require 7.1 on `develop` which means that @guilhermeblanco can go crazy and add `void` and `nullable` everywhere 😂

[2017-05-08 15:00] Ocramius commented on #6425
From my PoV, Doctrine is "good enough" in `2.5` for all users complaining about lack of oldstable support, while we will catch gazillions of errors by just adding `void`, `?` and `iterable` and so on to our type hints.

[2017-05-08 18:10] alcaeus commented on #6419
I agree with @Ocramius here. To offer an example of how it can be done, look at [Sylius](https://github.com/sylius/sylius).

They provide default implementations of entities which can be overridden if you need to make changes. To aid with this, their default entities are all mapped as `MappedSuperclass`. Then, there's an event subscriber that converts the default entities from mapped superclasses

[2017-05-08 18:42] Evertt commented on #4568
@BenMorel did you by any chance work on a PR for this? I'd really hope to have this "bug" resolved, but I don't understand doctrine well enough to be able to write a pretty PR for this issue.

[2017-05-08 21:45] BenMorel commented on #4568
@Evertt Not yet, and I won't until I get the green light from lead developers. I've invested a lot of time in other pull requests, that have been open for years and are still not merged. I can't waste any more time on this project I'm afraid!

[2017-05-08 21:47] Evertt commented on #4568
@BenMorel that's too bad and I totally understand! It's sad that huge projects like these at some point seem to slow down to a point that it just seems frozen.

[2017-05-08 21:59] BenMorel commented on #4568
That's the dark side of open source: projects rely solely on the free time developers can invest in them, and at some point they're just too busy on other businesses and/or family life to carry on with developments.

I, too, feel like Doctrine is slowing down; it's just unfortunate that there aren't enough (available) lead developers to keep up the pace with pull requests: many developers are ther

[2017-05-08 23:07] theofidry commented on #4568
@BenMorel the pace did slow down a bit last year, but the last months have been quite active :)

[2017-05-09 08:40] lxg commented on #6419
@Ocramius although I don’t think that you really understood the use case, I agree that this may be too specific and to error-prone to be implement in Doctrine itself. I’m closing this issue.

@alcaeus Thanks for the pointer to Sylius, their approach looks promising.

[2017-05-09 08:40] #6419 closed

[2017-05-09 08:42] lxg commented on #6419
@Ocramius Thanks for your explainations. Although I don’t think that you really understood the use case, I agree that this may be too specific and to error-prone to be implement in Doctrine itself. I’m closing this issue.

@alcaeus Thanks for the pointer to Sylius, their approach looks promising.

[2017-05-09 08:47] poolerMF opened #6431 "oneToMany orphanRemoval without cascade remove"
ClassMetadataInfo.php -> function _validateAndCompleteOneToManyMapping

if I set orphanRemoval= true and remove is not in cascade, then doctrine will automatically set remove into cascade

I think those are two different functions (orphanRemoval and cascade delete) and they should not be affected together ... what do you think ? or am I wrong ?

[2017-05-09 09:14] lcobucci commented on #6425
@Ocramius I'm confused now... does it mean that you want to bump the requirement on `2.6`?

[2017-05-09 09:39] Michal-sk opened #6432 "Coalesce in JoinColumn"
Do we at this moment have a way to use coalesce in the join column for relations?

For example a car has many parts. A car can have a relation to itself. I want to make demo cars, which refer to another car (the original car). But i do not want to copy all the parts of the car. So i would like to join using Coalesce. `join part.car_id = coalesce(car.car_id, car.id)` So we would use the coalesce to

[2017-05-09 09:42] szepczynski commented on #4568
doctrine 2.x is frozen because doctrine 3 is actively developing (I read somewhere post by @Ocramius )

[2017-05-09 10:04] Michal-sk commented on #6432
Maybe have DemoCar, and use the Overwrite annotation to overwrite the join column? Guess that would be the best way to do this.

[2017-05-09 10:52] Ocramius commented on #6425
@lcobucci yes - no changes in 2.7 besides `@trigger_error()` additions (or whatever the equivalent is)

[2017-05-09 10:57] Evertt commented on #4568
@szepczynski except that there's no ETA for doctrine 3 so that could take years for all we know. If it really takes that long it would be nice for improvements to still be added to doctrine 2.

[2017-05-09 11:01] Ocramius commented on #4568
It would make it a mess to migrate these additions to something completely redesigned. From what I can see in the last dozen releases, doctrine functionality already abundantly covers the 90% of use-case scenarios, so we could even call it "feature complete", if it wasn't for some rough edges that you encounter when you explore more shady features.

[2017-05-09 11:43] Evertt commented on #4568
@Ocramius I wouldn't call this issue right here a "shady feature". I think this is a very essential part of the embeddables system.

[2017-05-09 11:58] Ocramius commented on #4568
Right, and embeddables have barely been added in `2.5`, and are already removed in `develop` (`3.x`), as their fundamental internal working mechanisms need to be rewritten

[2017-05-09 12:14] lcobucci commented on #6425
@Ocramius @guilhermeblanco alright, will send a PR to bump the requirement on `master` this week and I'm closing this issue.

Thanks 😉

[2017-05-09 12:14] #6425 closed

[2017-05-09 12:31] BenMorel commented on #4568
@Ocramius Sorry to pollute this thread, but would the [transaction object](https://github.com/doctrine/dbal/pull/634) and [default lock mode](https://github.com/doctrine/doctrine2/pull/949) fit in 3.0?

[2017-05-09 12:32] Ocramius commented on #4568
@BenMorel most likely, yes

[2017-05-09 12:56] guilhermeblanco commented on #6425
@Ocramius I don't see bumping to 7.1 as a good option if it does work for 7.0 and we're almost ready to release. We could stick with 7.0 since it's the last minor on 2.x without any problems.

On 3.x it's already 7.1... =)

[2017-05-09 12:59] lcobucci commented on #6425
@guilhermeblanco the thing is that we're not "almost ready to release" there are [still things to be created](https://github.com/doctrine/doctrine2/projects/2) (and some are not small nor trivial)

[2017-05-09 13:56] Evertt commented on #4568
@Ocramius I'm not sure I understand you right. Do you mean they will come back in 3.x after their internal working mechanisms have been rewritten?

[2017-05-09 14:03] Ocramius commented on #4568
@Evertt yes, but likely as completely rewritten/redesigned.

[2017-05-09 14:14] Ocramius commented on #6432
@Michal-sk I don't understand the scenario: what would this look like, in entities?
Also, maybe I'm naive, but I've never seen a coalesce join. The ORM always builds associations towards identifiers only, so `car_id`, being a foreign key, and not an identifier, is an invalid referenced column.

[2017-05-10 06:11] Michal-sk commented on #6432
Got it.

[2017-05-10 06:11] #6432 closed

[2017-05-10 09:54] mpdude opened #6434 "Schema Tool: Ignore some database fields"
When working with legacy databases, I often have some columns in the database that have no corresponding field in the entity class (for various reasons probably not relevant here).

This makes the schema tool almost useless as it always tries to drop or otherwise change these columns. You'll always have to carefully cherry-pick the "real" changes.

I know that the schema tool can be configured to

[2017-05-10 11:11] Ocramius commented on #6434
@mpdude I had this scenario multiple times, but this drags in an additional family of problems, as this would then leak also to FKs, constraints, indexes, sequences.

Not sure we want to dig into this rabbit hole, but you can try. What would you imagine the filters to look like?

[2017-05-10 11:44] mpdude commented on #6434
Oh, good point!

If it were a config setting in the DBAL layer, simply pretending that the fields would not be there – are FKs, indexes etc. an issue at all?

Sure, if you get this config wrong by hiding a field that is actually needed, you might be surprised why the schema tool tries to add it. But, either way, chances are somebody gets hurt.

As to how filters could look like, I probably don't g

[2017-05-10 12:12] Ocramius commented on #6434
Callback?

[2017-05-10 15:13] soyuka opened #6435 "Why is sql conversion not allowed for identifiers?"
Hi,

This might be an edge case, though I'd like to ask why is sql conversion not allowed for identifiers?

I understand that it's not possible for generated identifiers to be altered (makes no sense) but if the identifier is not auto generated is there a reason to deny sql conversion?

Would a patch be accepted were we add a check on `usesIdGenerator`? Therefore, we could allow the sql conversion

[2017-05-10 15:22] Ocramius commented on #6435
It is? Can you make an example?

[2017-05-10 15:31] soyuka commented on #6435
Yes of course.

Say that you want your entity to have a `DateTime` as identifier. In this case, because doctrine types need the `__toString()` method you have something like this:

[code]

Then, because of **insert reason there** you want to alter this identifier with SQL, the custom Type will look like this:

[code]

Now, just try to persist an entity that looks like this:
[code]

And you'll get:

[2017-05-10 15:35] Ocramius commented on #6435
Ah, I see the problem. This is because SQL generated by the ORM will just generate a placeholder for identifiers (usually `?`) to bind parameters to it, but it won't concatenate the identifier into the query string.[

[2017-05-10 15:37] soyuka commented on #6435
Not sure to follow you on this, the following query will work fine:

[code]

Maybe I'm missing something.

[2017-05-10 15:47] Ocramius commented on #6435
Yes, but doctrine will not do it for simple fetches:

[code]

That `?` is hardcoded somewhere, I suppose, and not just in a single ORM component.

[2017-05-10 15:49] soyuka commented on #6435
According to https://github.com/doctrine/doctrine2/pull/198 there is no conversion on where clauses.

[2017-05-10 16:38] smilesrg opened #6437 "Doctrine referenced objects inserting null instead of value"
Here is a complex case. I have an RabbitMQ consumer, which processes messages using Doctrine2. Here is the steps:

1. Consumer processes messages and saving to database. It saves several entities, using EntityManager:getReference() to set up referenced ids and not to execute redundant queries. For example, set user_id but not to execute "SELECT..." to get User entity from database. EntityManager::

[2017-05-10 17:30] Ocramius commented on #6437
Can you check whether those values are also not `null` when reading via
reflection?

On 10 May 2017 6:38 p.m., "Sergii Smirnov" <notifications@github.com> wrote:

[2017-05-10 20:26] Harrisonbro commented on #4568
@Ocramius Are there ways we can help the development of Doctrine, either v2 or v3? It's a tool we all use so would love to,support development if a can.

_(Sorry to pollute this thread but not sure where else to write.)_

[2017-05-10 20:29] Ocramius commented on #4568
@Harrisonbro https://github.com/doctrine/doctrine2/milestones/3.0

Let's please stop going further OT. If you have a question, make a new issue.

[2017-05-10 20:46] eerison opened #6438 "Support firebird"
Hello, could anyone help me to implement firebird drive?

[2017-05-11 01:37] BrandonDusseau commented on #6423
Some simple suggestions:
`AUTOGENERATE_NEVER`: No message, this is okay.
`AUTOGENERATE_ALWAYS`: "Proxy classes are always regenerating and will cause performance degradation."
`AUTOGENERATE_FILE_NOT_EXISTS`: "Proxy classes auto-generate if not already existing, which may lead to performance degradation or failure under load."
`AUTOGENERATE_EVAL`: I'm not really sure how this one works. Given the c

[2017-05-11 06:01] alcaeus commented on #6423
IIRC, `AUTOGENERATE_EVAL` behaves like `AUTOGENERATE_ALWAYS`, except that the generated code is not written to the file system. I'd give it a similar message as `AUTOGENERATE_ALWAYS`.

[2017-05-11 08:32] soyuka commented on #6435
So, I've resolved myself not to do such thing. Indeed, it's bad for performances, even if you can index your identifier column with index functions you should avoid the above :).

I think that if you need to alter the identifier with some SQL, that using an alternative solution is better. For example, use something else as index and put the Type that needs alteration in another field.

Thanks @Ocr

[2017-05-11 08:32] #6435 closed

[2017-05-11 08:53] kimhemsoe commented on #6438
Hi, someone have done some of the work already. You can try to take a look at that and see what is missing
https://github.com/doctrine/dbal/pull/838
https://github.com/doctrine/dbal/issues/2194

[2017-05-11 08:53] #6438 closed

[2017-05-11 10:48] dontub commented on #5605
I think this might happen when `flush()` is called a second time during a running flush. The `foreach` in `executeUpdates()` iterates over `entityUpdates` in the state when the loop was started so the current `entityUpdates` and `entityChangeSets` might not contain the entity, anymore. In that case the following code at the beginning of the loop would be a possible solution:
[code]
As commented in

[2017-05-11 22:22] szymach commented on #6431
This makes sense, since if you remove a parent, all children become orphans by default and should be removed with `orphanRemoval: true`. I would say there is an overlap with these two options, but certainly it works as it is suppose to.

[2017-05-12 18:59] szymach commented on #6424
It could be dropped for version 3 and reintroduced if there really will be a demand. Something I highly doubt, of course.

I believe this project does not need things dragging it down and that what HHVM support currently is - a minor feature requiring a lot of work, postponing important features.

[2017-05-12 19:05] szymach commented on #6342
Entity generator is being removed (check an issue I [submitted](https://github.com/doctrine/doctrine2/issues/6418)), so I doubt this will be resolved.

[2017-05-12 20:51] Majkl578 commented on #6424
I actually don't think this would have to wait for next major. Similarly to the PHP versions which are dropped/bumped in minor versions too...

[2017-05-14 16:37] ostrolucky commented on #3591
I tried this and it seems to be no longer reproducible with provided demo repository. @ptlis can you confirm?

[2017-05-15 14:25] szymach opened #6444 "Weird XML associations error"
I have an XML file as follows:

[code]

which works fine, but when I switch the order of `one-to-many` and `many-to-one` relations in the file, I get an error:

[code]

Here are my Doctrine-related packages:

[code]

Funny thing is, I have a file:

[code]

and it works perfectly fine.

[2017-05-15 19:14] benito103e opened #6445 "[Bug] SchemaValidator - Sqlite"
Hello,

When using pdo_sqlite driver, if the schema contains Foreign keys (ManyToOne join columns on my case) the schema validator fails :

[2017-05-16 10:54] Seb33300 opened #6447 "Multiple DiscriminatorColumn with SINGLE_TABLE"
I would like to use a discriminator map on multiple fields of my entity but it seems to not be possible.

So I tried to make a discriminator map on multiple levels with Entity inheritance:

[code]

When creating a query to get `TaskType1Subtype1` entities, this will result in:
[code]
instead of
[code]

[2017-05-16 10:59] Ocramius commented on #6447
Mixed inheritance is not supported, and only one discriminator column will ever be considered with the current codebase (that's hardcoded).

What is the use-case?

[2017-05-16 11:58] Seb33300 commented on #6447
I have a task table with `type` and `subtype` columns.
Depending on their 2 columns, I need to load a different entity.

Depending on his type and subtype, the task will have different columns (stored in a json column).
I have made something custom to automatically map the data from the json column to the entity properties.

[2017-05-16 12:31] Ocramius commented on #6447
Yeah, that will not work. What you can do (depending on how advanced your RDBMS is) is creating a read-write view with the discriminator column being a concatenation of the discriminators.

[2017-05-16 12:40] Seb33300 commented on #6447
But doctrine will try to INSERT in the concatenation column which will result in an error.

[2017-05-16 12:41] Ocramius commented on #6447
That's typically hijacked with rw views by replacing the insert value and splitting it over two columns, much like with table partitioning strategies.

[2017-05-16 13:17] Ocramius commented on #6423
`AUTOGENERATE_EVAL` should indeed not be run in production, but at least it won't fry your drives :-)

[2017-05-16 18:50] plimpton commented on #6271
Just came across this as well, postgresql trying to remove a composite key and replace it with a single id column because i needed to add a WHERE conditional to the composite key

[2017-05-17 02:45] bitwombat commented on #6083
I'm re-reading this, hoping to do a PR to possibly clarify the docs, and I'm just not getting it still.

If I think of the unidirectional ManyToOne scenario, my "Many" entity has a scalar property pointing to the FK of the "One" entity.  Done.

With the unidirectional OneToMany scenario, my "One" entity has an array filled with FKs pointing to the "Many" entities.  But in a relational database, we

[2017-05-17 04:53] larrydalaw opened #6448 "doctrine CLI doesnt response anything , when it was with option"
Hello dudes,

thanks in advanced...

if i typed,  at vendor/bin,  ./doctrine or php doctrine , it shows something about complaining i did not have the config file at the folder.

but if i typed, `php vendor/bin/doctrine orm:convert-mapping xml entities  --from-database --force`
and
`php vendor/bin/doctrine orm:generate-entities entities`

it shows nothing ...

i was actually following this guide t

[2017-05-17 08:53] Seb33300 commented on #6447
I am not sure to be able to do that on the database side.

Any chance to do that by adding a listener on the doctrine INSERT to manually split the discriminator field and remove it from the query?

(I am using doctrine with Symfony)

[2017-05-17 08:56] Ocramius commented on #6447
No, that's not going to be possible

[2017-05-17 18:50] ifif14 opened #6449 "[Bug] Reference to an entity is lost after selecting a referenced entity separately"
Hello,

I've discovered a following bug today.

I select an entity like so, which has manyToOne relationship to the next entity.

[code]

When I echo#1 and cause the referenced object to hydrate, everything is okay.
If I skip the echo#1, then the echo#2 will deliver null.

suggest_item has following relation to account
[code]
Key of accountnumber looks like follows
[code]

[2017-05-17 21:36] Ocramius commented on #6448
The file name should be `cli-config.php` and should be in your CWD (current working directory)

[2017-05-18 05:50] sensorario commented on #6448
Is this line correct?

        'db' => new \Doctrine\DBAL\Tools\Console\Helper\ConnectionHelper($em->getCo$

I mean, ... The "$" is a typo here or a typo also in your `cli-config.php` file?

    ($em->getCo$

maybe you have also some trouble in php error handling and the typo is not displayed in your cli.

[2017-05-18 08:06] lcobucci commented on #6449
@ifif14 could you please try to reproduce that on a test case and send us a PR? You can use the files in  https://github.com/doctrine/doctrine2/tree/334b7e68a7d14443962eff5452f1c7dfe92eff17/tests/Doctrine/Tests/ORM/Functional/Ticket as example.

[2017-05-18 09:04] holtkamp opened #6450 "ExpressionBuilder::between() returns string instead of Expression/Function"
The [PHPDoc](https://github.com/doctrine/doctrine2/blob/334b7e68a7d14443962eff5452f1c7dfe92eff17/lib/Doctrine/ORM/Query/Expr.php#L632-L637) suggests that a `BETWEEN` Expression is returned of type `Expr\Func`, while it is a plain string. Is this intended behaviour?

It seems this results in problems when using it in other Expressions like `andX` and `orX`. Will try to come up with a test case.

[2017-05-18 09:42] apoorva-shah commented on #5605
I still got this error

Argument 3 passed to Doctrine\ORM\Event\PreUpdateEventArgs::__construct() must be of the type array, null given, called in UnitOfWork.php on line 1060

In controller
[code]
Inside my service:
[code]

Please suggest.

[2017-05-18 09:45] Ocramius commented on #5605
Flushing inside a flush operation is not supported, so that scenario is pretty much invalid.

[2017-05-18 09:49] apoorva-shah commented on #5605
Hello @Ocramius thanks, but i did not understand
Flushing inside a flush operation is not supported, so that scenario is pretty much invalid.
Can you explain more? how to avoid this error?

[2017-05-18 10:36] lcobucci commented on #5605
@apoorva-shah `EntityManager#flush()` will commit the [Unit of Work](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/architecture.html#the-unit-of-work) (UoW) which will then compute the changeset that needs to be applied to the persistence layer. Committing UoW changes in the middle of a commit causes inconsistencies and therefore is invalid.

You can read http://docs.d

[2017-05-18 12:02] lcobucci commented on #6450
@holtkamp thanks.

It seems to be a docblock error since we have strings for `isNull()` and `isNotNull()`. Also we won't have any issue if the expression is a string: https://github.com/doctrine/doctrine2/blob/334b7e68a7d14443962eff5452f1c7dfe92eff17/lib/Doctrine/ORM/Query/Expr/Base.php#L91

[2017-05-18 12:21] holtkamp commented on #6450
@lcobucci thanks for the swift response.

For me it results in an error when using something like:

[code]
Exception:

[code]

[2017-05-19 11:14] yasminalzokari opened #6452 "Querying large number of entities via primary key criteria"
We have a problem querying a large number (i.e. more than 1000) of entities via criteria on their primary key which fields due to expanding list parameters with more than 1000 expressions, i.e. it yields the Oracle error
[code]

We would have expected that DBAL takes care of this, but it looks like this is [considered to much of a corner case](https://github.com/doctrine/dbal/pull/2699#issuecommen

[2017-05-19 11:45] lcobucci commented on #6450
@holtkamp I've just tried to reproduce that on a test case (on `master`) and that doesn't happen...

Mapping:

[code]

Test:

[code]

Am I doing something different than you?

[2017-05-19 21:36] szymach commented on #6444
Some of you more keenly eyed may have noticed the different `xsi:schemaLocation` values, but that is only due to my fiddling and trying to figure out what was wrong.

Basically what happened is that I have basically copied `FSi\Bundle\ContentBlockBundle\Entity\TranslatableBlock\TranslatableFilesBlockTranslation` mapping to `FSi\Bundle\ContentBlockBundle\Entity\TranslatableBlock\TranslatableAccordi

[2017-05-20 10:49] Ocramius commented on #6452
Closing as duplicate of https://github.com/doctrine/dbal/pull/2699

[2017-05-20 10:49] #6452 closed

[2017-05-20 12:52] Ocramius commented on #6444
@szymach XSD validation is not enabled at all times: a full trace should show where the failure is happening, but the XML driver doesn't do validation on its own, if I recall correctly (it should, though)

[2017-05-20 13:28] Ocramius commented on #6271
@plimpton try making a test case and a new PR with just the failing scenario, if you can

[2017-05-20 13:37] Ocramius commented on #6206
Handled in doctrine/dbal#2686

[2017-05-20 13:37] #6206 closed

[2017-05-20 14:39] Ocramius commented on #6342
There will always be impedance between what DBs support in identifier names, and what the ORM can pick for names.

This is one of those scenarios where you will simply need to manually define an entity, as any decision taken by the ORM may just lead to field naming collisions (replacing spaces with `_`, prefixing columns starting with invalid names, etc).

Closing as `won't fix`. Thanks @szymach f

[2017-05-20 14:39] #6342 closed

[2017-05-20 14:40] Ocramius commented on #6158
Closing this as not reproducible

[2017-05-20 14:40] #6158 closed

[2017-05-20 19:54] msypes opened #6454 "Can't Export/Dump Base Data of Single-Table Inheritance Entity"
I think this is a bug, but it could be I don't know what I'm doing:
I have a single-table inheritance table specifying a pair of related entities. There's an abstract class for the base of shared data, discriminator column, and concrete entities extending the base with their unique properties - No problem.
I tried getting an output display of an entity and found that with either `\Doctrine\Common\

[2017-05-21 07:06] bitwombat opened #6457 "Section of the Association Mapping document might be wrong"
The section of the docs [that talks about the decision](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/association-mapping.html#owning-and-inverse-side-on-a-manytomany-association) of picking an owning side of a ManyToMany relationship might be misleading (or wrong?).

The code included is the synchronization code that a bidirectional association might require.  My unde

[2017-05-21 13:39] Ocramius commented on #6457
Ah yes, the setters should handle both sides. I wrote [this gist](https://gist.github.com/Ocramius/3121916) ages ago because of this.

[2017-05-21 13:42] Ocramius commented on #6454
This should be reported on doctrine/common, as that's where the issue is: https://github.com/doctrine/common/blob/6ecbf690141c581be33415d1c4f08f75c7eed3e0/lib/Doctrine/Common/Util/Debug.php#L94

Also, a test case is needed.

[2017-05-21 15:08] Stone-Ynn opened #6458 "connect mysql db with master-slave"
The flowing is my config, i want to use master-slave in doctrine2, but it don't work!

[code]

what should  i do?

[2017-05-21 15:14] AlessandroMinoccheri commented on #6458
Can you please try to add parameter driver to your master and slave params?

[2017-05-21 15:25] Stone-Ynn commented on #6458
@AlessandroMinoccheri OK, it works.

[2017-05-21 15:42] AlessandroMinoccheri commented on #6458
Perfect! This issue can be closed

[2017-05-21 18:51] #6458 closed

[2017-05-21 21:43] bitwombat commented on #6457
I don't think that's what this is about.  The documentation covers this elsewhere... your gist I think is the same idea as what's in the docs.

I'm asserting that sync functions are independent of which side is the owning side... if that's technically true, then I think the referred section of the docs is wrong/misleading.

[2017-05-21 22:17] davidbarratt opened #6459 "Refresh Detached"
It would be really helpful if there was a way to refresh detached entities. This would essentially be the opposite of a merge.

Let's pretend you have a REST API that allows users to create Posts.

You might have a User entity and a Post entity and a relationship between the two. When a user submits a new Post, they should not have to also include all of the details of their user, they should only

[2017-05-21 22:59] msypes commented on #6454
Thanks. Will do.

[2017-05-21 22:59] #6454 closed

[2017-05-22 01:44] Ocramius commented on #6459
This can't be implemented, as it modifies an object graph that isn't under doctrine's control.

Doing so may lead to an EM modifying the state of an object under the control of another EM.

[2017-05-22 01:59] Ocramius commented on #6454
Linking https://github.com/doctrine/common/issues/795

[2017-05-22 07:36] igaponov commented on #4584
I have the same issue
@lcobucci Your test is wrong, I've checked it on the last version and UserProfile is not actually saved after flush, it's not passed to `UOW::scheduleForInsert()` as well as to `UOW::addToIdentityMap()`, that's why there is no exception. But if you manually persist profile before flush you'll get this:

[code]
[code]

[2017-05-22 09:13] mkosiedowski opened #6460 "Getting embeddable should trigger entity initalization"
Getting public embeddables on lazy-loaded entity which is not initialized does not trigger entity initialization.

Common ProxyGenerator in `\Doctrine\Common\Proxy\ProxyGenerator::getLazyLoadedPublicProperties` uses code:
[code]
The interface `\Doctrine\Common\Persistence\Mapping\ClassMetadata` cannot be extended without breaking backward compatibility so ORM has to return `true` for embeddables e

[2017-05-22 09:55] digilist opened #6461 "Updating entity with combined relation identifier fails"
Consider the following schema:

- Entity `Owner` which has items
- Entity `Field`
- Entity `Item` which belong to an owner and a field

I am creating a new owner with a new item (that belongs to an existing field) which is persisted and flushed into the database. When I now want to change a field on `Item` and flush again, that change is not saved correctly, because of the combined identifier. The

[2017-05-22 09:56] digilist commented on #6461
[code]

[2017-05-22 12:42] Majkl578 commented on #6459
I think this makes sense. Current merge behavior breaks object identity and makes it harder to work with. It'd be cool to have i.e. `attach($object)`.
Ultimately it should be user's responsibility to not pass an object managed by another EM. EM itself shouldn't make such assumptions as it's not capable to do so (it doesn't know other EMs, or if they even exist).

[2017-05-22 13:33] Ocramius commented on #6459
`attach($e)` cannot exist because the scope of the current entity manager may already be referencing an entity with the same identifier: that scope is not just​the EM, but all services that had contact with it.

[2017-05-22 13:54] davidbarratt commented on #6459
doesn't that problem exist with the existing `merge()` method?

[2017-05-22 14:17] nicolas-cajelli opened #6463 "Using cache with HYDRATE_ARRAY"
Hi,

I'm improve the response times of my application by applying best practices of doctrine. I was playing around with second level cache, but i noticed that when i try to use HYDRATE_ARRAY on result set, i get this error:
[code]

Looking at defaultquerycache, it always asumes that it's gonna try to cache an object, so that's why it fails.

I'm doing something wrong or is it a known bug?

Here's

[2017-05-22 16:20] lcobucci commented on #4584
@igaponov you're right about the docblock, now my test fails as well... and it actually fails on `persist()` and not `flush()`.

IMO this is an edge-case since it only happens if `xxxxUser#id` is a post insert generated id (auto increment or sequences). If strategy is `NONE` or `UUID` it works just fine.

@guilhermeblanco @Ocramius I'd say this is a `won't fix` and we should actually document this

[2017-05-22 21:20] stesie opened #6464 "Query builder yields invalid SQL with JOINED inheritance type on PostgreSQL"
Given a simple set of entities (adapted to a simpler domain here):

* a `Post` belongs to an `Author` which derives from `User`
* the inheritance is mapped by JOINED type
* yet the relation between `Post` and `Author` is not mapped (for reasons, as the real case is less simple)

[code]

[code]

[code]

If I then instanciate and use a QueryBuilder like this:

[code]

it generates the following SQL

[2017-05-22 22:11] lcobucci commented on #6463
@nicolas-cajelli the second level cache (L2C) works with entities, so there's no reason so use it together with the `HIDRATE_ARRAY` (however we might prevent this usage even before of hitting the DB).

You should actually use either result set cache or the L2C for queries (I'd rather recommend L2C since the cache would be [automatically evicted when things changes](http://docs.doctrine-project.org

[2017-05-22 22:21] lcobucci commented on #6461
@digilist this is the exact same case of #4584. What happens is that while persisting the identifier is inexistent, since it's generated AFTER the insert.

As explained on the [last comment of that issue](https://github.com/doctrine/doctrine2/issues/4584#issuecomment-303148961), I think that it's a limitation and if users want to use entities as identifier they should make sure that the ID is gene

[2017-05-22 22:48] holtkamp commented on #6450
@lcobucci you are right, with such an isolated case the problem does not occur, I tried to pinpoint the problem and it seems that something like this fails on `2.5.6`:

[code]

The query I am building checks whether a provided weekday is within a range, so:

[code]

Where `$weekday` is a string and either:

- `WeekDay(CURRENT_TIMESTAMP()) + 1` => default: the current weekday
- `WeekDay(:weekdayPar

[2017-05-22 22:55] ostrolucky commented on #3591
This has been fixed via https://github.com/doctrine/collections/pull/57/commits/32d524547eb452718f85aa76b5cee4f7460c8fd0 you can close this guys @Ocramius

[2017-05-23 05:36] alcaeus commented on #3591
Thanks @ostrolucky!

[2017-05-23 05:36] #3591 closed

[2017-05-23 07:41] SirWaddles opened #6465 "ObjectHydrator ignores joined scalar values"
I'm trying to fetch a subset of data in some collections, and I'm not really sure how to go about it. The way I had planned was to use an aliased value containing the data I wanted to fetch, so that there was no confusion regarding the collection hydration later on (if you fetch the entity, then the joined entity, then it's collection contents, you probably want the whole collection, not a weird s

[2017-05-23 09:38] digilist commented on #6461
Thank you. It looks similar, but not the same. In my case, the insertion into the database works properly, but updating the element later fails.

If this could not be fixed in 2.x anymore, I'd be happy if this can be considered for 3.x.

[2017-05-23 09:59] lcobucci commented on #6461
@digilist well I debugged the test case you provided and it fails while processing the cascade insertion of `DDC6461Owner`, since `DDC6461Item` has it as part of the identifier (and a generated value):

[code]

That's why I said it was the same case 😉

[2017-05-23 10:04] digilist commented on #6461
Interesting, here it worked properly and failed only at the assertion. I tested it with the 2.5 branch, as master is the current 3.0 development, isn't it?

[2017-05-23 10:06] lcobucci commented on #6461
Nope, `develop` is 3.0 and `master` 2.6

On Tue, 23 May 2017, 12:04 Markus Fasselt, <notifications@github.com> wrote:

[2017-05-23 10:23] digilist commented on #6461
Oh, I see. I just tested it again, and it looks like my code is working (until the Item is saved into the database) with 2.5 but not with 2.6 anymore.

Isn't this a BC break then? (But I see the problem here, so I'd understand if this was accepted).

[2017-05-23 12:23] skiff-ff commented on #5908
So sad....

[2017-05-23 12:46] nicolas-cajelli commented on #6463
@lcobucci Thanks, that'w what i thought. I was trying to use it altogether because i'm trying to improve the response times on my application, and i noticed that when using L2C the response times increased, so i was following some suggestions

[2017-05-23 18:47] Ocramius commented on #6461
The code wouldn't work anyway, it's just that you get a better/more meaningful behavior in 2.6 (you see a failure)

[2017-05-23 19:14] stesie commented on #6464
Well, so I had another look at this issue myself, and the SQL that probably should be generated is

[code]

... mind the parentheses around the CTI JOIN. `SqlWalker::walkJoinAssociationDeclaration` already has similar syntax around line 1043:

[code]

If I apply this also to the code path through `walkJoin` and `walkRangeVariableDeclaration` like this:

[code]

... the sql statement from above is

[2017-05-23 19:41] holtkamp commented on #6450
@lcobucci can you push that testcase to master or a branch on your fork so I can fiddle with it as well?

[2017-05-23 20:02] lcobucci commented on #6425
@guilhermeblanco just so you know, on PHPDay 2017 IT @Ocramius decided to do the following:

1. Wrap up all the bugs we have that are easy to be solved and merge them in master only
2. Move the new features we planned for v2.6 to v2.7.x-dev (basically more L2C improvements)
3. Require PHP 7.1 on v2.6.x-dev
4. Release v2.6.0 and stop the active support on v2.5
5. Have v2.8 as the last v2.x version

[2017-05-24 04:18] ed-at-work commented on #5631
I think I may have a test case for this... Not 100% sure it's related, but it might be.

[2017-05-24 05:05] dgafka opened #6467 "Possibility to build query with JSON TABLE"
Hey,
In `oracle database` I can make use of [JSON TABLE](https://docs.oracle.com/database/121/SQLRF/functions092.htm#SQLRF56973).
In my situation I want to create result record for each object in array (inside json).

So when I will have something like this `[{"name":"cleaning"},{"name":"ironing"}]` for entry with id 2, when I will do select, I will get 2 records.

The above is just background for

[2017-05-24 07:09] Ocramius commented on #6467
This is where you'd just write SQL instead of DQL.

The feature is both platform specific and very data-transformation related, rather than entity-related. The ORM works on 1:1 data-structures mapped from objects to DB records, so this OracleDB functionality lies outside the boundaries of where doctrine can help you.

[2017-05-24 07:09] #6467 closed

[2017-05-24 07:27] dgafka commented on #6467
Okey, I understand.

Thanks for the response

[2017-05-24 10:59] 1ed opened #6468 "Cascade persist order"
I have a problem reproduced by this gist:

https://gist.github.com/1ed/2d9d639854e46100e1e33b9f560ca634 (You can run it with https://github.com/sensiolabs/melody if you want)

This version works:

[code]

This does not work:
[code]

[code]

The difference is the usage of cascade persist or manual persist.

It has 2 entities Request and Offer. Request has many Offers and one latest offer, the Offer

[2017-05-24 12:21] lcobucci commented on #6468
@1ed commit calculation order has been changed in `master` to address dependencies in a better way and probably already fixes that, could you check it?

[2017-05-24 12:48] 1ed commented on #6468
Ohh, great it seems it works in master. Will it be in the next 2.5 release or just in 2.6? Could you please give me a link to the PR or commit? Thanks!

[2017-05-24 13:08] lcobucci commented on #6468
@1ed sure, it's #1570 that fixed #707.

[2017-05-24 13:09] lcobucci commented on #6468
Closing as `duplicate`.

[2017-05-24 13:09] #6468 closed

[2017-05-24 15:25] AntonSmatanik opened #6469 "One to Many keep deleting my parent entity even when I'm only editing it"
I have parent and child entity. Whenever I edit data even if I have done no changes parent entity is deleted. That's crazy behavior. Here is my code for parent:

[code]

And here for child:

[code]

I don't know what to do, I have already spend hours on this...

[2017-05-24 16:25] lcobucci commented on #6469
@AntonSmatanik that looks weird but is a bit hard for us to do something with just that info, could you please try to reproduce it using a functional test and sends a PR? You can find examples in https://github.com/doctrine/doctrine2/tree/2a239be45ec4e64c736e4277cde8bff376ef2402/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-05-24 17:44] inceddy commented on #5725
Did you make any progress on this? I stumbled across this while thinking about attaching "Comment" entities to several other entities with "CommentableInterface".

[2017-05-24 21:08] Majkl578 commented on #6425
Damn, with [the object typehint RFC](https://wiki.php.net/rfc/object-typehint) being accepted, I really feel like ORM 3.0 _**needs**_ PHP 7.2... 😕

[2017-05-24 21:37] Ocramius commented on #6425
Agree, but let's wait for it first: it's​a long way ahead and the decision
will still be possible

On 24 May 2017 23:08, "Michael Moravec" <notifications@github.com> wrote:

[2017-05-25 05:23] desmax commented on #5920
same problem, any news?

[2017-05-25 09:20] larrydalaw commented on #6448
ops, that's just a copy and paste error... the content should be
[code]

[2017-05-25 09:21] larrydalaw commented on #6448
cli-config.php is in the same directory of artisan and app etc

[2017-05-25 09:51] larrydalaw commented on #6448
i managed to see the error reporting.

[2017-05-25 18:57] Ocramius commented on #6448
Closing as invalid as per comment above. Your script is crashing before even getting to doctrine stuff at all.

[2017-05-25 18:57] #6448 closed

[2017-05-25 21:47] shustrik opened #6470 "OneToOne second level cache load"
[code]
and

[code]

Manager from merchant is always loaded from database. I guess that the problem is in Doctrine\ORM\Cache\Persister\Entity\AbstractEntityPersister:loadOneToOneEntity:  only persister which gets objects from database is called in this method, but  loading from cache  is missing.

[2017-05-26 08:29] lcobucci commented on #6470
@shustrik can you please reproduce this in a functional test case (based on `master`) and send us a PR with the failing test? You can find examples on https://github.com/doctrine/doctrine2/tree/2a239be45ec4e64c736e4277cde8bff376ef2402/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-05-26 13:52] akomm opened #6474 "Wrong FK value update on orphanRemoval & oneToOne when replacing target"
Having entity A and B and OneToOne association between them:

A mapping
[code]

B mapping:
[code]

1. Transaction/flush
- Create & persist A
- Create & persist B & assign to A

persisted correctly with A.b = B(id:n)
executed queries:
- insert B with id = n
- insert A with A.b = n

2. Transaction/flush
- Create & persist new B
- Assign new B to A and persist A

persisted incorrectly: A.b = null
exe

[2017-05-26 14:00] Ocramius commented on #6474
This needs a test case. As it currently is described, it just looks like
something that worked correctly for ages, yet you found a broken scenario,
and the culprit is unclear.

On 26 May 2017 3:52 p.m., "Andriy Komm" <notifications@github.com> wrote:

[2017-05-28 09:51] Stone-Ynn opened #6477 "how to use redis master-slave config in zf3?"
i used master-slave mysql in zf3 as following：

[code]

i don't know how to used in redis connection.  i viewed the document , but also have no idea.

[2017-05-28 12:08] Ocramius commented on #6477
Closing: this is not an issue related to the ORM.

Also, you don't really use a master/slave redis setup unless you are doing a ridiculous amount of cache operations, for which redis already had appropriate load distribution tools.

[2017-05-28 12:08] #6477 closed

[2017-05-29 09:07] shustrik commented on #6470
@lcobucci test added

[2017-05-29 10:39] seyfer commented on #5644
Just got the same issue.
`Undefined index: relationToSourceKeyColumns`

Relation on inversed side
[code]

And method with issue
[code]

[2017-05-29 14:49] AntonSmatanik commented on #6469
Ok, I think there is a problem in easy admin bundle.

[2017-05-29 14:49] #6469 closed

[2017-05-31 07:15] issei-m opened #6480 "AbstractHydrator#iterate() may not cleanup"
AFAIK, `AbstractHydrator#iterate()` doesn't cleanup anything as long as the iteration doesn't [reach the final row](https://github.com/doctrine/doctrine2/blob/205ee72e3360175f687d01c72024c4854dff8363/lib/Doctrine/ORM/Internal/Hydration/AbstractHydrator.php#L166).
So if I break the loop on the way like following:

[code]

The statement cursor is never be closed anymore, this means on the file-based

[2017-05-31 09:05] Ocramius commented on #6480
That currently is the expected result, as hydration is highly dependent on previous results, sadly :-\

I can't remember if we already did this, but each query gets its own hydrator, which mitigates the problem (garbage collection does), when the iterator is released.

[2017-05-31 11:36] issei-m commented on #6480
@Ocramius Thanks for your quick response!

First of all, I understood that is the expected result.
However, we have/use the Generator nowaday, so relying on whether iterator has reached to the final row doesn't make sense IMHO.
Could we solve it in 2.x? If so I'm willing to work for this.😏😏

[2017-05-31 11:48] Ocramius commented on #6480
No, changing this behavior will most likely cause a BC break here, so I strongly suggest that you try this against `develop` (3.x)

[2017-05-31 13:32] issei-m commented on #6480
I got it. Thanks a lot!

[2017-05-31 18:25] Ocramius commented on #5934
Handled in #5938 :+1:

[2017-05-31 18:25] #5934 closed

[2017-06-01 10:27] JorgeSivil opened #6482 "ResultSetMapping will fail silently and return unexpected result set (all null)"
I spent 2 hours debugging why this was returning me 139 results all null.

It was that a column had one uppercase char in the name and it was different from the value passed to addFieldResult.

This should throw an exception! This is really very hard to debug.

`$rsm->addFieldResult('umpp', 'ID_menu', 'id'); was $rsm->addFieldResult('umpp', 'ID_Menu', 'id');`

And then the unexpected result, which

[2017-06-01 11:19] Ocramius commented on #6482
There is no way for the code to throw an exception here, as the query would have to be executed first, and there's no guarantee about the format of the retrieved data (it's native SQL, remember? Anything can happen here...)

[2017-06-01 12:28] lcobucci commented on #6124
@Ocramius @guilhermeblanco I was thinking about move this to `v3.0` since we're changing a lot of things regarding mapping, do you agree?

[2017-06-01 12:33] Ocramius commented on #6124
Full ack - this can be fixed easily now that we have a stricter metadata API thanks to @guilhermeblanco's efforts.

[2017-06-01 12:40] Ocramius commented on #5920
That's clear now, but it needs a test case.

[2017-06-01 12:52] Ocramius commented on #6465
Doctrine will de-duplicate based on the root of your selection (`base as ent`), so this seems like expected behavior. You seem to want just some scalar values, so I suggest fetching the identifier of the `base` entity, and then you shouldn't have this de-duplication anymore.

[2017-06-01 12:52] #6465 closed

[2017-06-01 13:38] Ocramius commented on #6459
@davidbarratt `merge()` will retrieve a new merged instance, rather than attaching the actual object.

[2017-06-01 13:42] davidbarratt commented on #6459
@Ocramius then I would expect `attach()` to work the same way. :)

[2017-06-01 13:45] Ocramius commented on #6459
FWIW, `merge()` and `detach()` are candidate for removal in `3.x` anyway, soooooooo... ;-)

[2017-06-01 13:50] JorgeSivil commented on #6482
@Ocramius I don't understand, the query is executed first. Then the data is mapped to an object. Then the object is null. Why you can't throw an exception if you notice that you are returning null?

[2017-06-01 13:52] #6460 closed

[2017-06-01 13:52] Ocramius commented on #6460
Handled in #6462

[2017-06-01 13:54] Ocramius commented on #6482
@JorgeSivil there is no guarantee by the underlying layer that a low-level operation always returns the same fields at every iteration.

When dealing with the RSM, you are already playing with fire (that's what the component is for!), so if we add a limitation here, we likely introduce a bug for other consumers that use dynamic SQL.

[2017-06-01 13:58] davidbarratt commented on #6459
I mean if there is no `attach()` method (of some kind) someone would have to go through each associated property and load the entities. I don't mind writing this (since I have to eaither way), but it just seems really boilerplate.

[2017-06-01 13:59] Ocramius commented on #6459
It's what tools like JMSSerializer do, which is why we are dropping this, as the complexity of the operation is extremely high.

You just fetch the root of what you need, then merge it with a serialized graph.

[2017-06-01 14:02] JorgeSivil commented on #6482
@Ocramius can you consider adding a wrapper class/method that throws exceptions for this case? Or a config parameter to set this behaviour?

Thanks for the reply

[2017-06-01 14:05] Ocramius commented on #6482
No, this subsystem is already complex and configurable enough, and as you just experienced at your own expense is a direct demonstration of that.

As much as I also hate having dynamic fields and things that fail when something is missing by accident, this part is fragile by design. It glues together squishy SQL results with stronger-typed PHP objects and scalar fields. Mistakes will happen here,

[2017-06-01 14:05] #6482 closed

[2017-06-01 14:08] davidbarratt commented on #6459
Which is what I do in my application, but that's a lot harder when the root does not exist. :( (hence this issue)

[2017-06-01 15:49] iluuu1994 commented on #6396
@Ocramius @guilhermeblanco Sorry to bother again.

Is the suggestion above appropriate? If it isn't I'll close the issue.

[2017-06-02 02:16] courtney-miles commented on #5908
+1

[2017-06-02 03:28] courtney-miles opened #6483 "DQL using INSTANCE OF with parameters return no results"
If I defined the following DQL and it returns the expected results.

[code]

However, when I supply the instance name as a parameter I get no results.

[code]

What could I be doing wrong? Or how can I can I debug this?  I know to get the query with `$q->getSQL()`, but I can't see how to confirm exactly what value it resolves for use with the parameterised query.

I have also tried using `\MyProj\

[2017-06-02 05:40] Ocramius commented on #6483
Try binding `$em->getClassMetadata(AlphaObject::class);`

On 2 Jun 2017 05:28, "courtney-miles" <notifications@github.com> wrote:

If I defined the following DQL, it returns the expected results.

$dql = <<<DQLSELECT o FROM \MyProj\AbstractMyObject AS o WHERE o
INSTANCE OF \MyProj\AlphaObjectDQL;$q =
$this->getEntityManager()->createQuery($dql);$q->getResult(); // 1 row
returns

However, when I su

[2017-06-02 06:17] courtney-miles commented on #6483
I have given that a go, but it does not appear to have helped.

This is my resulting code.

[code]

In case it matters, this is triggered from within an Entity Repository method.

[2017-06-02 06:53] Ocramius commented on #6483
[code]

[2017-06-02 07:39] ggirodda opened #6484 "Duplicate property id for entries of a inherited table (Doctrine ORM "JOINED" inheritance)"
| Q                | A
| ---------------- | -----
| Symfony version  | 3.2.9
| Doctrine ORM  | 2.5.6

Hi,
I'm using doctrine "joined" table inheritance, using the annotations in this way
[code]
Everything wotks fine when I create the entries, but when I try to get results from database with a simple findAll(), I get a duplicated property id for the entries of the inherited type, in this case "More

[2017-06-02 07:40] Ocramius commented on #6484
This is most likely a problem to be reported in https://github.com/symfony/symfony as a var-dumper component bug.

Duplicate properties do not exist at engine level, so the var-dumper is doing something weird here.

[2017-06-02 07:47] ggirodda commented on #6484
Hi,
Thank you for your answer. I think that is not a var-dumper bug, I put the dumped response just to show the problem. When I try to get the property id I get a message telling me that the id property is null :

The exception in this case is in twig, because I try to access a property id wich is not a number

[2017-06-02 07:52] ggirodda commented on #6484
I posted the issue on symfony bug report too, but they told me that is a doctrine issue.
https://github.com/symfony/symfony/issues/23029

[2017-06-02 08:00] Ocramius commented on #6484
A script to reproduce the issue is needed. Re-opening here until we decide who's "responsible" :-)

[2017-06-02 09:22] akomm commented on #6474
I had some problem reproduce it, when I noticed, that my inversed and mapped side is inversed in the test, which made it pass.

So the problem is, when you have a OneToOne and orphanRemoval=true from the inversed side.
https://github.com/akomm/doctrine2/tree/test-for-%236474

I know about the inversed side sync requirement, but in case of one-to-one, even when the `assignNewProofCopy` checks for a

[2017-06-02 09:30] akomm commented on #6474
*facepalm*

Initially it was not an bi-directional association and so that is the reason I initial had the mapping side on proofCopy. My model required me to make it bi-directional. After changing it I set it to inversed, but I', checking whether I can not just swap it ...

[2017-06-02 09:50] akomm commented on #6474
Works like a charm.

I think the problem in OneToOne is, that one you switch the reference, the persist is not cascaced to the detached entity, so you have to mark it for removal. And even when you set the reference from the owning side to null in that case, still without explicit persist on it, after detaching the reference on the inverse side and persisting it the persist never reaches the detac

[2017-06-02 10:24] theofidry commented on #5908
The interested has been clearly shown already so stop +1 and do a PR if you're interested...

[2017-06-02 10:44] courtney-miles commented on #5908
Apologies -- my +1 was not intended to aggravate anyone.

Some projects embrace +1 as a way to gauge interest in features in the absence of voting.

[2017-06-02 13:24] Imunhatep commented on #5908
@theofidry I made a brief research on this issue. "INSTANCE OF" expression is based on Entity annotations and QueryBuilder, which resolves expressions to DQL. But Criteria expressions resolved to raw SQL. As I understand, Criteria expression resolver (BAsicEntityPersister) should be rewritten to use QueryBuilder. That would be a huge PR and I doubt that it will pass CR by Doctrine team.

[2017-06-02 13:42] theofidry commented on #5908
@Imunhatep thanks for looking into it. I guess then it's up to the core team to determine if this can be done in 3.x in which case it can be added to the 3.0 milestone or if this feature won't be implemented

[2017-06-02 18:20] Imunhatep commented on #5908
I were thinking a little bit on this problem and probably i was wrong. There is no need to rewite Context expression resolver to use QueryBuilder it would be overkill. A simplier approach would be just add similar logic for resolving INSTANCE OF expression from QueryBuilder to Context expression resolver. Or to not duplicate business logic.. Move INSTANCE OF expression resolving logic to a separat

[2017-06-03 01:28] alle commented on #5804
Yes, mate, gg! Why don't you make a PR?

[2017-06-04 02:19] davidbarratt commented on #6459
So I ended up creating a new service to do it:
https://github.com/geosocio/core/blob/develop/src/Utils/EntityAttacher.php
and I also had to create a new annotation because of the whitelist on `cascade`.

Let me know if you're interested in having this in doctrine and where it should go and I can create a PR. If not, feel free to close this issue. :)

[2017-06-04 02:36] Ocramius commented on #6459
That's kinda the point of the discussion above: it shouldn't be in core :-\

[2017-06-05 14:58] ngrevet-lightspeed commented on #5804
Thanks, I'm not well versed in PR on open source projects, I figured someone would probably end up using that work eventually.

[2017-06-06 05:51] imsheng opened #6486 "How do I use insert ignore?"
How do I use insert ignore?

[2017-06-06 05:53] AlessandroMinoccheri commented on #6486
Can you please explain well your problem with a simple example?

[2017-06-06 07:52] imsheng commented on #6486
I want to insert unique data，the solution now is to query first and then insert.
But (insert ignore) can solve my problem.

`                $xxxxx= $this->em->getRepository('AppBundle:xxxxxx')->findOneBy([
                    'xxxx' => $xxxx,
                    'xxxx' => $xxxxx
                ]);
                if ($xxxxx== null) {
                    $xxxxxxx= new xxxxxxx();

[2017-06-06 11:38] Ocramius commented on #6396
@iluuu1994 you did a good analysis of what is missing in the implementation, but I still have no idea what this is for. Consider making a practical example in a test case?

[2017-06-06 12:40] iluuu1994 commented on #6396
@Ocramius Basically, the hydrator needs a way to access the ID of a `ManyToOne` relationship (`parent` in a Gedmo tree). Since most of the time you wouldn't want to map the foreign key directly the hydrator gets the ID from the `parent` proxy object.

Unfortunately, the proxy object is only created if you use the object hydrator or set the `HINT_INCLUDE_META_COLUMNS` hint. But it is not created wh

[2017-06-06 12:59] Ocramius commented on #6396
Specifically this bit:

This is a bit unclear.

I'll have to wait for a test to see what's going on, sorry.

[2017-06-06 14:32] Ocramius commented on #6486
@imsheng that is the correct approach: `INSERT IGNORE` is not supported. What you maybe want is `UPSERT` support, but the DBAL does not yet implement this.

[`INSERT IGNORE` is not a standard modifier](http://hermanradtke.com/2009/03/05/crutching-on-mysqls-insert-ignore.html)

[2017-06-06 14:32] #6486 closed

[2017-06-06 14:42] guilhermeblanco commented on #6396
@iluuu1994 I understand the problem. Your solution is valid (I'd just make the comparison as `===` in the first line).
However, to properly address this issue (and make it future proof), could you try to make a PR and also include a test case supporting this fix?

[2017-06-06 14:46] iluuu1994 commented on #6396
@guilhermeblanco Great! I used the `==` operator to match the [current implementation](https://github.com/doctrine/doctrine2/blob/09cbb9ff48f00003f8708a67d937e6b2d86cdce3/lib/Doctrine/ORM/Query/SqlWalker.php#L709) and thus not change the behaviour. I'll create a patch including a tests.

Thank you @Ocramius and @guilhermeblanco for reviewing!

[2017-06-06 20:47] astepin commented on #3535
This bug can be closed. It is not an issue.

I assume that "c.up" is a reference to another table. To solve this you just have to wrap "c.up" with the IDENTITY() function like this:

[2017-06-06 20:57] tomasfejfar commented on #5622
### Please be aware, that by setting `[mysqld] sql-mode=""` you're disabling safe-mode.

That means you're opening up to multitude of issues. To name a few - invalid dates, zero dates, NULL on division by zero. See the [full list of available SQL modes](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sql-mode-full) for more information.

Ideally [only disable the one offending feature](https

[2017-06-06 21:17] tomasfejfar commented on #5622
@Devolicious could you update your first message with the warning message above or link to it? People seem to be blindly using the workaround without knowing the consequences :/ Not many people will scroll down here :(

[2017-06-07 05:36] jeroenvrooij opened #6488 "Multiple level discriminator mapping does not work in combination with a self-referencing one-to-many relation."
Given the following structure of entities, we are experiencing fatal errors the moment we try to make use of the self-referencing relation.

![diagram-167397485293621894](https://user-images.githubusercontent.com/1611240/26863475-14090754-4b53-11e7-99bd-b9087eb4409e.png)

The multiple level discrimination on itself works fine. We can query for the object directly or get it from a related entity. B

[2017-06-07 14:49] tomasliubinas commented on #6405
In case you were wondering this could be happening due to php mysql driver version incompatibility:
https://bugs.php.net/bug.php?id=74461

[2017-06-07 18:18] Ocramius commented on #6488
What's the code causing that error? Looks like a wrong discriminator value being used? What's the trace for that exception? Can this be reproduced in a test case?

[2017-06-07 21:13] fabionvs opened #6489 "PHP Doctrine with SQL Server Always On"
Hello,
I am developing an application using Symfony 3 (php 7.1) with SQL Server database with AlwaysOn. AlwaysOn is a SQL server support for high-availability and disaster recovery, and Doctrine 2 is not working well with this paradigm.

I've developed a CRUD to test it for the infrastructure section at my job that implemented this database. At the first time, it was working correctly and persisti

[2017-06-07 21:24] Ocramius commented on #6489
@fabionvs any way to reproduce this? What are you passing to the connection?

I can't understand the wording in this bit: can you rephrase it?

[2017-06-07 21:32] fabionvs commented on #6489
Hello @Ocramius, thank you for your help!
The SQL Server database was implemented in a cluster. And, when the main database stops working, or if they change the instance, it goes to another backup instance while using the same connection. And, for testing propourses they changed the instance to see if the application still works, but is not working after they changed the instance.

[2017-06-07 21:51] Ocramius commented on #6489
That's most likely something that needs fixing within `pdo_sqlsrv`, not in doctrine, sorry :-\

Closing as `can't fix` here.

[2017-06-07 21:51] #6489 closed

[2017-06-07 21:52] Ocramius commented on #6489
Note: removed the `Bug` label because this is a `pdo_sqlsrv` issue that isn't a bug in doctrine itself.

[2017-06-07 22:03] Ocramius commented on #6484
As per symfony/symfony#23029, a private `id` property was defined twice in the inheritance tree: this is unsupported, but should have been caught by schema validation. @ggirodda can you please check what the schema validation says about it (the CLI command)?

[2017-06-07 23:39] courtney-miles commented on #6483
Thank you @Ocramius.  This works. Apologies for my lack of understanding on how `getClassMetadata()` is used.

So the last thing I can't figure out it how to get this to work with 2 or more instances.

So this is what I'm trying.

[code]

I was given the impression somewhere supplying an array would work, but can't find where now.

Thanks again for your help so far.

[2017-06-08 02:16] imsheng opened #6490 "(findOneBy) Allowed memory size of 2345643 bytes exhausted"
[code]

execute this code, memory will be growing, and finally exceeded the limit.
I need to do a crawler and cycle run.

[2017-06-08 02:19] Ocramius commented on #6490
Any DB fetch will cause entities to be stored in the `UnitOfWork` as "managed instances. You will need to call `EntityManager#clear()` to avoid running out of memory.

See http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/batch-processing.html
See https://github.com/Ocramius/DoctrineBatchUtils

[2017-06-08 02:19] #6490 closed

[2017-06-08 05:18] ggirodda commented on #6484
The schema validation doesn't catch the error:
[Mapping]  OK - The mapping files are correct.

[2017-06-08 06:59] Ocramius commented on #6484
Yeah, so the property is probably un-mapped...

On 8 Jun 2017 7:18 a.m., "ggirodda" <notifications@github.com> wrote:

[2017-06-08 07:43] ggirodda commented on #6484
Yes, because when I try to do a doctrine:schema:update if I put or delete the property id from inherited entity nothing changes, the command tell me that there are no changes

[2017-06-08 09:45] jeroenvrooij commented on #6488
Hi Ocramius, thanks for your quick reply.

1. The error can be triggered by simply calling `$this->repository->find($id);`. The repository being used the the repository of the AbstracProduct, but we've also tried using the repo from the abstractLine (top level) and the OutputOrientedProduct (the concrete leaf) and that yields the same results.
2. I'm pretty sure it cannot be a wrong discriminator

[2017-06-08 12:30] Ocramius commented on #6488
Is there an automated test for this?

[2017-06-08 12:31] Ocramius commented on #6488
See https://github.com/doctrine/doctrine2/tree/971c40002522cfebe58d80aff21eef9fe439fa60/tests/Doctrine/Tests/ORM/Functional for examples

[2017-06-08 12:40] jeroenvrooij commented on #6488
No, there is no automated test for this. For me to make one would take me some time, which I do not have at the moment. So the best I can do for now are the repro steps I provided. Will that be an issue?

[2017-06-08 12:41] Ocramius commented on #6488
Well, until there's a test case nobody will really look at it :-\

[2017-06-08 18:04] andrconstruction opened #6492 "Please help with SuperClass"
https://pastebin.com/KvGn3KZZ
When I try to update entity ( preUpdate event ), in this case all work fine, because updated only useMod field, but if I try to add a new entity, and fired a prePersist event where updated both fields userCreate and userUpdate I got an error, than a new entity was found throug a relashionship Card#userCreate, what may be wrong? doctrine 2

[2017-06-09 15:01] tmbdrogba opened #6495 "Mysql @ManyToMany useless index"
Let's say I have this basic @ManyToMany relationship:

[code]

Doctrine creates a relation table `a_b` with two fields, with a primary key on those two fields. That's the right way.

Things is : it also creates two more indexes, one on each field, for the foreign keys. Why not just one ?

Actually, if my primary key is composite with `A` (as the primary field of the primary key) and `B`, mysql req

[2017-06-09 16:59] Ocramius commented on #6492
@andrconstruction a practical code example is needed - I didn't understand what the problem is here...

[2017-06-09 17:53] andrconstruction commented on #6492
entities here : https://pastebin.com/KvGn3KZZ

and preUpdate prePersist

 public function prePersist( $ea ) {
            $object = $ea->getObject();

            if ( $object instanceof AshAbstractEntity ) {
                $currentUser = $ea->getObjectManager()->getReference( User::class, $this->getAuthService()->getIdentity()->getId() );
                $currentUser2 = $ea->getObjectManager()->

[2017-06-09 17:56] andrconstruction commented on #6492
If I will make without a superclass, move  userMod and userCreate attributes into the Card Entity  all works fine and save

[2017-06-12 03:48] imsheng opened #6497 "lock table?"
[code]

my requirement is that if the result is empty, the data will be inserted and the data will remain unique, but the above method will not work.
when the amount of access is high and the concurrency is high, return null for many people
causing data to be inserted many times, data cannot be unique, and then error.
I want to use the lock table, but I don't know how

[2017-06-12 06:58] Ocramius commented on #6497
You want to set your transaction isolation level to `serialized` and then
run the entire operation in a transaction: this will prevent shadow writes
at some write performance cost.

On 12 Jun 2017 06:48, "imsheng" <notifications@github.com> wrote:

[2017-06-12 07:59] #6495 closed

[2017-06-12 08:07] Ocramius commented on #6495
what's the resolution here?

[2017-06-12 08:08] tmbdrogba commented on #6495
@Ocramius The point is to not create an index for nothing, here the index on `A`, because it's useless

[2017-06-12 08:12] Ocramius commented on #6495
Ah, I see: please remember to write down your thoughts when you change an issue.

Related: https://github.com/doctrine/dbal/pull/2470

[2017-06-12 12:22] martixy commented on #6470
I think I have the same problem. I've got `User (non-owning) <-> A bunch of extensions(e.g. customer, designer, etc)`.

User will not cache. Even if I mark all of the associations and owning entities.
Amusingly, it also creates a situation where caching makes performance _worse_ - when you have a cache hit for the owning entities, even if you make the query with eager fetch, it will retrieve the c

[2017-06-12 13:40] jhonatanTeixeira commented on #4291
I guess it's retarded to not allow associations on embeddables just because for some it represents VO's.
If i want to use the VO concept on my project i simply won't use associations on my embeddables. However if i want to use embeddables for other purposes such as split of concerns and composition of objects to avoid inheritance (as good oop practice). Doctrine is suposed to be a flexible framewo

[2017-06-12 14:45] Ocramius commented on #4291
I'm very well aware that I'm retarded :-)

It is not, but every foot-gun we can avoid shipping is helpful.

Just design them as associations or entities: nothing wrong with that.

[2017-06-12 14:46] Ocramius commented on #4291
Closing here meanwhile: if someone wants to take on the job of adding association mapping validation (preventing it, specifically) on metadata loading, feel free to do so.

[2017-06-12 14:46] #4291 closed

[2017-06-12 15:11] jhonatanTeixeira commented on #4291
Do you realize that adding more associations on a large project mey represent a big performance hit?
if i want to decompose my objects without affecting database performance on my projects i simply can't?
The hability to decompose objects while keeping a single table to avoid joins (and sometimes the responsability for hold some of the associations lies within those separeted objects) should not b

[2017-06-12 15:15] Ocramius commented on #4291
represent a big performance hit?

Considering hydration overhead and L2 cache support, this is very unlikely
a problem: since every embeddable converted to an association is also a
*-to-one on association, it is trivial to fetch-join those.

On 12 Jun 2017 18:11, "jhonatan" <notifications@github.com> wrote:

Do you realize that adding more associations on a large project mey
represent a big perfor

[2017-06-12 20:11] Frikkle opened #6499 "Persisting entities with OneToOne and OneToMany/ManyToOne relationship between them."
Last week I encountered an issue in one of our projects where we had two entities, call them A and B having a unidirectional OneToOne A->B (with the join column not nullable) and a OneToMany(A->B)/ManyToOne(B->A) bidirectional relationship between them.

The problem lies in the order of persisting them; when first persisting A, then B, a constraint violation is thrown: SQLSTATE[23000]: Integrity c

[2017-06-13 23:30] guilherme90 commented on #6023
Yes, I'm having the same problem with mock the Query object (it is not possible to create fake objects with final signature). And when I do this with AbstractQuery, it gives a constructor error.

How can we solve this?

[2017-06-13 23:35] Ocramius commented on #6023
Please don't mock the QueryBuilder or Query objects: use real instances
there.

On 14 Jun 2017 02:30, "Guilherme Nogueira" <notifications@github.com> wrote:

[2017-06-13 23:55] guilherme90 commented on #6023
Okay thanks.

[2017-06-14 07:30] #6023 closed

[2017-06-14 09:22] TheLevti commented on #4215
Ran into this issue today. Would be nice if that gets fixed. I have a table with many columns that I now need to write a native query for instead of using a simple query builder / DQL query.

[2017-06-15 13:50] mpajunen opened #6502 "Wrong column order in inherited table metadata"
We ran into an issue where the column and parameter order of an insert statement for a new entity don't match. Something like this:

[code]

(I might be able to add a failing test case later, but thought I'd report this now in case there's a straightforward way to fix the problem.)

The issue occurs when using Class Table Inheritance and metadata cache. As far as I can tell the problem is that fie

[2017-06-15 16:59] jrysig commented on #6271
I can reproduce this problem too.

[code]

[code]

[code]

[code]

(create postgresql user and database, see dbParams)

`composer install`
`vendor/bin/doctrine orm:schema-tool:update --force`

(rename primary key sapid to something else)
`vendor/bin/doctrine orm:schema-tool:update --force`

`vendor/bin/doctrine orm:schema-tool:update --dump-sql`

[2017-06-15 20:11] andrconstruction commented on #6492
Is anybody help?

[2017-06-16 15:35] guiwoda commented on #6072
What you want to do can be done, or hacked into.

For `*ToOne` _relations_ I'd make an embeddable class that holds the `class + id` pair, then use either Doctrine lifecycle hooks or static access (we're not giving a damn about the model anyway, right?) to fetch the proper entity:

[code]

Of course, this is unidirectional. I wouldn't try to make it bidirectional, I'd hack the query in a repository

[2017-06-16 21:27] core23 opened #6504 "Replace entity defintion"
I have an defintion for a `Location` entity under the namespace `Acme\LocationBundle` and want to extend this defintion in another bundle named `Acme\VisitBundle`. The only new thing on the extended `Location` entity is a list of multiple `Visit`s based on a OneToMany mapping.

I stumbled upon the [inheritance docs](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/inherit

[2017-06-17 08:15] fabricekabongo opened #6505 "On update, doctrine doesn't generate a changeset when the property changed is an entity"
## Scenario

I have a `Product` entity and an `Advert` entity.
Advert 1 was linked to Product 1, I change it to be linked to Product 2.

## Facts

The process calls `Doctrine\ORM\UnitOfWork::executeUpdates` and on line `1060` an Error is thrown:

Catchable Fatal Error: Argument 3 passed to Doctrine\ORM\Event\PreUpdateEventArgs::__construct() must be of the type array, null given, called in /var/ww

[2017-06-17 10:56] Ocramius commented on #6505
Requires a test case

On Jun 17, 2017 11:38, "Fabrice Kabongo" <notifications@github.com> wrote:

[2017-06-17 13:29] Ocramius commented on #6504
@core23 to extend an entity, you will need to subclass it, or else the original definition may not work as expected anymore (don't change the original definition, as it's not the business of your new bundle, and you may break things)

[2017-06-18 08:21] core23 commented on #6504
Thanks for the explanation @Ocramius

What about removing an entity defintion. All my mapping files are location under `Resources/config/doctrine` and will be loaded by the DoctrineBundle.

Is there a way to forbid loading a specific file or remove it after loading the defintions? So doctrine won't know the original entity and I can replace it completly with the entity located under `Acme\VisitBun

[2017-06-18 15:25] Ocramius commented on #6504
How will the original code behave then?

[2017-06-19 08:51] akomm commented on #5992
Same issue in onFlush. Only here I can not flush, so I have to do something lie $entity->collection->toArray() to force a fetch & merge. A better workaround is appreciated.

[2017-06-19 09:17] Soullivaneuh commented on #6154
Well, what is the goal of the generator if we can't use it?

It would be a great addition to, at laest, add a possibility to pass custom templates to your generator and/or override the service IMHO.

[2017-06-19 12:32] steevanb opened #6509 "PersistentCollection::clear() and removeElement() with orphanRemoval"
Hi !

I have a simple User entity, linked to Comment by oneToMany, with orphanRemoval:
[CODE]class User
{
    protected $comments;

    public function __construct()
    {
        $this->comments = new ArrayCollection();
    }

    public function getComments(): Collection
    {
        return $this->comments;
    }

    public function addComment(Comment $comment): self
    {
        if ($this->c

[2017-06-19 13:26] alcaeus commented on #6509
Cross-referencing doctrine/mongodb-odm#1248, where we solved the same issue by unscheduling orphan removal in PersistentCollection::add

[2017-06-19 14:07] steevanb commented on #6509
Looks good, but why this is not fixed for every databases ? Like MySQL ?

[2017-06-19 14:08] alcaeus commented on #6509
@steevanb Because I only maintain ODM where I originally found the issue. I haven't used an SQL based database in years. I'll try to port the fix over to ORM.

[2017-06-19 15:11] Khodl opened #6510 "Add microseconds support on datetime/time types"
First of all, sorry if this has already been reported, but I already checked for 3 days a solution without succeeding.

Here is my situation:

I implement a parent class, GenericMessage
[code]
with (at least) two children:
[code]
and
[code]

Then I insert create different instances of these two messages:

[code]

However, the id are not in the right order, as inserts are nested by entity by the Un

[2017-06-19 15:24] core23 commented on #6504
The `Location` entity in the original bundle has no dependencies to other entitys. So this should be no problem after all.

[2017-06-19 15:26] steevanb commented on #6509
Ok thanks !

[2017-06-20 01:38] #6497 closed

[2017-06-20 05:06] lcobucci commented on #6510
@Khodl the order of the statements will not necessarily match with the order of `$em->persist()` calls, it's calculated based on several things (specially dependencies). However the ORM will process things entity by entity (not table).

I don't understand why this is a problem for you though... I mean, why the ID/order is so important to you?

[2017-06-20 05:10] Ocramius commented on #6504
The other bundle still relies on it though, so replacing it may break that logic.

All of this can be done via [`loadClassMetadata` listeners](https://github.com/doctrine/doctrine2/blob/fc67b398a1efd3d61837778e2cda2d05a395778c/lib/Doctrine/ORM/Mapping/ClassMetadataFactory.php#L240-L243), but I'm closing here, because it shouldn't be done, especially across library boundaries.

If you need to re-de

[2017-06-20 05:10] #6504 closed

[2017-06-20 05:19] Ocramius commented on #6424
Handled in #6507 (for ORM)

[2017-06-20 05:19] #6424 closed

[2017-06-20 05:22] Ocramius commented on #6154
Quickly scaffolding entity classes when importing legacy projects. Most folks abuse it by just generating entities at every DB change instead.

[2017-06-20 05:34] Ocramius commented on #4215
Closing as `won't fix`: this is an optimisation concern that should NOT land in core.

Assumptions about which entity will be fetched in a JTI query are up to the user, and therefore should be handled in native SQL if the user of the ORM feels confident to do so.

[2017-06-20 05:34] #4215 closed

[2017-06-20 09:43] aledelgo opened #6512 "[Question] Is there a way to infer custom parameter type automatically?"
Scraping the code i've noticed that it is about impossible to change the implementation of
`ParameterTypeInferer` with own custom code.
It seems to me impossible also to change the `setParameter` function of class Query because it is declared _final._
The problem is i want to automatically infer my custom type when the value of a parameter is an instance of a certain class.
To be precise, i'm in L

[2017-06-20 09:45] Ocramius commented on #6512
No, it's not designed to support that.

Pass in the type explicitly.

[2017-06-20 09:45] #6512 closed

[2017-06-20 09:46] Ocramius commented on #6512
See also https://github.com/doctrine/doctrine2/issues/6443

[2017-06-20 10:15] aledelgo commented on #6512
ok, thanks!

[2017-06-20 12:25] Khodl commented on #6510
Yes I noticed that when checked Doctrine's code to see how it works. While I can totally understand why dependencies are required and impact the order, I don't get why nesting by entity couldn't be avoided (except maybe in case Doctrine sometimes inserts multiple values in one query).

My reason: I want to use my ID to sort my entities (Message) later. It's especially a problem as MySQL doesn't su

[2017-06-20 12:39] lcobucci commented on #6510
That's an improvement that we're planning to implement in the near future (3.x).

Not really, unfortunately MySQL 5.7 support is not 100% yet... I wouldn't rely on an auto-incremented id if you need that level of precision though (specially because it would reflect the moment where the object got persisted and not really the moment it was created/edited).

[2017-06-20 13:02] Khodl commented on #6510
I see. Also, it totally makes sense in case I need to switch to another db that doesn't use incremental ids.

About 3.x roadmap, do you think it will support MySQL 5.7 (or at least precision)? And do you have any idea of the deadline?

Thanks for your time!

[2017-06-20 13:42] lcobucci commented on #6510
We're trying to get MySQL 5.7 compatibility to 2.6 but we can always get more help if you're willing to send your contribution. No idea in terms of deadline, we're still organising the release https://github.com/doctrine/doctrine2/milestone/2

[2017-06-20 17:05] #4321 closed

[2017-06-20 17:08] Ocramius commented on #4414
Closing this one - duplicate of #1318

[2017-06-20 17:08] #4414 closed

[2017-06-21 04:05] #6167 closed

[2017-06-21 04:05] Ocramius commented on #6167
Handled in #6168

[2017-06-21 05:17] dengm129 commented on #6303
#5989

[2017-06-21 05:33] #4129 closed

[2017-06-21 06:03] Ocramius commented on #6118
Moved to #6513, where this change is implemented

[2017-06-21 06:03] #6118 closed

[2017-06-21 06:04] #4428 closed

[2017-06-21 10:26] Kwadz opened #6514 "Unknown column type "dateinterval" requested"
The [documentation](http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/types.html#dateinterval) mentions we can use `dateinterval` type.

However when I try to use it like:

[code]

I get:

[code]

I am using `doctrine/dbal` v2.5.12 and `doctrine/orm` v2.5.6.

[2017-06-21 10:34] Ocramius commented on #6514
@Kwadz that's only for DBAL `master` (`2.6`) as per https://github.com/doctrine/dbal/pull/854

[2017-06-21 10:34] #6514 closed

[2017-06-21 10:39] Kwadz commented on #6514
@Ocramius In this case, to avoid confusion, may be we should mention it in the doc like it's done for [datetime-immutable](http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/types.html#datetime-immutable) with:

[2017-06-21 10:41] Ocramius commented on #6514
@Kwadz that's a long standing issue with the documentation in general: we want to split it at RST compilation level, but never managed to do so.

See https://github.com/doctrine/doctrine-website-sphinx/issues/149

[2017-06-22 02:48] Ocramius commented on #6484
Thought about this one some more, and I'm going to close it as `invalid`.

To recap:

 * a private property `id` was defined in a parent class `A`
 * a private property `id` was defined in a child class of `A`, called `B`
 * `A#$id` was mapped
 * `B#$id` was not mapped

Therefore this is expected behavior.

We can possibly add exceptions and error messages for this scenario, but it's not going to

[2017-06-22 02:48] #6484 closed

[2017-06-22 06:48] lcobucci commented on #5620
@Ocramius do we need to update anything here regarding this issue?

[2017-06-22 06:49] lcobucci commented on #2190
Handled in #6215

[2017-06-22 06:49] #2190 closed

[2017-06-22 07:15] Ocramius commented on #5620
No, this is dealt with in https://github.com/doctrine/doctrine2/pull/5623

[2017-06-22 07:15] #5620 closed

[2017-06-22 08:21] sven-communitales opened #6516 "PersistentCollection ignore oderBy on matching($criteria)"
doctrine/orm: 2.5.6

The PersistentCollection::matching() method does not take the ordering of a Criteria in account. For an ArrayCollection is works fine.

Reproduce:

I have two Entities

    class Product {

        /**
         * @var FilterAttribute[]|ArrayCollection
         * @ORM\ManyToMany(targetEntity="FilterAttribute")
         * @ORM\JoinTable(name="product_filter_attribute",

[2017-06-22 10:09] charleslxh opened #6517 "Does Mysql ORM supports cursor like MyBatis?"
Does Doctrine Mysql ORM support `next()` and `hasNext()` to control `Cursor`, just like MyBatis.

[code]

[2017-06-22 10:39] Ocramius commented on #6517
See http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/batch-processing.html

[2017-06-22 10:39] #6517 closed

[2017-06-22 12:20] jennevdmeer opened #6518 "NamingStrategy::referenceColumnName not used in OneToOne relation (Annotations)"
Some obligatory versions to start with quoted from the source files:
* COMMON 2.7.0-DEV
* DBAL 2.5.12
* ORM 2.5.5-DEV
* Symfony 3.3.2

---

I tried implementing a custom naming strategy for increased auto naming flexibility and added CamelCase. This is currently loaded and works with the exception of:

In the case of a OneToOne using annotations (have not checked other methods), `referenceColumnNa

[2017-06-22 14:35] anacicconi commented on #6271
I have the same bug using Doctrine + Oracle when I'm changing a composite key.

[2017-06-22 18:46] Ocramius commented on #6518
@jennevdmeer I updated the link references - remember to not link `master`, but absolute hashes or tags, because `master` moves ;-)

[2017-06-22 18:51] Ocramius commented on #6518
@jennevdmeer you tried really hard to describe what is going on here, and indeed it's a long standing bug about the default value of `$referencedColumnName`, which should be inferred rather than pre-assigned.

Still, a test case would be much more efficient for starting a fix: see https://github.com/doctrine/doctrine2/tree/af1ea1ae1d4f0b945eb37c94732ed7e1e44099d8/tests/Doctrine/Tests/ORM/Functiona

[2017-06-22 20:52] jrysig commented on #6271
@Ocramius, could you please re-open this issue?

[2017-06-23 01:20] Ocramius commented on #6271
As asked already twice, a test case is needed. The above are examples.

[2017-06-23 02:06] johnpancoast commented on #6271
Apologies for not getting to writing this test case, but I have no time at the moment due to other projects (typical story, I know). It's easily re-produceable using those steps iirc. That's the most I can offer at the moment, unfortunately.

[2017-06-23 06:08] #4621 closed

[2017-06-23 06:55] lcobucci commented on #5992
@awhitby could you please send us a PR with a functional test that reproduces this behaviour? Sending just an example doesn't give us the complete overview of things and why it fails. You can find examples on https://github.com/doctrine/doctrine2/tree/971c40002522cfebe58d80aff21eef9fe439fa60/tests/Doctrine/Tests/ORM/Functional

[2017-06-23 06:57] lcobucci commented on #6516
@sven-communitales could you please send us a PR with a functional test that reproduces this behaviour? Sending just an example doesn't give us the complete overview of things and why it fails. You can find examples on https://github.com/doctrine/doctrine2/tree/971c40002522cfebe58d80aff21eef9fe439fa60/tests/Doctrine/Tests/ORM/Functional

[2017-06-23 07:00] lcobucci commented on #6509
@steevanb could you please send us a PR with a functional test that reproduces this behaviour? Sending just an example doesn't give us the complete overview of things and why it fails. You can find examples on https://github.com/doctrine/doctrine2/tree/971c40002522cfebe58d80aff21eef9fe439fa60/tests/Doctrine/Tests/ORM/Functional

[2017-06-23 07:03] lcobucci commented on #6499
@triasinformatica-gabe could you check if this issue happens on `master`? Commit order has been fixed after a major refactoring and probably solves this issue.

[2017-06-23 07:06] lcobucci commented on #3535
@astepin thanks! Closing.

[2017-06-23 07:06] #3535 closed

[2017-06-23 07:08] triasinformatica-gabe commented on #6499
@lcobucci I will check this later today and get back to you with the findings. Thansk for the reply.

[2017-06-23 09:28] lcobucci commented on #6499
@triasinformatica-gabe awesome! Please keep in mind that dependencies versions for `v2.6` (`master`) have been bumped up (PHP and packages).

[2017-06-23 10:22] agirot opened #6520 "Feature request DQL IN/NOT IT (entity.x, entity.y, entity.z)"
Hi,
What do you think to add IN/NOT IN with field entity (like native mysql/pg) ?

`
SELECT a FROM AppBundle:A a INNER JOIN a.fk_b b WHERE a.c NOT IN (b.x, b.y)
`

Currently the result is a Doctrine\ORM\Query\QueryException :-)

[2017-06-23 10:25] Ocramius commented on #6520
@agirot you could modify `InParameter` parsing (http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/dql-doctrine-query-language.html#literal-values) to support `ArithmeticExpression`

[2017-06-23 10:34] lcobucci commented on #6520
@Ocramius Isn't that being handled by #6476?

[2017-06-23 10:36] Ocramius commented on #6520
@lcobucci ah yes, indeed. Still, that PR requires checking, as I have no idea if/how the query parsing would react to that change :-\

[2017-06-23 10:36] #6520 closed

[2017-06-23 10:37] lcobucci commented on #6520
@Ocramius sure thing, I was just referencing 😄

[2017-06-23 10:49] lcobucci commented on #6510
@Ocramius should we add this to `2.6` as well (store microseconds)... it can be added to other platforms as well (PostgreSQL supports it seems we don't use it - https://github.com/doctrine/dbal/blob/638cb41b859d22007218bbb32b742f1a41f133a2/lib/Doctrine/DBAL/Platforms/PostgreSqlPlatform.php#L1058).

It should be done on DBAL though.

[2017-06-23 14:36] davidbarratt commented on #6459
I created a library for this if anyone is interested:
https://packagist.org/packages/geosocio/entity-attacher

[2017-06-23 19:28] MarekKarmelski opened #6521 "No single column hydration"
Doctrine don't have single column hydrator that return one dimensional array, doctrine return nested arrays with single column values. Can I create PR with new hydrator?

[2017-06-23 19:31] Ocramius commented on #6521
@MarekKarmelski is it worth doing that? Usually, `array_map(`reset`, $result)` does that...

[2017-06-23 19:34] MarekKarmelski commented on #6521
Yeap but in this case You need use php language to do this, I think better will be move this layer upper to db drive? What You think?

[2017-06-23 19:36] Ocramius commented on #6521
@MarekKarmelski the question is: "is it worth it"?

That single call is not going to be your bottleneck, so my opinion here is that this is not needed at all.

[2017-06-23 19:40] MarekKarmelski commented on #6521
@Ocramius One line of code less :) If You think that it isn't worth it, You can close this issue :).

[2017-06-23 19:43] Ocramius commented on #6521
You'd have to write a lot more lines of code that would need maintenance, documentation and BC in the ORM ;-)

[2017-06-23 19:43] #6521 closed

[2017-06-24 01:42] #4772 closed

[2017-06-24 01:43] Ocramius commented on #3925
Handled in #1515

[2017-06-24 01:43] #3925 closed

[2017-06-24 08:36] lcobucci commented on #6459
Closing it since @davidbarrat created a lib to handle that possibility.

[2017-06-24 08:36] #6459 closed

[2017-06-24 10:49] holtkamp commented on #6450
@lcobucci I had a look and came up with a failing test, note that for the second scenario DQL generation seems to succeed and SQL generation fails.

[code]

Results in
[code]

[2017-06-25 08:16] imsheng opened #6525 "Batch Processing ,out of memory"
http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/batch-processing.html#iterating-large-results-for-data-processing

[code]

[code]

Total: 4000,000 rows
I tried the code and found that was out of memory

[2017-06-25 08:19] Ocramius commented on #6525
@imsheng this needs more details, such as:

 * which associations may be involved
 * whether this is reproducible on `master` (see https://github.com/doctrine/doctrine2/pull/1515)

[2017-06-25 08:37] Ocramius commented on #6525
Run it with `-vvv`

[2017-06-25 08:46] imsheng commented on #6525
[code]

[2017-06-25 09:07] Ocramius commented on #6525
That still shows no trace, but the fact that it is crashing within the connection may indicate that the resultset is too big.

[2017-06-25 09:13] imsheng commented on #6525
what should I do? I need to deal with tens of millions of data

[2017-06-25 09:17] Ocramius commented on #6525
Sadly, PDO does not have cursor-alike operations: mysqli does, for example.

Just a hint though: if you are off doing million records operations, then the ORM is likely the wrong tool for the job...

[2017-06-25 09:18] Ocramius commented on #6525
Sadly, PDO does not have cursor-alike operations: mysqli does, for example.

Just a hint though: if you are off doing million records operations, then the ORM is likely the wrong tool for the job...

Ref: https://github.com/doctrine/dbal/pull/2718

[2017-06-25 10:55] imsheng commented on #6525
I tried this method, but still out of memory：

[code]

[2017-06-25 10:58] Ocramius commented on #6525
Are you clearing in between results? Also, that method is unsafe if data is
added or deleted during the batch operation

On 25 Jun 2017 12:55 PM, "imsheng" <notifications@github.com> wrote:

I tried this method, but still out of memory：

$count = $this->em->getRepository('AppBundle:xxxxxx')->createQueryBuilder('xxxxxxx')
            ->select('count(xxxxxxx) c')
            ->getQuery()

[2017-06-25 11:19] imsheng commented on #6525
without update or insert.
The same is true with add this code.
[code]
what I do is a crawler
the php needs to run for a long time.
Thanks for your help  :)

[2017-06-25 11:59] Ocramius commented on #6525
Then there's a memleak somewhere else - this needs debugging either in your codebase, or be reproduced in an isolated test case within this library: I can't help further without any of those.

[2017-06-26 11:57] boesing commented on #5981
@yurybykov I converted this issue to a feature request

[2017-06-26 12:12] boesing opened #6526 "OneToOne cascade persist throws exception"
Hey there,

I have two relating entities:

[code]

[code]

If I want to persist A like this, I get the exception, that there is no identifier value set yet (ofc not, I am actually persisting tho...):

[code]

The Problem is, that the Method `\Doctrine\ORM\UnitOfWork::scheduleForInsert` wants to create an identifier hash but since we did not flushed the entities yet, there aint any value other than

[2017-06-26 13:21] Ocramius commented on #6526
Is it really the first statement throwing an exception here?

[code]

Can we eventually have a test case?

[2017-06-26 15:38] ldesmeules opened #6528 "Update Sql on inheritance Entity : error"
Error in sql query on inheritanceType "JOINED"
Example on my table Rdv
` * @ORM\InheritanceType("JOINED")`
` * @ORM\DiscriminatorColumn(name="typeRdv", type="string")`
` * @ORM\DiscriminatorMap({"simple" = "Rdv", "date" = "RdvDate"})`

With query:
`$this->_em->createQuery('UPDATE AppBundle:Rdv r SET r.time = (SELECT t FROM AppBundle:Time t JOIN t.rangeTime rt WHERE t.time=r.saveTime AND rt.date=r.

[2017-06-26 22:07] lcobucci commented on #6526
@boesing @Ocramius this is definitely related to the refactoring of the commit order calculation that was done a couple years ago and which is just part of `2.6.x`. Since the changes are quite complex to backport we decided to keep that only on `master`.

@boesing as I said on your PR, try to reproduce this against `master`. If you're unable, I do recommend you to start changing your application t

[2017-06-26 22:21] lcobucci commented on #6528
@ldesmeules could you please send us a failing test case that reproduces that behaviour? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-06-26 22:34] boesing commented on #6526
@lcobucci The problem is, that we are not using PHP 7.1 yet... :/

[2017-06-26 22:55] lcobucci commented on #6526
@boesing I understand but this seems to be one of the edge cases that we couldn't backport and unfortunately if you want to use that mapping you would have to update.

If you don't manage to reproduce this on `master`, you could try to use a fixed commit on your `composer.json` to "solve" this until you upgrade your stack to PHP 7.1.
It's **definitely not ideal** but serves as a **TEMPORARY** work

[2017-06-27 02:29] Majkl578 opened #6529 "Consider PHP 7.2 for ORM.NEXT"
Primary motivation:
* [**object** typehint](https://wiki.php.net/rfc/object-typehint)
  * should eliminate lots of mixed types across whole code base
  * greatly improving type safety & avoid potential mixed-related bugs
  * clean-up public API
  * less BC breaks in future versions
* [parameter type widening](https://wiki.php.net/rfc/parameter-no-type-variance)
  * could ease migration
  * mostly

[2017-06-27 05:26] Ocramius commented on #6529
I think this is more than feasible, and yes, it would allow us to add type hints to interfaces without breaking existing implementations. We just need to enforce the PHP constraint to be `^7.2` there.

Overall :+1:

[2017-06-27 06:09] alcaeus commented on #6529
FWIW, ODM ng (the upcoming 2.0 version) will most likely also require PHP 7.2, so we could let this change trickle down to the common libraries as well.

[2017-06-27 19:15] davidbarratt opened #6531 "Cannot persist parent entity if OneToOne shares the same id"
If you have an Entity like this:
[code]

and the related entity:
[code]

Doing something like this:
[code]
will always fail with an error:

I've also tried explicit persisting:
[code]

But also fails with the same error.

The only work-around I have found is to remove the related entity completely, then persist & flush and then persist the related entity:
[code]

Is there a way to do this without

[2017-06-27 19:45] lcobucci commented on #6531
@davidbarratt this seems to be related to the commit order calculator that was refactored on 2.6 and couldn't be backported, could you please send us a failing test case that reproduces that behaviour (using master)? It would help us a lot to identify and fix the issue you're describing.

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/t

[2017-06-28 04:38] Ocramius commented on #6526
I closed this as `incomplete` on the PR, closing it here as well.

@boesing all we need is to test it against `master` on the repository. Due to the patches that landed in `2.6`, we won't be able to fix this for `2.5` anymore, sorry.

[2017-06-28 04:38] #6526 closed

[2017-06-28 09:51] triasinformatica-gabe commented on #6499
@lcobucci I've just tested the minimal example against `^2.6`/`master` and the issue still occurs.

In order to help pinpoint the issue I've created a repository with the minimal example (Symfony 2.8.*, DoctrineBundle, Doctrine and PHPUnit). I added the example entities A and B mentioned above as well as two simple PHPUnit tests indicating the problematic scenario.

Setting it up would be a matter

[2017-06-28 12:58] lcobucci commented on #6499
@triasinformatica-gabe what would really helps us is a PR with that failing test. Could you please send it?

You can find examples on https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket

[2017-06-28 14:29] triasinformatica-gabe commented on #6499
@lcobucci Sure, I'll look into it for you.

[2017-06-28 19:26] vmunizphone2b opened #6532 "Cannot insert data into table when schema is diferent of standard, but the entity has the schema annotation in @ORM\Table"
The problem could be simulated when command doctrine:fixture:load is executed, only the entity with standard schema has its data inserted.

[code]

It is possible correct the problem, modifying the following code in the file  lib/Doctrine/ORM/Mapping/ClassMetadataInfo.php in line 3180.

[code]

[2017-06-29 10:35] triasinformatica-gabe commented on #6499
@lcobucci I created PR #6533 as per your request. I also found the cause of the issue and provided a fix. It seems like a logic error that resulted from code optimization.

[2017-06-29 17:15] Arkemlar commented on #4291
Since Embeddables is reserved to be VO. Why not create similar mechanism to allow required assotiations functionallity??

[2017-06-29 18:02] Ocramius commented on #4291
That's what you call "entities" :-)

[2017-06-29 18:14] samusenkoiv commented on #6307
@lcobucci although this is not a failing functional test but at least it explains the nature of the issue

Consider the following case:
We have two rows in database, say orders with status `unpaid`.
We also have a user which owns those orders. User entity has the following method:
[code]
In some part of the app we retrieve one of those orders from `entityManager` and set the status to `paid`. Now,

[2017-06-29 19:04] Arkemlar commented on #4291
@Ocramius nope! Entities requires distinct table. But I mean just an object inside entity object, this object has relations with other entities. I need that decomposition because this nested object has special domain meaning and will be used-and-type hinted in some methods. Well, at this point it might be made as entity, but imagine if I need to do such decomposition many times for many entities -

[2017-06-30 11:56] MaximStrutinskiy opened #6536 "Order By custom field."
[symfony3, doctrine orm]
Hi everyone.
I create custom date in ->search() for sorting my items by this field, create name for this:
"(certificate.price) - ((certificate.price / 100) * (certificate.discount)) AS total_price",
but i cant use them in ->andWhere(), i write formula again.
Can i use something this name "total_price" without "(certificate.price) - ((certificate.price / 100) * (certificate

[2017-06-30 12:06] MaximStrutinskiy commented on #6536
[symfony3, doctrine orm]
Hi everyone.
I create custom date in ->search() for sorting my items by this field, create name for this:
"(certificate.price) - ((certificate.price / 100) * (certificate.discount)) AS total_price",
but i cant use them in ->andWhere(), i write formula again.
Can i use something this name "total_price" without "(certificate.price) - ((certificate.price / 100) * (certificate

[2017-06-30 12:54] lukaszjakubek commented on #6343
I confirm this on one-to-one bidirectional association. After owning side is soft deleted. When i get inversed side entity by simple select it also join owning side without filter applied.
Example:
[code]

This class has also SoftDeleteable extension applied from Atlantic18/DoctrineExtensions which adds SQL filters.

And when i try to select single entity i get SQL:
[code]

[2017-06-30 14:46] smilesrg commented on #6437
@Ocramius Not a doctrine bug, closing this issue.

[2017-06-30 14:46] #6437 closed

[2017-06-30 19:04] guiwoda opened #6537 "Patch tag with accumulated bug fixes?"
I'm again struggling with L2 cache and found that https://github.com/doctrine/doctrine2/pull/1552 is not yet tagged.
Is there any chance to release a patch version that includes fixes so far? I don't really want to depend on `dev-master` for a live project.

Thanks!

[2017-06-30 19:05] guiwoda commented on #6537
This PR got merged in 2015 BTW :sweat_smile:

[2017-06-30 19:15] Majkl578 commented on #6537
There will be a 2.6 release with these bugfixes, but there are still some tasks for the 2.6 milestone. See https://github.com/doctrine/doctrine2/projects/2.

[2017-06-30 19:28] guiwoda commented on #6537
@Majkl578 I don't see #1552 in there :sob:

[2017-06-30 19:56] Majkl578 commented on #6537
Don't worry, as long as it's in master and doesn't break BC, it will be there. :)

[2017-06-30 19:58] Ocramius commented on #6537
Closing as this one was answered by @Majkl578

[2017-06-30 19:58] #6537 closed

[2017-07-01 05:39] kbora504 opened #6538 "Doctrine 2 Doctrine\ORM\Persisters\Entity\BasicEntityPersister::getSelectSQL() method issue"
There seems to be a bug in method
**[public function getSelectSQL($criteria, $assoc = null, $lockMode = null, $limit = null, $offset = null, array $orderBy = null)](https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/Persisters/Entity/BasicEntityPersister.php#L1041)**
As per documentation of **Doctrine\ORM\Persisters\Entity\EntityPersister** the **$criteria** parameter should be of

[2017-07-01 06:58] Ocramius commented on #6538
@kbora504 could you please write a failing test case that demonstrates the issue?

[2017-07-02 02:45] kbora504 commented on #6538
It is very obvious from code written. Just check the passed parameter type is array and we are checking for `instanceof Criteria`.

[2017-07-02 11:06] Ocramius commented on #6538
It doesn't really matter from our perspective: tests verify the behavior and prevent regressions. No tests = no fix/merge ;-)

[2017-07-02 11:13] kbora504 commented on #6538
@Ocramius I understand your point. But how can I write test case for a satement inside function?
:(

[2017-07-02 11:26] Ocramius commented on #6538
@kbora504 you got a stack trace there: how did you get to that failure? Can you isolate it and make an example that reproduces the problem? See https://github.com/doctrine/doctrine2/tree/388afb46d0cb3ed0c51332e8df0de9e942c2690b/tests/Doctrine/Tests/ORM/Functional/Ticket for examples

[2017-07-03 01:27] charleslxh commented on #6517
@Ocramius THX!

[2017-07-04 11:23] ptlis commented on #5622
Is there any intention to fix this issue? mySQL 5.7 has been out for > 2.5 years!

The (awful) solution I'm using can be found in [this gist](https://gist.github.com/ptlis/e97d16551f967b6e3cc7271d8ea2b001). I tried a number of permutations of SQL modes to try to keep some data-integrity guarantees but in the end gave up - be warned that if you use the above solution you've significantly weakened m

[2017-07-04 11:29] snoek09 commented on #5622
@ptlis this is currently being fixed in https://github.com/doctrine/doctrine2/pull/6143

[2017-07-04 12:23] aimfeld opened #6539 "Doctrine second level result caching not working with deep fetch join query"
I have posted this question on stackoverflow [here](https://stackoverflow.com/questions/44900551/doctrine-second-level-result-caching-not-working-with-deep-fetch-join-query). It might be a doctrine bug (or a known limitation), so hope it's okay if I ask here as well.

I have the following query in a doctrine repository:

[code]
The query fetches page objects, their group objects and the group labe

[2017-07-05 09:33] msztolcman commented on #6327
I had same problem, with changed name of primary key field (without changed sequence name). Created entity, persist & flush, commit. Nothing in DB, no exception at all. But when I manually looked into PDO errors:

```$this->logger->debug("SQL ERROR INFO: " . print_r($this->em->getConnection()->errorInfo(), 1));```

There was info about invalid sequence. Fixing sequence name to expected by doctrine

[2017-07-05 20:46] wsalazar opened #6540 "enum not supported"
Good afternoon,

I have an issue with the mysql enum type. My company uses a framework that is no longer supported, Kohana 3.x. We have a schema that uses the enum type. I've read some documentation that says that Doctrine2 doesn't support enum because enum has state while Doctrine2 does not. That is to say, enum comes predefined with values already and Doctrine doesn't like that.

This quote can